# Pokemon Data Analysis
---

## Importing Required Modules 
1. importing numpy for mathematical operation on arrays and dataframe.
2. importing pandas for reading data and data manipualtion.

In [103]:
import numpy as np
import pandas as pd

## Reading dataaset

In [104]:
df=pd.read_csv('pokemon.csv')

In [105]:
df.head() ### viewing the data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
df.shape

(800, 12)

## To read 10 rows from starting

In [106]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

## To read last 5 rows

In [6]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

### Short Description abot the Dataset
- Pokedex entry number of the Pokemon

pokedex is an  catalog that provide information regarding the various species of Pokémon featured in the Pokémon video game, anime and manga series.)
- Name = name of the Pokemon
- Type 1 = each Pokemon has a type, this determines weakness/resistance to attacks [referred to as the primary type]
- Type 2 = some Pokemon are dual type and have 2 [referred to as the secondary type]
- HP = hit points, or health, defines how much damage a Pokemon can withstand before fainting
- Attack =  the base modifier for normal attacks
- Defense = the base damage resistance against normal attacks
- Sp. Atk = special attack, the base modifier for special attacks
- Sp. Def = the base damage resistance against special attacks
- Speed = determines which Pokemon attacks first each round
- Generation = refers to which grouping/game series the Pokemon was released in
- Legendary = a boolean that identifies whether the Pokemon is legendary

## To check the rows and columns in a data

In [107]:
df.shape

(800, 12)

## To see all the columns in a data

In [108]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

## To check the datatypes of a column

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      359 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

## statistical summary

In [110]:
df.describe().T # numeric cols

            count       mean         std   min     25%    50%     75%    max
#           800.0  362.81375  208.343798   1.0  184.75  364.5  539.25  721.0
HP          800.0   69.25875   25.534669   1.0   50.00   65.0   80.00  255.0
Attack      800.0   79.00125   32.457366   5.0   55.00   75.0  100.00  190.0
Defense     800.0   73.84250   31.183501   5.0   50.00   70.0   90.00  230.0
Sp. Atk     800.0   72.82000   32.722294  10.0   49.75   65.0   95.00  194.0
Sp. Def     800.0   71.90250   27.828916  20.0   50.00   70.0   90.00  230.0
Speed       800.0   68.27750   29.060474   5.0   45.00   65.0   90.00  180.0
Generation  800.0    3.32375    1.661290   1.0    2.00    3.0    5.00    6.0

In [111]:
df.describe(include='object') # non numeric

             Name Type 1  Type 2
count         800    800     359
unique        800     18      18
top     Bulbasaur  Water  Flying
freq            1    112      81

### from this we can say that type 2 has null values as it has 359 enteries.

top depicts : most frquent values
the top of name columns ca be any as it  has all unique enteries.

In [112]:
df["Type 2"].mode()

0    Flying
Name: Type 2, dtype: object

## To check the missing values in data

In [113]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        441
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

## to see missing values %

In [114]:
df.isnull().sum()/df.shape[0]*100

#              0.000
Name           0.000
Type 1         0.000
Type 2        55.125
HP             0.000
Attack         0.000
Defense        0.000
Sp. Atk        0.000
Sp. Def        0.000
Speed          0.000
Generation     0.000
Legendary      0.000
dtype: float64

## To drop irrelavant columns : type 2 and #

In [115]:
df.drop(columns=['Type 2','#'],inplace=True)

In [116]:
df

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,60,62,63,80,80,60,1,False
2,Venusaur,Grass,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False
4,Charmander,Fire,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True
799,Volcanion,Fire,80,110,120,130,90,70,6,True

## To read each column value

In [117]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [118]:
## to see all columns values using loop.
for i in df['Name']:
    
        
    print(i)

Bulbasaur
Ivysaur
Venusaur
VenusaurMega Venusaur
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Squirtle
Wartortle
Blastoise
BlastoiseMega Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
BeedrillMega Beedrill
Pidgey
Pidgeotto
Pidgeot
PidgeotMega Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
Sandshrew
Sandslash
Nidoran (Female)
Nidorina
Nidoqueen
Nidoran (Male)
Nidorino
Nidoking
Clefairy
Clefable
Vulpix
Ninetales
Jigglypuff
Wigglytuff
Zubat
Golbat
Oddish
Gloom
Vileplume
Paras
Parasect
Venonat
Venomoth
Diglett
Dugtrio
Meowth
Persian
Psyduck
Golduck
Mankey
Primeape
Growlithe
Arcanine
Poliwag
Poliwhirl
Poliwrath
Abra
Kadabra
Alakazam
AlakazamMega Alakazam
Machop
Machoke
Machamp
Bellsprout
Weepinbell
Victreebel
Tentacool
Tentacruel
Geodude
Graveler
Golem
Ponyta
Rapidash
Slowpoke
Slowbro
SlowbroMega Slowbro
Magnemite
Magneton
Farfetch'd
Doduo
Dodrio
Seel
Dewgong
Grimer
Muk
Shellder
Cloyster
Gastly
Haunter
Gengar
GengarMega Gengar
Onix
Drowzee
Hypno
Krabby
Kingler
Voltorb
Electrode
Exeggcute
Exeggutor
Cubone
Marowak
Hitmonlee
Hitmonchan
Lickitung
Koffing
Weezing
Rhyhorn
Rhydon
Chansey
Tangela
Kangaskhan
KangaskhanMega Kangaskhan
Horsea
Seadra
Goldeen
Seaking
Staryu
Starmie
Mr. Mime
Scyther
Jynx
Electabuzz
Magmar
Pinsir
PinsirMega Pinsir
Tauros
Magikarp
Gyarados
GyaradosMega Gyarados
Lapras
Ditto
Eevee
Vaporeon
Jolteon
Flareon
Porygon
Omanyte
Omastar
Kabuto
Kabutops
Aerodactyl
AerodactylMega Aerodactyl
Snorlax
Articuno
Zapdos
Moltres
Dratini
Dragonair
Dragonite
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Mew
Chikorita
Bayleef
Meganium
Cyndaquil
Quilava
Typhlosion
Totodile
Croconaw
Feraligatr
Sentret
Furret
Hoothoot
Noctowl
Ledyba
Ledian
Spinarak
Ariados
Crobat
Chinchou
Lanturn
Pichu
Cleffa
Igglybuff
Togepi
Togetic
Natu
Xatu
Mareep
Flaaffy
Ampharos
AmpharosMega Ampharos
Bellossom
Marill
Azumarill
Sudowoodo
Politoed
Hoppip
Skiploom
Jumpluff
Aipom
Sunkern
Sunflora
Yanma
Wooper
Quagsire
Espeon
Umbreon
Murkrow
Slowking
Misdreavus
Unown
Wobbuffet
Girafarig
Pineco
Forretress
Dunsparce
Gligar
Steelix
SteelixMega Steelix
Snubbull
Granbull
Qwilfish
Scizor
ScizorMega Scizor
Shuckle
Heracross
HeracrossMega Heracross
Sneasel
Teddiursa
Ursaring
Slugma
Magcargo
Swinub
Piloswine
Corsola
Remoraid
Octillery
Delibird
Mantine
Skarmory
Houndour
Houndoom
HoundoomMega Houndoom
Kingdra
Phanpy
Donphan
Porygon2
Stantler
Smeargle
Tyrogue
Hitmontop
Smoochum
Elekid
Magby
Miltank
Blissey
Raikou
Entei
Suicune
Larvitar
Pupitar
Tyranitar
TyranitarMega Tyranitar
Lugia
Ho-oh
Celebi
Treecko
Grovyle
Sceptile
SceptileMega Sceptile
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Mudkip
Marshtomp
Swampert
SwampertMega Swampert
Poochyena
Mightyena
Zigzagoon
Linoone
Wurmple
Silcoon
Beautifly
Cascoon
Dustox
Lotad
Lombre
Ludicolo
Seedot
Nuzleaf
Shiftry
Taillow
Swellow
Wingull
Pelipper
Ralts
Kirlia
Gardevoir
GardevoirMega Gardevoir
Surskit
Masquerain
Shroomish
Breloom
Slakoth
Vigoroth
Slaking
Nincada
Ninjask
Shedinja
Whismur
Loudred
Exploud
Makuhita
Hariyama
Azurill
Nosepass
Skitty
Delcatty
Sableye
SableyeMega Sableye
Mawile
MawileMega Mawile
Aron
Lairon
Aggron
AggronMega Aggron
Meditite
Medicham
MedichamMega Medicham
Electrike
Manectric
ManectricMega Manectric
Plusle
Minun
Volbeat
Illumise
Roselia
Gulpin
Swalot
Carvanha
Sharpedo
SharpedoMega Sharpedo
Wailmer
Wailord
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Spoink
Grumpig
Spinda
Trapinch
Vibrava
Flygon
Cacnea
Cacturne
Swablu
Altaria
AltariaMega Altaria
Zangoose
Seviper
Lunatone
Solrock
Barboach
Whiscash
Corphish
Crawdaunt
Baltoy
Claydol
Lileep
Cradily
Anorith
Armaldo
Feebas
Milotic
Castform
Kecleon
Shuppet
Banette
BanetteMega Banette
Duskull
Dusclops
Tropius
Chimecho
Absol
AbsolMega Absol
Wynaut
Snorunt
Glalie
GlalieMega Glalie
Spheal
Sealeo
Walrein
Clamperl
Huntail
Gorebyss
Relicanth
Luvdisc
Bagon
Shelgon
Salamence
SalamenceMega Salamence
Beldum
Metang
Metagross
MetagrossMega Metagross
Regirock
Regice
Registeel
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Kyogre
KyogrePrimal Kyogre
Groudon
GroudonPrimal Groudon
Rayquaza
RayquazaMega Rayquaza
Jirachi
DeoxysNormal Forme
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysSpeed Forme
Turtwig
Grotle
Torterra
Chimchar
Monferno
Infernape
Piplup
Prinplup
Empoleon
Starly
Staravia
Staraptor
Bidoof
Bibarel
Kricketot
Kricketune
Shinx
Luxio
Luxray
Budew
Roserade
Cranidos
Rampardos
Shieldon
Bastiodon
Burmy
WormadamPlant Cloak
WormadamSandy Cloak
WormadamTrash Cloak
Mothim
Combee
Vespiquen
Pachirisu
Buizel
Floatzel
Cherubi
Cherrim
Shellos
Gastrodon
Ambipom
Drifloon
Drifblim
Buneary
Lopunny
LopunnyMega Lopunny
Mismagius
Honchkrow
Glameow
Purugly
Chingling
Stunky
Skuntank
Bronzor
Bronzong
Bonsly
Mime Jr.
Happiny
Chatot
Spiritomb
Gible
Gabite
Garchomp
GarchompMega Garchomp
Munchlax
Riolu
Lucario
LucarioMega Lucario
Hippopotas
Hippowdon
Skorupi
Drapion
Croagunk
Toxicroak
Carnivine
Finneon
Lumineon
Mantyke
Snover
Abomasnow
AbomasnowMega Abomasnow
Weavile
Magnezone
Lickilicky
Rhyperior
Tangrowth
Electivire
Magmortar
Togekiss
Yanmega
Leafeon
Glaceon
Gliscor
Mamoswine
Porygon-Z
Gallade
GalladeMega Gallade
Probopass
Dusknoir
Froslass
Rotom
RotomHeat Rotom
RotomWash Rotom
RotomFrost Rotom
RotomFan Rotom
RotomMow Rotom
Uxie
Mesprit
Azelf
Dialga
Palkia
Heatran
Regigigas
GiratinaAltered Forme
GiratinaOrigin Forme
Cresselia
Phione
Manaphy
Darkrai
ShayminLand Forme
ShayminSky Forme
Arceus
Victini
Snivy
Servine
Serperior
Tepig
Pignite
Emboar
Oshawott
Dewott
Samurott
Patrat
Watchog
Lillipup
Herdier
Stoutland
Purrloin
Liepard
Pansage
Simisage
Pansear
Simisear
Panpour
Simipour
Munna
Musharna
Pidove
Tranquill
Unfezant
Blitzle
Zebstrika
Roggenrola
Boldore
Gigalith
Woobat
Swoobat
Drilbur
Excadrill
Audino
AudinoMega Audino
Timburr
Gurdurr
Conkeldurr
Tympole
Palpitoad
Seismitoad
Throh
Sawk
Sewaddle
Swadloon
Leavanny
Venipede
Whirlipede
Scolipede
Cottonee
Whimsicott
Petilil
Lilligant
Basculin
Sandile
Krokorok
Krookodile
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Maractus
Dwebble
Crustle
Scraggy
Scrafty
Sigilyph
Yamask
Cofagrigus
Tirtouga
Carracosta
Archen
Archeops
Trubbish
Garbodor
Zorua
Zoroark
Minccino
Cinccino
Gothita
Gothorita
Gothitelle
Solosis
Duosion
Reuniclus
Ducklett
Swanna
Vanillite
Vanillish
Vanilluxe
Deerling
Sawsbuck
Emolga
Karrablast
Escavalier
Foongus
Amoonguss
Frillish
Jellicent
Alomomola
Joltik
Galvantula
Ferroseed
Ferrothorn
Klink
Klang
Klinklang
Tynamo
Eelektrik
Eelektross
Elgyem
Beheeyem
Litwick
Lampent
Chandelure
Axew
Fraxure
Haxorus
Cubchoo
Beartic
Cryogonal
Shelmet
Accelgor
Stunfisk
Mienfoo
Mienshao
Druddigon
Golett
Golurk
Pawniard
Bisharp
Bouffalant
Rufflet
Braviary
Vullaby
Mandibuzz
Heatmor
Durant
Deino
Zweilous
Hydreigon
Larvesta
Volcarona
Cobalion
Terrakion
Virizion
TornadusIncarnate Forme
TornadusTherian Forme
ThundurusIncarnate Forme
ThundurusTherian Forme
Reshiram
Zekrom
LandorusIncarnate Forme
LandorusTherian Forme
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
KeldeoOrdinary Forme
KeldeoResolute Forme
MeloettaAria Forme
MeloettaPirouette Forme
Genesect
Chespin
Quilladin
Chesnaught
Fennekin
Braixen
Delphox
Froakie
Frogadier
Greninja
Bunnelby
Diggersby
Fletchling
Fletchinder
Talonflame
Scatterbug
Spewpa
Vivillon
Litleo
Pyroar
Flabébé
Floette
Florges
Skiddo
Gogoat
Pancham
Pangoro
Furfrou
Espurr
MeowsticMale
MeowsticFemale
Honedge
Doublade
AegislashBlade Forme
AegislashShield Forme
Spritzee
Aromatisse
Swirlix
Slurpuff
Inkay
Malamar
Binacle
Barbaracle
Skrelp
Dragalge
Clauncher
Clawitzer
Helioptile
Heliolisk
Tyrunt
Tyrantrum
Amaura
Aurorus
Sylveon
Hawlucha
Dedenne
Carbink
Goomy
Sliggoo
Goodra
Klefki
Phantump
Trevenant
PumpkabooAverage Size
PumpkabooSmall Size
PumpkabooLarge Size
PumpkabooSuper Size
GourgeistAverage Size
GourgeistSmall Size
GourgeistLarge Size
GourgeistSuper Size
Bergmite
Avalugg
Noibat
Noivern
Xerneas
Yveltal
Zygarde50% Forme
Diancie
DiancieMega Diancie
HoopaHoopa Confined
HoopaHoopa Unbound
Volcanion

## To read multiple columns

In [19]:
df[['Name','Type 1','HP']]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

## To read multiple columns with a certain rows

In [20]:
df[["Name",'HP']][400:411]

                        Name   HP
400                  Walrein  110
401                 Clamperl   35
402                  Huntail   55
403                 Gorebyss   55
404                Relicanth  100
405                  Luvdisc   43
406                    Bagon   45
407                  Shelgon   65
408                Salamence   95
409  SalamenceMega Salamence   95
410                   Beldum   40

## OR

In [21]:
df.iloc[400:411,[0,1]]

                        Name  Type 1
400                  Walrein     Ice
401                 Clamperl   Water
402                  Huntail   Water
403                 Gorebyss   Water
404                Relicanth   Water
405                  Luvdisc   Water
406                    Bagon  Dragon
407                  Shelgon  Dragon
408                Salamence  Dragon
409  SalamenceMega Salamence  Dragon
410                   Beldum   Steel

## To read particular  row

In [22]:
df.iloc[9]

Name          Squirtle
Type 1           Water
HP                  44
Attack              48
Defense             65
Sp. Atk             50
Sp. Def             64
Speed               43
Generation           1
Legendary        False
Name: 9, dtype: object

## To read multiple rows will all columns

In [23]:
df.iloc[10:16]

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,Wartortle,Water,59,63,80,65,80,58,1,False
11,Blastoise,Water,79,83,100,85,105,78,1,False
12,BlastoiseMega Blastoise,Water,79,103,120,135,115,78,1,False
13,Caterpie,Bug,45,30,35,20,20,45,1,False
14,Metapod,Bug,50,20,55,25,25,30,1,False
15,Butterfree,Bug,60,45,50,90,80,70,1,False

In [24]:
df.iloc[10:16,2:5]

    HP  Attack  Defense
10  59      63       80
11  79      83      100
12  79     103      120
13  45      30       35
14  50      20       55
15  60      45       50

## To read a specific name, i.e  Blastoise

In [25]:
df.iloc[11,0]

'Blastoise'

In [26]:
# df.iloc[rows,column]
# df.iloc[30:46,0:2]
df.iloc[15,0][0]

'B'

## To iterate each rows of specific column

In [27]:
for i in df['Name']:
    print(i)

Bulbasaur
Ivysaur
Venusaur
VenusaurMega Venusaur
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Squirtle
Wartortle
Blastoise
BlastoiseMega Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
BeedrillMega Beedrill
Pidgey
Pidgeotto
Pidgeot
PidgeotMega Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
Sandshrew
Sandslash
Nidoran (Female)
Nidorina
Nidoqueen
Nidoran (Male)
Nidorino
Nidoking
Clefairy
Clefable
Vulpix
Ninetales
Jigglypuff
Wigglytuff
Zubat
Golbat
Oddish
Gloom
Vileplume
Paras
Parasect
Venonat
Venomoth
Diglett
Dugtrio
Meowth
Persian
Psyduck
Golduck
Mankey
Primeape
Growlithe
Arcanine
Poliwag
Poliwhirl
Poliwrath
Abra
Kadabra
Alakazam
AlakazamMega Alakazam
Machop
Machoke
Machamp
Bellsprout
Weepinbell
Victreebel
Tentacool
Tentacruel
Geodude
Graveler
Golem
Ponyta
Rapidash
Slowpoke
Slowbro
SlowbroMega Slowbro
Magnemite
Magneton
Farfetch'd
Doduo
Dodrio
Seel
Dewgong
Grimer
Muk
Shellder
Cloyster
Gastly
Haunter
Gengar
GengarMega Gengar
Onix
Drowzee
Hypno
Krabby
Kingler
Voltorb
Electrode
Exeggcute
Exeggutor
Cubone
Marowak
Hitmonlee
Hitmonchan
Lickitung
Koffing
Weezing
Rhyhorn
Rhydon
Chansey
Tangela
Kangaskhan
KangaskhanMega Kangaskhan
Horsea
Seadra
Goldeen
Seaking
Staryu
Starmie
Mr. Mime
Scyther
Jynx
Electabuzz
Magmar
Pinsir
PinsirMega Pinsir
Tauros
Magikarp
Gyarados
GyaradosMega Gyarados
Lapras
Ditto
Eevee
Vaporeon
Jolteon
Flareon
Porygon
Omanyte
Omastar
Kabuto
Kabutops
Aerodactyl
AerodactylMega Aerodactyl
Snorlax
Articuno
Zapdos
Moltres
Dratini
Dragonair
Dragonite
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Mew
Chikorita
Bayleef
Meganium
Cyndaquil
Quilava
Typhlosion
Totodile
Croconaw
Feraligatr
Sentret
Furret
Hoothoot
Noctowl
Ledyba
Ledian
Spinarak
Ariados
Crobat
Chinchou
Lanturn
Pichu
Cleffa
Igglybuff
Togepi
Togetic
Natu
Xatu
Mareep
Flaaffy
Ampharos
AmpharosMega Ampharos
Bellossom
Marill
Azumarill
Sudowoodo
Politoed
Hoppip
Skiploom
Jumpluff
Aipom
Sunkern
Sunflora
Yanma
Wooper
Quagsire
Espeon
Umbreon
Murkrow
Slowking
Misdreavus
Unown
Wobbuffet
Girafarig
Pineco
Forretress
Dunsparce
Gligar
Steelix
SteelixMega Steelix
Snubbull
Granbull
Qwilfish
Scizor
ScizorMega Scizor
Shuckle
Heracross
HeracrossMega Heracross
Sneasel
Teddiursa
Ursaring
Slugma
Magcargo
Swinub
Piloswine
Corsola
Remoraid
Octillery
Delibird
Mantine
Skarmory
Houndour
Houndoom
HoundoomMega Houndoom
Kingdra
Phanpy
Donphan
Porygon2
Stantler
Smeargle
Tyrogue
Hitmontop
Smoochum
Elekid
Magby
Miltank
Blissey
Raikou
Entei
Suicune
Larvitar
Pupitar
Tyranitar
TyranitarMega Tyranitar
Lugia
Ho-oh
Celebi
Treecko
Grovyle
Sceptile
SceptileMega Sceptile
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Mudkip
Marshtomp
Swampert
SwampertMega Swampert
Poochyena
Mightyena
Zigzagoon
Linoone
Wurmple
Silcoon
Beautifly
Cascoon
Dustox
Lotad
Lombre
Ludicolo
Seedot
Nuzleaf
Shiftry
Taillow
Swellow
Wingull
Pelipper
Ralts
Kirlia
Gardevoir
GardevoirMega Gardevoir
Surskit
Masquerain
Shroomish
Breloom
Slakoth
Vigoroth
Slaking
Nincada
Ninjask
Shedinja
Whismur
Loudred
Exploud
Makuhita
Hariyama
Azurill
Nosepass
Skitty
Delcatty
Sableye
SableyeMega Sableye
Mawile
MawileMega Mawile
Aron
Lairon
Aggron
AggronMega Aggron
Meditite
Medicham
MedichamMega Medicham
Electrike
Manectric
ManectricMega Manectric
Plusle
Minun
Volbeat
Illumise
Roselia
Gulpin
Swalot
Carvanha
Sharpedo
SharpedoMega Sharpedo
Wailmer
Wailord
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Spoink
Grumpig
Spinda
Trapinch
Vibrava
Flygon
Cacnea
Cacturne
Swablu
Altaria
AltariaMega Altaria
Zangoose
Seviper
Lunatone
Solrock
Barboach
Whiscash
Corphish
Crawdaunt
Baltoy
Claydol
Lileep
Cradily
Anorith
Armaldo
Feebas
Milotic
Castform
Kecleon
Shuppet
Banette
BanetteMega Banette
Duskull
Dusclops
Tropius
Chimecho
Absol
AbsolMega Absol
Wynaut
Snorunt
Glalie
GlalieMega Glalie
Spheal
Sealeo
Walrein
Clamperl
Huntail
Gorebyss
Relicanth
Luvdisc
Bagon
Shelgon
Salamence
SalamenceMega Salamence
Beldum
Metang
Metagross
MetagrossMega Metagross
Regirock
Regice
Registeel
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Kyogre
KyogrePrimal Kyogre
Groudon
GroudonPrimal Groudon
Rayquaza
RayquazaMega Rayquaza
Jirachi
DeoxysNormal Forme
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysSpeed Forme
Turtwig
Grotle
Torterra
Chimchar
Monferno
Infernape
Piplup
Prinplup
Empoleon
Starly
Staravia
Staraptor
Bidoof
Bibarel
Kricketot
Kricketune
Shinx
Luxio
Luxray
Budew
Roserade
Cranidos
Rampardos
Shieldon
Bastiodon
Burmy
WormadamPlant Cloak
WormadamSandy Cloak
WormadamTrash Cloak
Mothim
Combee
Vespiquen
Pachirisu
Buizel
Floatzel
Cherubi
Cherrim
Shellos
Gastrodon
Ambipom
Drifloon
Drifblim
Buneary
Lopunny
LopunnyMega Lopunny
Mismagius
Honchkrow
Glameow
Purugly
Chingling
Stunky
Skuntank
Bronzor
Bronzong
Bonsly
Mime Jr.
Happiny
Chatot
Spiritomb
Gible
Gabite
Garchomp
GarchompMega Garchomp
Munchlax
Riolu
Lucario
LucarioMega Lucario
Hippopotas
Hippowdon
Skorupi
Drapion
Croagunk
Toxicroak
Carnivine
Finneon
Lumineon
Mantyke
Snover
Abomasnow
AbomasnowMega Abomasnow
Weavile
Magnezone
Lickilicky
Rhyperior
Tangrowth
Electivire
Magmortar
Togekiss
Yanmega
Leafeon
Glaceon
Gliscor
Mamoswine
Porygon-Z
Gallade
GalladeMega Gallade
Probopass
Dusknoir
Froslass
Rotom
RotomHeat Rotom
RotomWash Rotom
RotomFrost Rotom
RotomFan Rotom
RotomMow Rotom
Uxie
Mesprit
Azelf
Dialga
Palkia
Heatran
Regigigas
GiratinaAltered Forme
GiratinaOrigin Forme
Cresselia
Phione
Manaphy
Darkrai
ShayminLand Forme
ShayminSky Forme
Arceus
Victini
Snivy
Servine
Serperior
Tepig
Pignite
Emboar
Oshawott
Dewott
Samurott
Patrat
Watchog
Lillipup
Herdier
Stoutland
Purrloin
Liepard
Pansage
Simisage
Pansear
Simisear
Panpour
Simipour
Munna
Musharna
Pidove
Tranquill
Unfezant
Blitzle
Zebstrika
Roggenrola
Boldore
Gigalith
Woobat
Swoobat
Drilbur
Excadrill
Audino
AudinoMega Audino
Timburr
Gurdurr
Conkeldurr
Tympole
Palpitoad
Seismitoad
Throh
Sawk
Sewaddle
Swadloon
Leavanny
Venipede
Whirlipede
Scolipede
Cottonee
Whimsicott
Petilil
Lilligant
Basculin
Sandile
Krokorok
Krookodile
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Maractus
Dwebble
Crustle
Scraggy
Scrafty
Sigilyph
Yamask
Cofagrigus
Tirtouga
Carracosta
Archen
Archeops
Trubbish
Garbodor
Zorua
Zoroark
Minccino
Cinccino
Gothita
Gothorita
Gothitelle
Solosis
Duosion
Reuniclus
Ducklett
Swanna
Vanillite
Vanillish
Vanilluxe
Deerling
Sawsbuck
Emolga
Karrablast
Escavalier
Foongus
Amoonguss
Frillish
Jellicent
Alomomola
Joltik
Galvantula
Ferroseed
Ferrothorn
Klink
Klang
Klinklang
Tynamo
Eelektrik
Eelektross
Elgyem
Beheeyem
Litwick
Lampent
Chandelure
Axew
Fraxure
Haxorus
Cubchoo
Beartic
Cryogonal
Shelmet
Accelgor
Stunfisk
Mienfoo
Mienshao
Druddigon
Golett
Golurk
Pawniard
Bisharp
Bouffalant
Rufflet
Braviary
Vullaby
Mandibuzz
Heatmor
Durant
Deino
Zweilous
Hydreigon
Larvesta
Volcarona
Cobalion
Terrakion
Virizion
TornadusIncarnate Forme
TornadusTherian Forme
ThundurusIncarnate Forme
ThundurusTherian Forme
Reshiram
Zekrom
LandorusIncarnate Forme
LandorusTherian Forme
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
KeldeoOrdinary Forme
KeldeoResolute Forme
MeloettaAria Forme
MeloettaPirouette Forme
Genesect
Chespin
Quilladin
Chesnaught
Fennekin
Braixen
Delphox
Froakie
Frogadier
Greninja
Bunnelby
Diggersby
Fletchling
Fletchinder
Talonflame
Scatterbug
Spewpa
Vivillon
Litleo
Pyroar
Flabébé
Floette
Florges
Skiddo
Gogoat
Pancham
Pangoro
Furfrou
Espurr
MeowsticMale
MeowsticFemale
Honedge
Doublade
AegislashBlade Forme
AegislashShield Forme
Spritzee
Aromatisse
Swirlix
Slurpuff
Inkay
Malamar
Binacle
Barbaracle
Skrelp
Dragalge
Clauncher
Clawitzer
Helioptile
Heliolisk
Tyrunt
Tyrantrum
Amaura
Aurorus
Sylveon
Hawlucha
Dedenne
Carbink
Goomy
Sliggoo
Goodra
Klefki
Phantump
Trevenant
PumpkabooAverage Size
PumpkabooSmall Size
PumpkabooLarge Size
PumpkabooSuper Size
GourgeistAverage Size
GourgeistSmall Size
GourgeistLarge Size
GourgeistSuper Size
Bergmite
Avalugg
Noibat
Noivern
Xerneas
Yveltal
Zygarde50% Forme
Diancie
DiancieMega Diancie
HoopaHoopa Confined
HoopaHoopa Unbound
Volcanion

## To iterate multiple rows

In [28]:
for i,j in df.iterrows(): # here i is index and j is row data of each column
    print(i,"=----",j)      ## 
    #print(j[['Name','HP']])  ## fecthing specific columns

0 =---- Name          Bulbasaur
Type 1            Grass
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
1 =---- Name          Ivysaur
Type 1          Grass
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
2 =---- Name          Venusaur
Type 1           Grass
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
3 =---- Name          VenusaurMega Venusaur
Type 1                        Grass
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
4 =---- Name          Charmander
Type 1              Fire
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object
5 =---- Name          Charmeleon
Type 1              Fire
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object
6 =---- Name          Charizard
Type 1             Fire
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object
7 =---- Name          CharizardMega Charizard X
Type 1                             Fire
HP                                   78
Attack                              130
Defense                             111
Sp. Atk                             130
Sp. Def                              85
Speed                               100
Generation                            1
Legendary                         False
Name: 7, dtype: object
8 =---- Name          CharizardMega Charizard Y
Type 1                             Fire
HP                                   78
Attack                              104
Defense                              78
Sp. Atk                             159
Sp. Def                             115
Speed                               100
Generation                            1
Legendary                         False
Name: 8, dtype: object
9 =---- Name          Squirtle
Type 1           Water
HP                  44
Attack              48
Defense             65
Sp. Atk             50
Sp. Def             64
Speed               43
Generation           1
Legendary        False
Name: 9, dtype: object
10 =---- Name          Wartortle
Type 1            Water
HP                   59
Attack               63
Defense              80
Sp. Atk              65
Sp. Def              80
Speed                58
Generation            1
Legendary         False
Name: 10, dtype: object
11 =---- Name          Blastoise
Type 1            Water
HP                   79
Attack               83
Defense             100
Sp. Atk              85
Sp. Def             105
Speed                78
Generation            1
Legendary         False
Name: 11, dtype: object
12 =---- Name          BlastoiseMega Blastoise
Type 1                          Water
HP                                 79
Attack                            103
Defense                           120
Sp. Atk                           135
Sp. Def                           115
Speed                              78
Generation                          1
Legendary                       False
Name: 12, dtype: object
13 =---- Name          Caterpie
Type 1             Bug
HP                  45
Attack              30
Defense             35
Sp. Atk             20
Sp. Def             20
Speed               45
Generation           1
Legendary        False
Name: 13, dtype: object
14 =---- Name          Metapod
Type 1            Bug
HP                 50
Attack             20
Defense            55
Sp. Atk            25
Sp. Def            25
Speed              30
Generation          1
Legendary       False
Name: 14, dtype: object
15 =---- Name          Butterfree
Type 1               Bug
HP                    60
Attack                45
Defense               50
Sp. Atk               90
Sp. Def               80
Speed                 70
Generation             1
Legendary          False
Name: 15, dtype: object
16 =---- Name          Weedle
Type 1           Bug
HP                40
Attack            35
Defense           30
Sp. Atk           20
Sp. Def           20
Speed             50
Generation         1
Legendary      False
Name: 16, dtype: object
17 =---- Name          Kakuna
Type 1           Bug
HP                45
Attack            25
Defense           50
Sp. Atk           25
Sp. Def           25
Speed             35
Generation         1
Legendary      False
Name: 17, dtype: object
18 =---- Name          Beedrill
Type 1             Bug
HP                  65
Attack              90
Defense             40
Sp. Atk             45
Sp. Def             80
Speed               75
Generation           1
Legendary        False
Name: 18, dtype: object
19 =---- Name          BeedrillMega Beedrill
Type 1                          Bug
HP                               65
Attack                          150
Defense                          40
Sp. Atk                          15
Sp. Def                          80
Speed                           145
Generation                        1
Legendary                     False
Name: 19, dtype: object
20 =---- Name          Pidgey
Type 1        Normal
HP                40
Attack            45
Defense           40
Sp. Atk           35
Sp. Def           35
Speed             56
Generation         1
Legendary      False
Name: 20, dtype: object
21 =---- Name          Pidgeotto
Type 1           Normal
HP                   63
Attack               60
Defense              55
Sp. Atk              50
Sp. Def              50
Speed                71
Generation            1
Legendary         False
Name: 21, dtype: object
22 =---- Name          Pidgeot
Type 1         Normal
HP                 83
Attack             80
Defense            75
Sp. Atk            70
Sp. Def            70
Speed             101
Generation          1
Legendary       False
Name: 22, dtype: object
23 =---- Name          PidgeotMega Pidgeot
Type 1                     Normal
HP                             83
Attack                         80
Defense                        80
Sp. Atk                       135
Sp. Def                        80
Speed                         121
Generation                      1
Legendary                   False
Name: 23, dtype: object
24 =---- Name          Rattata
Type 1         Normal
HP                 30
Attack             56
Defense            35
Sp. Atk            25
Sp. Def            35
Speed              72
Generation          1
Legendary       False
Name: 24, dtype: object
25 =---- Name          Raticate
Type 1          Normal
HP                  55
Attack              81
Defense             60
Sp. Atk             50
Sp. Def             70
Speed               97
Generation           1
Legendary        False
Name: 25, dtype: object
26 =---- Name          Spearow
Type 1         Normal
HP                 40
Attack             60
Defense            30
Sp. Atk            31
Sp. Def            31
Speed              70
Generation          1
Legendary       False
Name: 26, dtype: object
27 =---- Name          Fearow
Type 1        Normal
HP                65
Attack            90
Defense           65
Sp. Atk           61
Sp. Def           61
Speed            100
Generation         1
Legendary      False
Name: 27, dtype: object
28 =---- Name           Ekans
Type 1        Poison
HP                35
Attack            60
Defense           44
Sp. Atk           40
Sp. Def           54
Speed             55
Generation         1
Legendary      False
Name: 28, dtype: object
29 =---- Name           Arbok
Type 1        Poison
HP                60
Attack            85
Defense           69
Sp. Atk           65
Sp. Def           79
Speed             80
Generation         1
Legendary      False
Name: 29, dtype: object
30 =---- Name           Pikachu
Type 1        Electric
HP                  35
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: 30, dtype: object
31 =---- Name            Raichu
Type 1        Electric
HP                  60
Attack              90
Defense             55
Sp. Atk             90
Sp. Def             80
Speed              110
Generation           1
Legendary        False
Name: 31, dtype: object
32 =---- Name          Sandshrew
Type 1           Ground
HP                   50
Attack               75
Defense              85
Sp. Atk              20
Sp. Def              30
Speed                40
Generation            1
Legendary         False
Name: 32, dtype: object
33 =---- Name          Sandslash
Type 1           Ground
HP                   75
Attack              100
Defense             110
Sp. Atk              45
Sp. Def              55
Speed                65
Generation            1
Legendary         False
Name: 33, dtype: object
34 =---- Name          Nidoran (Female)
Type 1                  Poison
HP                          55
Attack                      47
Defense                     52
Sp. Atk                     40
Sp. Def                     40
Speed                       41
Generation                   1
Legendary                False
Name: 34, dtype: object
35 =---- Name          Nidorina
Type 1          Poison
HP                  70
Attack              62
Defense             67
Sp. Atk             55
Sp. Def             55
Speed               56
Generation           1
Legendary        False
Name: 35, dtype: object
36 =---- Name          Nidoqueen
Type 1           Poison
HP                   90
Attack               92
Defense              87
Sp. Atk              75
Sp. Def              85
Speed                76
Generation            1
Legendary         False
Name: 36, dtype: object
37 =---- Name          Nidoran (Male)
Type 1                Poison
HP                        46
Attack                    57
Defense                   40
Sp. Atk                   40
Sp. Def                   40
Speed                     50
Generation                 1
Legendary              False
Name: 37, dtype: object
38 =---- Name          Nidorino
Type 1          Poison
HP                  61
Attack              72
Defense             57
Sp. Atk             55
Sp. Def             55
Speed               65
Generation           1
Legendary        False
Name: 38, dtype: object
39 =---- Name          Nidoking
Type 1          Poison
HP                  81
Attack             102
Defense             77
Sp. Atk             85
Sp. Def             75
Speed               85
Generation           1
Legendary        False
Name: 39, dtype: object
40 =---- Name          Clefairy
Type 1           Fairy
HP                  70
Attack              45
Defense             48
Sp. Atk             60
Sp. Def             65
Speed               35
Generation           1
Legendary        False
Name: 40, dtype: object
41 =---- Name          Clefable
Type 1           Fairy
HP                  95
Attack              70
Defense             73
Sp. Atk             95
Sp. Def             90
Speed               60
Generation           1
Legendary        False
Name: 41, dtype: object
42 =---- Name          Vulpix
Type 1          Fire
HP                38
Attack            41
Defense           40
Sp. Atk           50
Sp. Def           65
Speed             65
Generation         1
Legendary      False
Name: 42, dtype: object
43 =---- Name          Ninetales
Type 1             Fire
HP                   73
Attack               76
Defense              75
Sp. Atk              81
Sp. Def             100
Speed               100
Generation            1
Legendary         False
Name: 43, dtype: object
44 =---- Name          Jigglypuff
Type 1            Normal
HP                   115
Attack                45
Defense               20
Sp. Atk               45
Sp. Def               25
Speed                 20
Generation             1
Legendary          False
Name: 44, dtype: object
45 =---- Name          Wigglytuff
Type 1            Normal
HP                   140
Attack                70
Defense               45
Sp. Atk               85
Sp. Def               50
Speed                 45
Generation             1
Legendary          False
Name: 45, dtype: object
46 =---- Name           Zubat
Type 1        Poison
HP                40
Attack            45
Defense           35
Sp. Atk           30
Sp. Def           40
Speed             55
Generation         1
Legendary      False
Name: 46, dtype: object
47 =---- Name          Golbat
Type 1        Poison
HP                75
Attack            80
Defense           70
Sp. Atk           65
Sp. Def           75
Speed             90
Generation         1
Legendary      False
Name: 47, dtype: object
48 =---- Name          Oddish
Type 1         Grass
HP                45
Attack            50
Defense           55
Sp. Atk           75
Sp. Def           65
Speed             30
Generation         1
Legendary      False
Name: 48, dtype: object
49 =---- Name          Gloom
Type 1        Grass
HP               60
Attack           65
Defense          70
Sp. Atk          85
Sp. Def          75
Speed            40
Generation        1
Legendary     False
Name: 49, dtype: object
50 =---- Name          Vileplume
Type 1            Grass
HP                   75
Attack               80
Defense              85
Sp. Atk             110
Sp. Def              90
Speed                50
Generation            1
Legendary         False
Name: 50, dtype: object
51 =---- Name          Paras
Type 1          Bug
HP               35
Attack           70
Defense          55
Sp. Atk          45
Sp. Def          55
Speed            25
Generation        1
Legendary     False
Name: 51, dtype: object
52 =---- Name          Parasect
Type 1             Bug
HP                  60
Attack              95
Defense             80
Sp. Atk             60
Sp. Def             80
Speed               30
Generation           1
Legendary        False
Name: 52, dtype: object
53 =---- Name          Venonat
Type 1            Bug
HP                 60
Attack             55
Defense            50
Sp. Atk            40
Sp. Def            55
Speed              45
Generation          1
Legendary       False
Name: 53, dtype: object
54 =---- Name          Venomoth
Type 1             Bug
HP                  70
Attack              65
Defense             60
Sp. Atk             90
Sp. Def             75
Speed               90
Generation           1
Legendary        False
Name: 54, dtype: object
55 =---- Name          Diglett
Type 1         Ground
HP                 10
Attack             55
Defense            25
Sp. Atk            35
Sp. Def            45
Speed              95
Generation          1
Legendary       False
Name: 55, dtype: object
56 =---- Name          Dugtrio
Type 1         Ground
HP                 35
Attack             80
Defense            50
Sp. Atk            50
Sp. Def            70
Speed             120
Generation          1
Legendary       False
Name: 56, dtype: object
57 =---- Name          Meowth
Type 1        Normal
HP                40
Attack            45
Defense           35
Sp. Atk           40
Sp. Def           40
Speed             90
Generation         1
Legendary      False
Name: 57, dtype: object
58 =---- Name          Persian
Type 1         Normal
HP                 65
Attack             70
Defense            60
Sp. Atk            65
Sp. Def            65
Speed             115
Generation          1
Legendary       False
Name: 58, dtype: object
59 =---- Name          Psyduck
Type 1          Water
HP                 50
Attack             52
Defense            48
Sp. Atk            65
Sp. Def            50
Speed              55
Generation          1
Legendary       False
Name: 59, dtype: object
60 =---- Name          Golduck
Type 1          Water
HP                 80
Attack             82
Defense            78
Sp. Atk            95
Sp. Def            80
Speed              85
Generation          1
Legendary       False
Name: 60, dtype: object
61 =---- Name            Mankey
Type 1        Fighting
HP                  40
Attack              80
Defense             35
Sp. Atk             35
Sp. Def             45
Speed               70
Generation           1
Legendary        False
Name: 61, dtype: object
62 =---- Name          Primeape
Type 1        Fighting
HP                  65
Attack             105
Defense             60
Sp. Atk             60
Sp. Def             70
Speed               95
Generation           1
Legendary        False
Name: 62, dtype: object
63 =---- Name          Growlithe
Type 1             Fire
HP                   55
Attack               70
Defense              45
Sp. Atk              70
Sp. Def              50
Speed                60
Generation            1
Legendary         False
Name: 63, dtype: object
64 =---- Name          Arcanine
Type 1            Fire
HP                  90
Attack             110
Defense             80
Sp. Atk            100
Sp. Def             80
Speed               95
Generation           1
Legendary        False
Name: 64, dtype: object

65 =---- Name          Poliwag
Type 1          Water
HP                 40
Attack             50
Defense            40
Sp. Atk            40
Sp. Def            40
Speed              90
Generation          1
Legendary       False
Name: 65, dtype: object
66 =---- Name          Poliwhirl
Type 1            Water
HP                   65
Attack               65
Defense              65
Sp. Atk              50
Sp. Def              50
Speed                90
Generation            1
Legendary         False
Name: 66, dtype: object
67 =---- Name          Poliwrath
Type 1            Water
HP                   90
Attack               95
Defense              95
Sp. Atk              70
Sp. Def              90
Speed                70
Generation            1
Legendary         False
Name: 67, dtype: object
68 =---- Name             Abra
Type 1        Psychic
HP                 25
Attack             20
Defense            15
Sp. Atk           105
Sp. Def            55
Speed              90
Generation          1
Legendary       False
Name: 68, dtype: object
69 =---- Name          Kadabra
Type 1        Psychic
HP                 40
Attack             35
Defense            30
Sp. Atk           120
Sp. Def            70
Speed             105
Generation          1
Legendary       False
Name: 69, dtype: object
70 =---- Name          Alakazam
Type 1         Psychic
HP                  55
Attack              50
Defense             45
Sp. Atk            135
Sp. Def             95
Speed              120
Generation           1
Legendary        False
Name: 70, dtype: object
71 =---- Name          AlakazamMega Alakazam
Type 1                      Psychic
HP                               55
Attack                           50
Defense                          65
Sp. Atk                         175
Sp. Def                          95
Speed                           150
Generation                        1
Legendary                     False
Name: 71, dtype: object
72 =---- Name            Machop
Type 1        Fighting
HP                  70
Attack              80
Defense             50
Sp. Atk             35
Sp. Def             35
Speed               35
Generation           1
Legendary        False
Name: 72, dtype: object
73 =---- Name           Machoke
Type 1        Fighting
HP                  80
Attack             100
Defense             70
Sp. Atk             50
Sp. Def             60
Speed               45
Generation           1
Legendary        False
Name: 73, dtype: object
74 =---- Name           Machamp
Type 1        Fighting
HP                  90
Attack             130
Defense             80
Sp. Atk             65
Sp. Def             85
Speed               55
Generation           1
Legendary        False
Name: 74, dtype: object
75 =---- Name          Bellsprout
Type 1             Grass
HP                    50
Attack                75
Defense               35
Sp. Atk               70
Sp. Def               30
Speed                 40
Generation             1
Legendary          False
Name: 75, dtype: object
76 =---- Name          Weepinbell
Type 1             Grass
HP                    65
Attack                90
Defense               50
Sp. Atk               85
Sp. Def               45
Speed                 55
Generation             1
Legendary          False
Name: 76, dtype: object
77 =---- Name          Victreebel
Type 1             Grass
HP                    80
Attack               105
Defense               65
Sp. Atk              100
Sp. Def               70
Speed                 70
Generation             1
Legendary          False
Name: 77, dtype: object
78 =---- Name          Tentacool
Type 1            Water
HP                   40
Attack               40
Defense              35
Sp. Atk              50
Sp. Def             100
Speed                70
Generation            1
Legendary         False
Name: 78, dtype: object
79 =---- Name          Tentacruel
Type 1             Water
HP                    80
Attack                70
Defense               65
Sp. Atk               80
Sp. Def              120
Speed                100
Generation             1
Legendary          False
Name: 79, dtype: object
80 =---- Name          Geodude
Type 1           Rock
HP                 40
Attack             80
Defense           100
Sp. Atk            30
Sp. Def            30
Speed              20
Generation          1
Legendary       False
Name: 80, dtype: object
81 =---- Name          Graveler
Type 1            Rock
HP                  55
Attack              95
Defense            115
Sp. Atk             45
Sp. Def             45
Speed               35
Generation           1
Legendary        False
Name: 81, dtype: object
82 =---- Name          Golem
Type 1         Rock
HP               80
Attack          120
Defense         130
Sp. Atk          55
Sp. Def          65
Speed            45
Generation        1
Legendary     False
Name: 82, dtype: object
83 =---- Name          Ponyta
Type 1          Fire
HP                50
Attack            85
Defense           55
Sp. Atk           65
Sp. Def           65
Speed             90
Generation         1
Legendary      False
Name: 83, dtype: object
84 =---- Name          Rapidash
Type 1            Fire
HP                  65
Attack             100
Defense             70
Sp. Atk             80
Sp. Def             80
Speed              105
Generation           1
Legendary        False
Name: 84, dtype: object
85 =---- Name          Slowpoke
Type 1           Water
HP                  90
Attack              65
Defense             65
Sp. Atk             40
Sp. Def             40
Speed               15
Generation           1
Legendary        False
Name: 85, dtype: object
86 =---- Name          Slowbro
Type 1          Water
HP                 95
Attack             75
Defense           110
Sp. Atk           100
Sp. Def            80
Speed              30
Generation          1
Legendary       False
Name: 86, dtype: object
87 =---- Name          SlowbroMega Slowbro
Type 1                      Water
HP                             95
Attack                         75
Defense                       180
Sp. Atk                       130
Sp. Def                        80
Speed                          30
Generation                      1
Legendary                   False
Name: 87, dtype: object
88 =---- Name          Magnemite
Type 1         Electric
HP                   25
Attack               35
Defense              70
Sp. Atk              95
Sp. Def              55
Speed                45
Generation            1
Legendary         False
Name: 88, dtype: object
89 =---- Name          Magneton
Type 1        Electric
HP                  50
Attack              60
Defense             95
Sp. Atk            120
Sp. Def             70
Speed               70
Generation           1
Legendary        False
Name: 89, dtype: object
90 =---- Name          Farfetch'd
Type 1            Normal
HP                    52
Attack                65
Defense               55
Sp. Atk               58
Sp. Def               62
Speed                 60
Generation             1
Legendary          False
Name: 90, dtype: object
91 =---- Name           Doduo
Type 1        Normal
HP                35
Attack            85
Defense           45
Sp. Atk           35
Sp. Def           35
Speed             75
Generation         1
Legendary      False
Name: 91, dtype: object
92 =---- Name          Dodrio
Type 1        Normal
HP                60
Attack           110
Defense           70
Sp. Atk           60
Sp. Def           60
Speed            100
Generation         1
Legendary      False
Name: 92, dtype: object
93 =---- Name           Seel
Type 1        Water
HP               65
Attack           45
Defense          55
Sp. Atk          45
Sp. Def          70
Speed            45
Generation        1
Legendary     False
Name: 93, dtype: object
94 =---- Name          Dewgong
Type 1          Water
HP                 90
Attack             70
Defense            80
Sp. Atk            70
Sp. Def            95
Speed              70
Generation          1
Legendary       False
Name: 94, dtype: object
95 =---- Name          Grimer
Type 1        Poison
HP                80
Attack            80
Defense           50
Sp. Atk           40
Sp. Def           50
Speed             25
Generation         1
Legendary      False
Name: 95, dtype: object
96 =---- Name             Muk
Type 1        Poison
HP               105
Attack           105
Defense           75
Sp. Atk           65
Sp. Def          100
Speed             50
Generation         1
Legendary      False
Name: 96, dtype: object
97 =---- Name          Shellder
Type 1           Water
HP                  30
Attack              65
Defense            100
Sp. Atk             45
Sp. Def             25
Speed               40
Generation           1
Legendary        False
Name: 97, dtype: object
98 =---- Name          Cloyster
Type 1           Water
HP                  50
Attack              95
Defense            180
Sp. Atk             85
Sp. Def             45
Speed               70
Generation           1
Legendary        False
Name: 98, dtype: object
99 =---- Name          Gastly
Type 1         Ghost
HP                30
Attack            35
Defense           30
Sp. Atk          100
Sp. Def           35
Speed             80
Generation         1
Legendary      False
Name: 99, dtype: object
100 =---- Name          Haunter
Type 1          Ghost
HP                 45
Attack             50
Defense            45
Sp. Atk           115
Sp. Def            55
Speed              95
Generation          1
Legendary       False
Name: 100, dtype: object
101 =---- Name          Gengar
Type 1         Ghost
HP                60
Attack            65
Defense           60
Sp. Atk          130
Sp. Def           75
Speed            110
Generation         1
Legendary      False
Name: 101, dtype: object
102 =---- Name          GengarMega Gengar
Type 1                    Ghost
HP                           60
Attack                       65
Defense                      80
Sp. Atk                     170
Sp. Def                      95
Speed                       130
Generation                    1
Legendary                 False
Name: 102, dtype: object
103 =---- Name           Onix
Type 1         Rock
HP               35
Attack           45
Defense         160
Sp. Atk          30
Sp. Def          45
Speed            70
Generation        1
Legendary     False
Name: 103, dtype: object
104 =---- Name          Drowzee
Type 1        Psychic
HP                 60
Attack             48
Defense            45
Sp. Atk            43
Sp. Def            90
Speed              42
Generation          1
Legendary       False
Name: 104, dtype: object
105 =---- Name            Hypno
Type 1        Psychic
HP                 85
Attack             73
Defense            70
Sp. Atk            73
Sp. Def           115
Speed              67
Generation          1
Legendary       False
Name: 105, dtype: object
106 =---- Name          Krabby
Type 1         Water
HP                30
Attack           105
Defense           90
Sp. Atk           25
Sp. Def           25
Speed             50
Generation         1
Legendary      False
Name: 106, dtype: object
107 =---- Name          Kingler
Type 1          Water
HP                 55
Attack            130
Defense           115
Sp. Atk            50
Sp. Def            50
Speed              75
Generation          1
Legendary       False
Name: 107, dtype: object
108 =---- Name           Voltorb
Type 1        Electric
HP                  40
Attack              30
Defense             50
Sp. Atk             55
Sp. Def             55
Speed              100
Generation           1
Legendary        False
Name: 108, dtype: object
109 =---- Name          Electrode
Type 1         Electric
HP                   60
Attack               50
Defense              70
Sp. Atk              80
Sp. Def              80
Speed               140
Generation            1
Legendary         False
Name: 109, dtype: object
110 =---- Name          Exeggcute
Type 1            Grass
HP                   60
Attack               40
Defense              80
Sp. Atk              60
Sp. Def              45
Speed                40
Generation            1
Legendary         False
Name: 110, dtype: object
111 =---- Name          Exeggutor
Type 1            Grass
HP                   95
Attack               95
Defense              85
Sp. Atk             125
Sp. Def              65
Speed                55
Generation            1
Legendary         False
Name: 111, dtype: object
112 =---- Name          Cubone
Type 1        Ground
HP                50
Attack            50
Defense           95
Sp. Atk           40
Sp. Def           50
Speed             35
Generation         1
Legendary      False
Name: 112, dtype: object
113 =---- Name          Marowak
Type 1         Ground
HP                 60
Attack             80
Defense           110
Sp. Atk            50
Sp. Def            80
Speed              45
Generation          1
Legendary       False
Name: 113, dtype: object
114 =---- Name          Hitmonlee
Type 1         Fighting
HP                   50
Attack              120
Defense              53
Sp. Atk              35
Sp. Def             110
Speed                87
Generation            1
Legendary         False
Name: 114, dtype: object
115 =---- Name          Hitmonchan
Type 1          Fighting
HP                    50
Attack               105
Defense               79
Sp. Atk               35
Sp. Def              110
Speed                 76
Generation             1
Legendary          False
Name: 115, dtype: object
116 =---- Name          Lickitung
Type 1           Normal
HP                   90
Attack               55
Defense              75
Sp. Atk              60
Sp. Def              75
Speed                30
Generation            1
Legendary         False
Name: 116, dtype: object
117 =---- Name          Koffing
Type 1         Poison
HP                 40
Attack             65
Defense            95
Sp. Atk            60
Sp. Def            45
Speed              35
Generation          1
Legendary       False
Name: 117, dtype: object
118 =---- Name          Weezing
Type 1         Poison
HP                 65
Attack             90
Defense           120
Sp. Atk            85
Sp. Def            70
Speed              60
Generation          1
Legendary       False
Name: 118, dtype: object
119 =---- Name          Rhyhorn
Type 1         Ground
HP                 80
Attack             85
Defense            95
Sp. Atk            30
Sp. Def            30
Speed              25
Generation          1
Legendary       False
Name: 119, dtype: object
120 =---- Name          Rhydon
Type 1        Ground
HP               105
Attack           130
Defense          120
Sp. Atk           45
Sp. Def           45
Speed             40
Generation         1
Legendary      False
Name: 120, dtype: object
121 =---- Name          Chansey
Type 1         Normal
HP                250
Attack              5
Defense             5
Sp. Atk            35
Sp. Def           105
Speed              50
Generation          1
Legendary       False
Name: 121, dtype: object
122 =---- Name          Tangela
Type 1          Grass
HP                 65
Attack             55
Defense           115
Sp. Atk           100
Sp. Def            40
Speed              60
Generation          1
Legendary       False
Name: 122, dtype: object
123 =---- Name          Kangaskhan
Type 1            Normal
HP                   105
Attack                95
Defense               80
Sp. Atk               40
Sp. Def               80
Speed                 90
Generation             1
Legendary          False
Name: 123, dtype: object
124 =---- Name          KangaskhanMega Kangaskhan
Type 1                           Normal
HP                                  105
Attack                              125
Defense                             100
Sp. Atk                              60
Sp. Def                             100
Speed                               100
Generation                            1
Legendary                         False
Name: 124, dtype: object
125 =---- Name          Horsea
Type 1         Water
HP                30
Attack            40
Defense           70
Sp. Atk           70
Sp. Def           25
Speed             60
Generation         1
Legendary      False
Name: 125, dtype: object
126 =---- Name          Seadra
Type 1         Water
HP                55
Attack            65
Defense           95
Sp. Atk           95
Sp. Def           45
Speed             85
Generation         1
Legendary      False
Name: 126, dtype: object
127 =---- Name          Goldeen
Type 1          Water
HP                 45
Attack             67
Defense            60
Sp. Atk            35
Sp. Def            50
Speed              63
Generation          1
Legendary       False
Name: 127, dtype: object
128 =---- Name          Seaking
Type 1          Water
HP                 80
Attack             92
Defense            65
Sp. Atk            65
Sp. Def            80
Speed              68
Generation          1
Legendary       False
Name: 128, dtype: object
129 =---- Name          Staryu
Type 1         Water
HP                30
Attack            45
Defense           55
Sp. Atk           70
Sp. Def           55
Speed             85
Generation         1
Legendary      False
Name: 129, dtype: object
130 =---- Name          Starmie
Type 1          Water
HP                 60
Attack             75
Defense            85
Sp. Atk           100
Sp. Def            85
Speed             115
Generation          1
Legendary       False
Name: 130, dtype: object
131 =---- Name          Mr. Mime
Type 1         Psychic
HP                  40
Attack              45
Defense             65
Sp. Atk            100
Sp. Def            120
Speed               90
Generation           1
Legendary        False
Name: 131, dtype: object
132 =---- Name          Scyther
Type 1            Bug
HP                 70
Attack            110
Defense            80
Sp. Atk            55
Sp. Def            80
Speed             105
Generation          1
Legendary       False
Name: 132, dtype: object
133 =---- Name           Jynx
Type 1          Ice
HP               65
Attack           50
Defense          35
Sp. Atk         115
Sp. Def          95
Speed            95
Generation        1
Legendary     False
Name: 133, dtype: object
134 =---- Name          Electabuzz
Type 1          Electric
HP                    65
Attack                83
Defense               57
Sp. Atk               95
Sp. Def               85
Speed                105
Generation             1
Legendary          False
Name: 134, dtype: object
135 =---- Name          Magmar
Type 1          Fire
HP                65
Attack            95
Defense           57
Sp. Atk          100
Sp. Def           85
Speed             93
Generation         1
Legendary      False
Name: 135, dtype: object
136 =---- Name          Pinsir
Type 1           Bug
HP                65
Attack           125
Defense          100
Sp. Atk           55
Sp. Def           70
Speed             85
Generation         1
Legendary      False
Name: 136, dtype: object
137 =---- Name          PinsirMega Pinsir
Type 1                      Bug
HP                           65
Attack                      155
Defense                     120
Sp. Atk                      65
Sp. Def                      90
Speed                       105
Generation                    1
Legendary                 False
Name: 137, dtype: object
138 =---- Name          Tauros
Type 1        Normal
HP                75
Attack           100
Defense           95
Sp. Atk           40
Sp. Def           70
Speed            110
Generation         1
Legendary      False
Name: 138, dtype: object
139 =---- Name          Magikarp
Type 1           Water
HP                  20
Attack              10
Defense             55
Sp. Atk             15
Sp. Def             20
Speed               80
Generation           1
Legendary        False

150 =---- Name          Omastar
Type 1           Rock
HP                 70
Attack             60
Defense           125
Sp. Atk           115
Sp. Def            70
Speed              55
Generation          1
Legendary       False
Name: 150, dtype: object
151 =---- Name          Kabuto
Type 1          Rock
HP                30
Attack            80
Defense           90
Sp. Atk           55
Sp. Def           45
Speed             55
Generation         1
Legendary      False
Name: 151, dtype: object
152 =---- Name          Kabutops
Type 1            Rock
HP                  60
Attack             115
Defense            105
Sp. Atk             65
Sp. Def             70
Speed               80
Generation           1
Legendary        False
Name: 152, dtype: object
153 =---- Name          Aerodactyl
Type 1              Rock
HP                    80
Attack               105
Defense               65
Sp. Atk               60
Sp. Def               75
Speed                130
Generation             1
Legendary          False
Name: 153, dtype: object
154 =---- Name          AerodactylMega Aerodactyl
Type 1                             Rock
HP                                   80
Attack                              135
Defense                              85
Sp. Atk                              70
Sp. Def                              95
Speed                               150
Generation                            1
Legendary                         False
Name: 154, dtype: object
155 =---- Name          Snorlax
Type 1         Normal
HP                160
Attack            110
Defense            65
Sp. Atk            65
Sp. Def           110
Speed              30
Generation          1
Legendary       False
Name: 155, dtype: object
156 =---- Name          Articuno
Type 1             Ice
HP                  90
Attack              85
Defense            100
Sp. Atk             95
Sp. Def            125
Speed               85
Generation           1
Legendary         True
Name: 156, dtype: object
157 =---- Name            Zapdos
Type 1        Electric
HP                  90
Attack              90
Defense             85
Sp. Atk            125
Sp. Def             90
Speed              100
Generation           1
Legendary         True
Name: 157, dtype: object
158 =---- Name          Moltres
Type 1           Fire
HP                 90
Attack            100
Defense            90
Sp. Atk           125
Sp. Def            85
Speed              90
Generation          1
Legendary        True
Name: 158, dtype: object
159 =---- Name          Dratini
Type 1         Dragon
HP                 41
Attack             64
Defense            45
Sp. Atk            50
Sp. Def            50
Speed              50
Generation          1
Legendary       False
Name: 159, dtype: object
160 =---- Name          Dragonair
Type 1           Dragon
HP                   61
Attack               84
Defense              65
Sp. Atk              70
Sp. Def              70
Speed                70
Generation            1
Legendary         False
Name: 160, dtype: object
161 =---- Name          Dragonite
Type 1           Dragon
HP                   91
Attack              134
Defense              95
Sp. Atk             100
Sp. Def             100
Speed                80
Generation            1
Legendary         False
Name: 161, dtype: object
162 =---- Name           Mewtwo
Type 1        Psychic
HP                106
Attack            110
Defense            90
Sp. Atk           154
Sp. Def            90
Speed             130
Generation          1
Legendary        True
Name: 162, dtype: object
163 =---- Name          MewtwoMega Mewtwo X
Type 1                    Psychic
HP                            106
Attack                        190
Defense                       100
Sp. Atk                       154
Sp. Def                       100
Speed                         130
Generation                      1
Legendary                    True
Name: 163, dtype: object
164 =---- Name          MewtwoMega Mewtwo Y
Type 1                    Psychic
HP                            106
Attack                        150
Defense                        70
Sp. Atk                       194
Sp. Def                       120
Speed                         140
Generation                      1
Legendary                    True
Name: 164, dtype: object
165 =---- Name              Mew
Type 1        Psychic
HP                100
Attack            100
Defense           100
Sp. Atk           100
Sp. Def           100
Speed             100
Generation          1
Legendary       False
Name: 165, dtype: object
166 =---- Name          Chikorita
Type 1            Grass
HP                   45
Attack               49
Defense              65
Sp. Atk              49
Sp. Def              65
Speed                45
Generation            2
Legendary         False
Name: 166, dtype: object
167 =---- Name          Bayleef
Type 1          Grass
HP                 60
Attack             62
Defense            80
Sp. Atk            63
Sp. Def            80
Speed              60
Generation          2
Legendary       False
Name: 167, dtype: object
168 =---- Name          Meganium
Type 1           Grass
HP                  80
Attack              82
Defense            100
Sp. Atk             83
Sp. Def            100
Speed               80
Generation           2
Legendary        False
Name: 168, dtype: object
169 =---- Name          Cyndaquil
Type 1             Fire
HP                   39
Attack               52
Defense              43
Sp. Atk              60
Sp. Def              50
Speed                65
Generation            2
Legendary         False
Name: 169, dtype: object
170 =---- Name          Quilava
Type 1           Fire
HP                 58
Attack             64
Defense            58
Sp. Atk            80
Sp. Def            65
Speed              80
Generation          2
Legendary       False
Name: 170, dtype: object
171 =---- Name          Typhlosion
Type 1              Fire
HP                    78
Attack                84
Defense               78
Sp. Atk              109
Sp. Def               85
Speed                100
Generation             2
Legendary          False
Name: 171, dtype: object
172 =---- Name          Totodile
Type 1           Water
HP                  50
Attack              65
Defense             64
Sp. Atk             44
Sp. Def             48
Speed               43
Generation           2
Legendary        False
Name: 172, dtype: object
173 =---- Name          Croconaw
Type 1           Water
HP                  65
Attack              80
Defense             80
Sp. Atk             59
Sp. Def             63
Speed               58
Generation           2
Legendary        False
Name: 173, dtype: object
174 =---- Name          Feraligatr
Type 1             Water
HP                    85
Attack               105
Defense              100
Sp. Atk               79
Sp. Def               83
Speed                 78
Generation             2
Legendary          False
Name: 174, dtype: object
175 =---- Name          Sentret
Type 1         Normal
HP                 35
Attack             46
Defense            34
Sp. Atk            35
Sp. Def            45
Speed              20
Generation          2
Legendary       False
Name: 175, dtype: object
176 =---- Name          Furret
Type 1        Normal
HP                85
Attack            76
Defense           64
Sp. Atk           45
Sp. Def           55
Speed             90
Generation         2
Legendary      False
Name: 176, dtype: object
177 =---- Name          Hoothoot
Type 1          Normal
HP                  60
Attack              30
Defense             30
Sp. Atk             36
Sp. Def             56
Speed               50
Generation           2
Legendary        False
Name: 177, dtype: object
178 =---- Name          Noctowl
Type 1         Normal
HP                100
Attack             50
Defense            50
Sp. Atk            76
Sp. Def            96
Speed              70
Generation          2
Legendary       False
Name: 178, dtype: object
179 =---- Name          Ledyba
Type 1           Bug
HP                40
Attack            20
Defense           30
Sp. Atk           40
Sp. Def           80
Speed             55
Generation         2
Legendary      False
Name: 179, dtype: object
180 =---- Name          Ledian
Type 1           Bug
HP                55
Attack            35
Defense           50
Sp. Atk           55
Sp. Def          110
Speed             85
Generation         2
Legendary      False
Name: 180, dtype: object
181 =---- Name          Spinarak
Type 1             Bug
HP                  40
Attack              60
Defense             40
Sp. Atk             40
Sp. Def             40
Speed               30
Generation           2
Legendary        False
Name: 181, dtype: object
182 =---- Name          Ariados
Type 1            Bug
HP                 70
Attack             90
Defense            70
Sp. Atk            60
Sp. Def            60
Speed              40
Generation          2
Legendary       False
Name: 182, dtype: object
183 =---- Name          Crobat
Type 1        Poison
HP                85
Attack            90
Defense           80
Sp. Atk           70
Sp. Def           80
Speed            130
Generation         2
Legendary      False
Name: 183, dtype: object
184 =---- Name          Chinchou
Type 1           Water
HP                  75
Attack              38
Defense             38
Sp. Atk             56
Sp. Def             56
Speed               67
Generation           2
Legendary        False
Name: 184, dtype: object
185 =---- Name          Lanturn
Type 1          Water
HP                125
Attack             58
Defense            58
Sp. Atk            76
Sp. Def            76
Speed              67
Generation          2
Legendary       False
Name: 185, dtype: object
186 =---- Name             Pichu
Type 1        Electric
HP                  20
Attack              40
Defense             15
Sp. Atk             35
Sp. Def             35
Speed               60
Generation           2
Legendary        False
Name: 186, dtype: object
187 =---- Name          Cleffa
Type 1         Fairy
HP                50
Attack            25
Defense           28
Sp. Atk           45
Sp. Def           55
Speed             15
Generation         2
Legendary      False
Name: 187, dtype: object
188 =---- Name          Igglybuff
Type 1           Normal
HP                   90
Attack               30
Defense              15
Sp. Atk              40
Sp. Def              20
Speed                15
Generation            2
Legendary         False
Name: 188, dtype: object
189 =---- Name          Togepi
Type 1         Fairy
HP                35
Attack            20
Defense           65
Sp. Atk           40
Sp. Def           65
Speed             20
Generation         2
Legendary      False
Name: 189, dtype: object
190 =---- Name          Togetic
Type 1          Fairy
HP                 55
Attack             40
Defense            85
Sp. Atk            80
Sp. Def           105
Speed              40
Generation          2
Legendary       False
Name: 190, dtype: object
191 =---- Name             Natu
Type 1        Psychic
HP                 40
Attack             50
Defense            45
Sp. Atk            70
Sp. Def            45
Speed              70
Generation          2
Legendary       False
Name: 191, dtype: object
192 =---- Name             Xatu
Type 1        Psychic
HP                 65
Attack             75
Defense            70
Sp. Atk            95
Sp. Def            70
Speed              95
Generation          2
Legendary       False
Name: 192, dtype: object
193 =---- Name            Mareep
Type 1        Electric
HP                  55
Attack              40
Defense             40
Sp. Atk             65
Sp. Def             45
Speed               35
Generation           2
Legendary        False
Name: 193, dtype: object
194 =---- Name           Flaaffy
Type 1        Electric
HP                  70
Attack              55
Defense             55
Sp. Atk             80
Sp. Def             60
Speed               45
Generation           2
Legendary        False
Name: 194, dtype: object
195 =---- Name          Ampharos
Type 1        Electric
HP                  90
Attack              75
Defense             85
Sp. Atk            115
Sp. Def             90
Speed               55
Generation           2
Legendary        False
Name: 195, dtype: object
196 =---- Name          AmpharosMega Ampharos
Type 1                     Electric
HP                               90
Attack                           95
Defense                         105
Sp. Atk                         165
Sp. Def                         110
Speed                            45
Generation                        2
Legendary                     False
Name: 196, dtype: object
197 =---- Name          Bellossom
Type 1            Grass
HP                   75
Attack               80
Defense              95
Sp. Atk              90
Sp. Def             100
Speed                50
Generation            2
Legendary         False
Name: 197, dtype: object
198 =---- Name          Marill
Type 1         Water
HP                70
Attack            20
Defense           50
Sp. Atk           20
Sp. Def           50
Speed             40
Generation         2
Legendary      False
Name: 198, dtype: object
199 =---- Name          Azumarill
Type 1            Water
HP                  100
Attack               50
Defense              80
Sp. Atk              60
Sp. Def              80
Speed                50
Generation            2
Legendary         False
Name: 199, dtype: object
200 =---- Name          Sudowoodo
Type 1             Rock
HP                   70
Attack              100
Defense             115
Sp. Atk              30
Sp. Def              65
Speed                30
Generation            2
Legendary         False
Name: 200, dtype: object
201 =---- Name          Politoed
Type 1           Water
HP                  90
Attack              75
Defense             75
Sp. Atk             90
Sp. Def            100
Speed               70
Generation           2
Legendary        False
Name: 201, dtype: object
202 =---- Name          Hoppip
Type 1         Grass
HP                35
Attack            35
Defense           40
Sp. Atk           35
Sp. Def           55
Speed             50
Generation         2
Legendary      False
Name: 202, dtype: object
203 =---- Name          Skiploom
Type 1           Grass
HP                  55
Attack              45
Defense             50
Sp. Atk             45
Sp. Def             65
Speed               80
Generation           2
Legendary        False
Name: 203, dtype: object
204 =---- Name          Jumpluff
Type 1           Grass
HP                  75
Attack              55
Defense             70
Sp. Atk             55
Sp. Def             95
Speed              110
Generation           2
Legendary        False
Name: 204, dtype: object
205 =---- Name           Aipom
Type 1        Normal
HP                55
Attack            70
Defense           55
Sp. Atk           40
Sp. Def           55
Speed             85
Generation         2
Legendary      False

Name: 205, dtype: object
206 =---- Name          Sunkern
Type 1          Grass
HP                 30
Attack             30
Defense            30
Sp. Atk            30
Sp. Def            30
Speed              30
Generation          2
Legendary       False
Name: 206, dtype: object
207 =---- Name          Sunflora
Type 1           Grass
HP                  75
Attack              75
Defense             55
Sp. Atk            105
Sp. Def             85
Speed               30
Generation           2
Legendary        False
Name: 207, dtype: object
208 =---- Name          Yanma
Type 1          Bug
HP               65
Attack           65
Defense          45
Sp. Atk          75
Sp. Def          45
Speed            95
Generation        2
Legendary     False
Name: 208, dtype: object
209 =---- Name          Wooper
Type 1         Water
HP                55
Attack            45
Defense           45
Sp. Atk           25
Sp. Def           25
Speed             15
Generation         2
Legendary      False
Name: 209, dtype: object
210 =---- Name          Quagsire
Type 1           Water
HP                  95
Attack              85
Defense             85
Sp. Atk             65
Sp. Def             65
Speed               35
Generation           2
Legendary        False
Name: 210, dtype: object
211 =---- Name           Espeon
Type 1        Psychic
HP                 65
Attack             65
Defense            60
Sp. Atk           130
Sp. Def            95
Speed             110
Generation          2
Legendary       False
Name: 211, dtype: object
212 =---- Name          Umbreon
Type 1           Dark
HP                 95
Attack             65
Defense           110
Sp. Atk            60
Sp. Def           130
Speed              65
Generation          2
Legendary       False
Name: 212, dtype: object
213 =---- Name          Murkrow
Type 1           Dark
HP                 60
Attack             85
Defense            42
Sp. Atk            85
Sp. Def            42
Speed              91
Generation          2
Legendary       False
Name: 213, dtype: object
214 =---- Name          Slowking
Type 1           Water
HP                  95
Attack              75
Defense             80
Sp. Atk            100
Sp. Def            110
Speed               30
Generation           2
Legendary        False
Name: 214, dtype: object
215 =---- Name          Misdreavus
Type 1             Ghost
HP                    60
Attack                60
Defense               60
Sp. Atk               85
Sp. Def               85
Speed                 85
Generation             2
Legendary          False
Name: 215, dtype: object
216 =---- Name            Unown
Type 1        Psychic
HP                 48
Attack             72
Defense            48
Sp. Atk            72
Sp. Def            48
Speed              48
Generation          2
Legendary       False
Name: 216, dtype: object
217 =---- Name          Wobbuffet
Type 1          Psychic
HP                  190
Attack               33
Defense              58
Sp. Atk              33
Sp. Def              58
Speed                33
Generation            2
Legendary         False
Name: 217, dtype: object
218 =---- Name          Girafarig
Type 1           Normal
HP                   70
Attack               80
Defense              65
Sp. Atk              90
Sp. Def              65
Speed                85
Generation            2
Legendary         False
Name: 218, dtype: object
219 =---- Name          Pineco
Type 1           Bug
HP                50
Attack            65
Defense           90
Sp. Atk           35
Sp. Def           35
Speed             15
Generation         2
Legendary      False
Name: 219, dtype: object
220 =---- Name          Forretress
Type 1               Bug
HP                    75
Attack                90
Defense              140
Sp. Atk               60
Sp. Def               60
Speed                 40
Generation             2
Legendary          False
Name: 220, dtype: object
221 =---- Name          Dunsparce
Type 1           Normal
HP                  100
Attack               70
Defense              70
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            2
Legendary         False
Name: 221, dtype: object
222 =---- Name          Gligar
Type 1        Ground
HP                65
Attack            75
Defense          105
Sp. Atk           35
Sp. Def           65
Speed             85
Generation         2
Legendary      False
Name: 222, dtype: object
223 =---- Name          Steelix
Type 1          Steel
HP                 75
Attack             85
Defense           200
Sp. Atk            55
Sp. Def            65
Speed              30
Generation          2
Legendary       False
Name: 223, dtype: object
224 =---- Name          SteelixMega Steelix
Type 1                      Steel
HP                             75
Attack                        125
Defense                       230
Sp. Atk                        55
Sp. Def                        95
Speed                          30
Generation                      2
Legendary                   False
Name: 224, dtype: object
225 =---- Name          Snubbull
Type 1           Fairy
HP                  60
Attack              80
Defense             50
Sp. Atk             40
Sp. Def             40
Speed               30
Generation           2
Legendary        False
Name: 225, dtype: object
226 =---- Name          Granbull
Type 1           Fairy
HP                  90
Attack             120
Defense             75
Sp. Atk             60
Sp. Def             60
Speed               45
Generation           2
Legendary        False
Name: 226, dtype: object
227 =---- Name          Qwilfish
Type 1           Water
HP                  65
Attack              95
Defense             75
Sp. Atk             55
Sp. Def             55
Speed               85
Generation           2
Legendary        False
Name: 227, dtype: object
228 =---- Name          Scizor
Type 1           Bug
HP                70
Attack           130
Defense          100
Sp. Atk           55
Sp. Def           80
Speed             65
Generation         2
Legendary      False
Name: 228, dtype: object
229 =---- Name          ScizorMega Scizor
Type 1                      Bug
HP                           70
Attack                      150
Defense                     140
Sp. Atk                      65
Sp. Def                     100
Speed                        75
Generation                    2
Legendary                 False
Name: 229, dtype: object
230 =---- Name          Shuckle
Type 1            Bug
HP                 20
Attack             10
Defense           230
Sp. Atk            10
Sp. Def           230
Speed               5
Generation          2
Legendary       False
Name: 230, dtype: object
231 =---- Name          Heracross
Type 1              Bug
HP                   80
Attack              125
Defense              75
Sp. Atk              40
Sp. Def              95
Speed                85
Generation            2
Legendary         False
Name: 231, dtype: object
232 =---- Name          HeracrossMega Heracross
Type 1                            Bug
HP                                 80
Attack                            185
Defense                           115
Sp. Atk                            40
Sp. Def                           105
Speed                              75
Generation                          2
Legendary                       False
Name: 232, dtype: object
233 =---- Name          Sneasel
Type 1           Dark
HP                 55
Attack             95
Defense            55
Sp. Atk            35
Sp. Def            75
Speed             115
Generation          2
Legendary       False
Name: 233, dtype: object
234 =---- Name          Teddiursa
Type 1           Normal
HP                   60
Attack               80
Defense              50
Sp. Atk              50
Sp. Def              50
Speed                40
Generation            2
Legendary         False
Name: 234, dtype: object
235 =---- Name          Ursaring
Type 1          Normal
HP                  90
Attack             130
Defense             75
Sp. Atk             75
Sp. Def             75
Speed               55
Generation           2
Legendary        False
Name: 235, dtype: object
236 =---- Name          Slugma
Type 1          Fire
HP                40
Attack            40
Defense           40
Sp. Atk           70
Sp. Def           40
Speed             20
Generation         2
Legendary      False
Name: 236, dtype: object
237 =---- Name          Magcargo
Type 1            Fire
HP                  50
Attack              50
Defense            120
Sp. Atk             80
Sp. Def             80
Speed               30
Generation           2
Legendary        False
Name: 237, dtype: object
238 =---- Name          Swinub
Type 1           Ice
HP                50
Attack            50
Defense           40
Sp. Atk           30
Sp. Def           30
Speed             50
Generation         2
Legendary      False
Name: 238, dtype: object
239 =---- Name          Piloswine
Type 1              Ice
HP                  100
Attack              100
Defense              80
Sp. Atk              60
Sp. Def              60
Speed                50
Generation            2
Legendary         False
Name: 239, dtype: object
240 =---- Name          Corsola
Type 1          Water
HP                 55
Attack             55
Defense            85
Sp. Atk            65
Sp. Def            85
Speed              35
Generation          2
Legendary       False
Name: 240, dtype: object
241 =---- Name          Remoraid
Type 1           Water
HP                  35
Attack              65
Defense             35
Sp. Atk             65
Sp. Def             35
Speed               65
Generation           2
Legendary        False
Name: 241, dtype: object
242 =---- Name          Octillery
Type 1            Water
HP                   75
Attack              105
Defense              75
Sp. Atk             105
Sp. Def              75
Speed                45
Generation            2
Legendary         False
Name: 242, dtype: object
243 =---- Name          Delibird
Type 1             Ice
HP                  45
Attack              55
Defense             45
Sp. Atk             65
Sp. Def             45
Speed               75
Generation           2
Legendary        False
Name: 243, dtype: object
244 =---- Name          Mantine
Type 1          Water
HP                 65
Attack             40
Defense            70
Sp. Atk            80
Sp. Def           140
Speed              70
Generation          2
Legendary       False
Name: 244, dtype: object
245 =---- Name          Skarmory
Type 1           Steel
HP                  65
Attack              80
Defense            140
Sp. Atk             40
Sp. Def             70
Speed               70
Generation           2
Legendary        False
Name: 245, dtype: object
246 =---- Name          Houndour
Type 1            Dark
HP                  45
Attack              60
Defense             30
Sp. Atk             80
Sp. Def             50
Speed               65
Generation           2
Legendary        False
Name: 246, dtype: object
247 =---- Name          Houndoom
Type 1            Dark
HP                  75
Attack              90
Defense             50
Sp. Atk            110
Sp. Def             80
Speed               95
Generation           2
Legendary        False
Name: 247, dtype: object
248 =---- Name          HoundoomMega Houndoom
Type 1                         Dark
HP                               75
Attack                           90
Defense                          90
Sp. Atk                         140
Sp. Def                          90
Speed                           115
Generation                        2
Legendary                     False
Name: 248, dtype: object
249 =---- Name          Kingdra
Type 1          Water
HP                 75
Attack             95
Defense            95
Sp. Atk            95
Sp. Def            95
Speed              85
Generation          2
Legendary       False
Name: 249, dtype: object
250 =---- Name          Phanpy
Type 1        Ground
HP                90
Attack            60
Defense           60
Sp. Atk           40
Sp. Def           40
Speed             40
Generation         2
Legendary      False
Name: 250, dtype: object
251 =---- Name          Donphan
Type 1         Ground
HP                 90
Attack            120
Defense           120
Sp. Atk            60
Sp. Def            60
Speed              50
Generation          2
Legendary       False
Name: 251, dtype: object
252 =---- Name          Porygon2
Type 1          Normal
HP                  85
Attack              80
Defense             90
Sp. Atk            105
Sp. Def             95
Speed               60
Generation           2
Legendary        False
Name: 252, dtype: object
253 =---- Name          Stantler
Type 1          Normal
HP                  73
Attack              95
Defense             62
Sp. Atk             85
Sp. Def             65
Speed               85
Generation           2
Legendary        False
Name: 253, dtype: object
254 =---- Name          Smeargle
Type 1          Normal
HP                  55
Attack              20
Defense             35
Sp. Atk             20
Sp. Def             45
Speed               75
Generation           2
Legendary        False
Name: 254, dtype: object
255 =---- Name           Tyrogue
Type 1        Fighting
HP                  35
Attack              35
Defense             35
Sp. Atk             35
Sp. Def             35
Speed               35
Generation           2
Legendary        False
Name: 255, dtype: object
256 =---- Name          Hitmontop
Type 1         Fighting
HP                   50
Attack               95
Defense              95
Sp. Atk              35
Sp. Def             110
Speed                70
Generation            2
Legendary         False
Name: 256, dtype: object
257 =---- Name          Smoochum
Type 1             Ice
HP                  45
Attack              30
Defense             15
Sp. Atk             85
Sp. Def             65
Speed               65
Generation           2
Legendary        False
Name: 257, dtype: object
258 =---- Name            Elekid
Type 1        Electric
HP                  45
Attack              63
Defense             37
Sp. Atk             65
Sp. Def             55
Speed               95
Generation           2
Legendary        False
Name: 258, dtype: object
259 =---- Name          Magby
Type 1         Fire
HP               45
Attack           75
Defense          37
Sp. Atk          70
Sp. Def          55
Speed            83
Generation        2
Legendary     False
Name: 259, dtype: object
260 =---- Name          Miltank
Type 1         Normal
HP                 95
Attack             80
Defense           105
Sp. Atk            40
Sp. Def            70
Speed             100
Generation          2
Legendary       False
Name: 260, dtype: object
261 =---- Name          Blissey
Type 1         Normal
HP                255
Attack             10
Defense            10
Sp. Atk            75
Sp. Def           135
Speed              55
Generation          2
Legendary       False
Name: 261, dtype: object
262 =---- Name            Raikou
Type 1        Electric
HP                  90
Attack              85
Defense             75
Sp. Atk            115
Sp. Def            100
Speed              115
Generation           2
Legendary         True
Name: 262, dtype: object
263 =---- Name          Entei
Type 1         Fire
HP              115
Attack          115
Defense          85
Sp. Atk          90
Sp. Def          75
Speed           100
Generation        2
Legendary      True
Name: 263, dtype: object
264 =---- Name          Suicune
Type 1          Water
HP                100
Attack             75
Defense           115
Sp. Atk            90
Sp. Def           115
Speed              85
Generation          2
Legendary        True
Name: 264, dtype: object
265 =---- Name          Larvitar
Type 1            Rock
HP                  50
Attack              64
Defense             50
Sp. Atk             45
Sp. Def             50
Speed               41
Generation           2
Legendary        False
Name: 265, dtype: object
266 =---- Name          Pupitar
Type 1           Rock
HP                 70
Attack             84
Defense            70
Sp. Atk            65
Sp. Def            70
Speed              51
Generation          2
Legendary       False
Name: 266, dtype: object
267 =---- Name          Tyranitar
Type 1             Rock
HP                  100
Attack              134
Defense             110
Sp. Atk              95
Sp. Def             100
Speed                61
Generation            2
Legendary         False
Name: 267, dtype: object
268 =---- Name          TyranitarMega Tyranitar
Type 1                           Rock
HP                                100
Attack                            164
Defense                           150
Sp. Atk                            95
Sp. Def                           120
Speed                              71
Generation                          2
Legendary                       False
Name: 268, dtype: object
269 =---- Name            Lugia
Type 1        Psychic
HP                106
Attack             90
Defense           130
Sp. Atk            90
Sp. Def           154
Speed             110
Generation          2
Legendary        True
Name: 269, dtype: object
270 =---- Name          Ho-oh
Type 1         Fire
HP              106
Attack          130
Defense          90
Sp. Atk         110
Sp. Def         154
Speed            90
Generation        2
Legendary      True
Name: 270, dtype: object
271 =---- Name           Celebi
Type 1        Psychic
HP                100
Attack            100
Defense           100
Sp. Atk           100
Sp. Def           100
Speed             100
Generation          2
Legendary       False
Name: 271, dtype: object
272 =---- Name          Treecko
Type 1          Grass
HP                 40
Attack             45
Defense            35
Sp. Atk            65
Sp. Def            55
Speed              70
Generation          3
Legendary       False
Name: 272, dtype: object
273 =---- Name          Grovyle
Type 1          Grass
HP                 50
Attack             65
Defense            45
Sp. Atk            85
Sp. Def            65
Speed              95
Generation          3
Legendary       False
Name: 273, dtype: object
274 =---- Name          Sceptile
Type 1           Grass
HP                  70
Attack              85
Defense             65
Sp. Atk            105
Sp. Def             85
Speed              120
Generation           3
Legendary        False
Name: 274, dtype: object
275 =---- Name          SceptileMega Sceptile
Type 1                        Grass
HP                               70
Attack                          110
Defense                          75
Sp. Atk                         145
Sp. Def                          85
Speed                           145
Generation                        3
Legendary                     False
Name: 275, dtype: object
276 =---- Name          Torchic
Type 1           Fire
HP                 45
Attack             60
Defense            40
Sp. Atk            70
Sp. Def            50
Speed              45
Generation          3
Legendary       False
Name: 276, dtype: object
277 =---- Name          Combusken
Type 1             Fire
HP                   60
Attack               85
Defense              60
Sp. Atk              85
Sp. Def              60
Speed                55
Generation            3
Legendary         False
Name: 277, dtype: object
278 =---- Name          Blaziken
Type 1            Fire
HP                  80
Attack             120
Defense             70
Sp. Atk            110
Sp. Def             70
Speed               80
Generation           3
Legendary        False
Name: 278, dtype: object
279 =---- Name          BlazikenMega Blaziken
Type 1                         Fire
HP                               80
Attack                          160
Defense                          80

Name: 291, dtype: object
292 =---- Name          Dustox
Type 1           Bug
HP                60
Attack            50
Defense           70
Sp. Atk           50
Sp. Def           90
Speed             65
Generation         3
Legendary      False
Name: 292, dtype: object
293 =---- Name          Lotad
Type 1        Water
HP               40
Attack           30
Defense          30
Sp. Atk          40
Sp. Def          50
Speed            30
Generation        3
Legendary     False
Name: 293, dtype: object
294 =---- Name          Lombre
Type 1         Water
HP                60
Attack            50
Defense           50
Sp. Atk           60
Sp. Def           70
Speed             50
Generation         3
Legendary      False
Name: 294, dtype: object
295 =---- Name          Ludicolo
Type 1           Water
HP                  80
Attack              70
Defense             70
Sp. Atk             90
Sp. Def            100
Speed               70
Generation           3
Legendary        False
Name: 295, dtype: object
296 =---- Name          Seedot
Type 1         Grass
HP                40
Attack            40
Defense           50
Sp. Atk           30
Sp. Def           30
Speed             30
Generation         3
Legendary      False
Name: 296, dtype: object
297 =---- Name          Nuzleaf
Type 1          Grass
HP                 70
Attack             70
Defense            40
Sp. Atk            60
Sp. Def            40
Speed              60
Generation          3
Legendary       False
Name: 297, dtype: object
298 =---- Name          Shiftry
Type 1          Grass
HP                 90
Attack            100
Defense            60
Sp. Atk            90
Sp. Def            60
Speed              80
Generation          3
Legendary       False
Name: 298, dtype: object
299 =---- Name          Taillow
Type 1         Normal
HP                 40
Attack             55
Defense            30
Sp. Atk            30
Sp. Def            30
Speed              85
Generation          3
Legendary       False
Name: 299, dtype: object
300 =---- Name          Swellow
Type 1         Normal
HP                 60
Attack             85
Defense            60
Sp. Atk            50
Sp. Def            50
Speed             125
Generation          3
Legendary       False
Name: 300, dtype: object
301 =---- Name          Wingull
Type 1          Water
HP                 40
Attack             30
Defense            30
Sp. Atk            55
Sp. Def            30
Speed              85
Generation          3
Legendary       False
Name: 301, dtype: object
302 =---- Name          Pelipper
Type 1           Water
HP                  60
Attack              50
Defense            100
Sp. Atk             85
Sp. Def             70
Speed               65
Generation           3
Legendary        False
Name: 302, dtype: object
303 =---- Name            Ralts
Type 1        Psychic
HP                 28
Attack             25
Defense            25
Sp. Atk            45
Sp. Def            35
Speed              40
Generation          3
Legendary       False
Name: 303, dtype: object
304 =---- Name           Kirlia
Type 1        Psychic
HP                 38
Attack             35
Defense            35
Sp. Atk            65
Sp. Def            55
Speed              50
Generation          3
Legendary       False
Name: 304, dtype: object
305 =---- Name          Gardevoir
Type 1          Psychic
HP                   68
Attack               65
Defense              65
Sp. Atk             125
Sp. Def             115
Speed                80
Generation            3
Legendary         False
Name: 305, dtype: object
306 =---- Name          GardevoirMega Gardevoir
Type 1                        Psychic
HP                                 68
Attack                             85
Defense                            65
Sp. Atk                           165
Sp. Def                           135
Speed                             100
Generation                          3
Legendary                       False
Name: 306, dtype: object
307 =---- Name          Surskit
Type 1            Bug
HP                 40
Attack             30
Defense            32
Sp. Atk            50
Sp. Def            52
Speed              65
Generation          3
Legendary       False
Name: 307, dtype: object
308 =---- Name          Masquerain
Type 1               Bug
HP                    70
Attack                60
Defense               62
Sp. Atk               80
Sp. Def               82
Speed                 60
Generation             3
Legendary          False
Name: 308, dtype: object
309 =---- Name          Shroomish
Type 1            Grass
HP                   60
Attack               40
Defense              60
Sp. Atk              40
Sp. Def              60
Speed                35
Generation            3
Legendary         False
Name: 309, dtype: object
310 =---- Name          Breloom
Type 1          Grass
HP                 60
Attack            130
Defense            80
Sp. Atk            60
Sp. Def            60
Speed              70
Generation          3
Legendary       False
Name: 310, dtype: object
311 =---- Name          Slakoth
Type 1         Normal
HP                 60
Attack             60
Defense            60
Sp. Atk            35
Sp. Def            35
Speed              30
Generation          3
Legendary       False
Name: 311, dtype: object
312 =---- Name          Vigoroth
Type 1          Normal
HP                  80
Attack              80
Defense             80
Sp. Atk             55
Sp. Def             55
Speed               90
Generation           3
Legendary        False
Name: 312, dtype: object
313 =---- Name          Slaking
Type 1         Normal
HP                150
Attack            160
Defense           100
Sp. Atk            95
Sp. Def            65
Speed             100
Generation          3
Legendary       False
Name: 313, dtype: object
314 =---- Name          Nincada
Type 1            Bug
HP                 31
Attack             45
Defense            90
Sp. Atk            30
Sp. Def            30
Speed              40
Generation          3
Legendary       False
Name: 314, dtype: object
315 =---- Name          Ninjask
Type 1            Bug
HP                 61
Attack             90
Defense            45
Sp. Atk            50
Sp. Def            50
Speed             160
Generation          3
Legendary       False
Name: 315, dtype: object
316 =---- Name          Shedinja
Type 1             Bug
HP                   1
Attack              90
Defense             45
Sp. Atk             30
Sp. Def             30
Speed               40
Generation           3
Legendary        False
Name: 316, dtype: object
317 =---- Name          Whismur
Type 1         Normal
HP                 64
Attack             51
Defense            23
Sp. Atk            51
Sp. Def            23
Speed              28
Generation          3
Legendary       False
Name: 317, dtype: object
318 =---- Name          Loudred
Type 1         Normal
HP                 84
Attack             71
Defense            43
Sp. Atk            71
Sp. Def            43
Speed              48
Generation          3
Legendary       False
Name: 318, dtype: object
319 =---- Name          Exploud
Type 1         Normal
HP                104
Attack             91
Defense            63
Sp. Atk            91
Sp. Def            73
Speed              68
Generation          3
Legendary       False
Name: 319, dtype: object
320 =---- Name          Makuhita
Type 1        Fighting
HP                  72
Attack              60
Defense             30
Sp. Atk             20
Sp. Def             30
Speed               25
Generation           3
Legendary        False
Name: 320, dtype: object
321 =---- Name          Hariyama
Type 1        Fighting
HP                 144
Attack             120
Defense             60
Sp. Atk             40
Sp. Def             60
Speed               50
Generation           3
Legendary        False
Name: 321, dtype: object
322 =---- Name          Azurill
Type 1         Normal
HP                 50
Attack             20
Defense            40
Sp. Atk            20
Sp. Def            40
Speed              20
Generation          3
Legendary       False
Name: 322, dtype: object
323 =---- Name          Nosepass
Type 1            Rock
HP                  30
Attack              45
Defense            135
Sp. Atk             45
Sp. Def             90
Speed               30
Generation           3
Legendary        False
Name: 323, dtype: object
324 =---- Name          Skitty
Type 1        Normal
HP                50
Attack            45
Defense           45
Sp. Atk           35
Sp. Def           35
Speed             50
Generation         3
Legendary      False
Name: 324, dtype: object
325 =---- Name          Delcatty
Type 1          Normal
HP                  70
Attack              65
Defense             65
Sp. Atk             55
Sp. Def             55
Speed               70
Generation           3
Legendary        False
Name: 325, dtype: object
326 =---- Name          Sableye
Type 1           Dark
HP                 50
Attack             75
Defense            75
Sp. Atk            65
Sp. Def            65
Speed              50
Generation          3
Legendary       False
Name: 326, dtype: object
327 =---- Name          SableyeMega Sableye
Type 1                       Dark
HP                             50
Attack                         85
Defense                       125
Sp. Atk                        85
Sp. Def                       115
Speed                          20
Generation                      3
Legendary                   False
Name: 327, dtype: object
328 =---- Name          Mawile
Type 1         Steel
HP                50
Attack            85
Defense           85
Sp. Atk           55
Sp. Def           55
Speed             50
Generation         3
Legendary      False
Name: 328, dtype: object
329 =---- Name          MawileMega Mawile
Type 1                    Steel
HP                           50
Attack                      105
Defense                     125
Sp. Atk                      55
Sp. Def                      95
Speed                        50
Generation                    3
Legendary                 False
Name: 329, dtype: object
330 =---- Name           Aron
Type 1        Steel
HP               50
Attack           70
Defense         100
Sp. Atk          40
Sp. Def          40
Speed            30
Generation        3
Legendary     False
Name: 330, dtype: object
331 =---- Name          Lairon
Type 1         Steel
HP                60
Attack            90
Defense          140
Sp. Atk           50
Sp. Def           50
Speed             40
Generation         3
Legendary      False
Name: 331, dtype: object
332 =---- Name          Aggron
Type 1         Steel
HP                70
Attack           110
Defense          180
Sp. Atk           60
Sp. Def           60
Speed             50
Generation         3
Legendary      False
Name: 332, dtype: object
333 =---- Name          AggronMega Aggron
Type 1                    Steel
HP                           70
Attack                      140
Defense                     230
Sp. Atk                      60
Sp. Def                      80
Speed                        50
Generation                    3
Legendary                 False
Name: 333, dtype: object
334 =---- Name          Meditite
Type 1        Fighting
HP                  30
Attack              40
Defense             55
Sp. Atk             40
Sp. Def             55
Speed               60
Generation           3
Legendary        False
Name: 334, dtype: object

335 =---- Name          Medicham
Type 1        Fighting
HP                  60
Attack              60
Defense             75
Sp. Atk             60
Sp. Def             75
Speed               80
Generation           3
Legendary        False
Name: 335, dtype: object
336 =---- Name          MedichamMega Medicham
Type 1                     Fighting
HP                               60
Attack                          100
Defense                          85
Sp. Atk                          80
Sp. Def                          85
Speed                           100
Generation                        3
Legendary                     False
Name: 336, dtype: object
337 =---- Name          Electrike
Type 1         Electric
HP                   40
Attack               45
Defense              40
Sp. Atk              65
Sp. Def              40
Speed                65
Generation            3
Legendary         False
Name: 337, dtype: object
338 =---- Name          Manectric
Type 1         Electric
HP                   70
Attack               75
Defense              60
Sp. Atk             105
Sp. Def              60
Speed               105
Generation            3
Legendary         False
Name: 338, dtype: object
339 =---- Name          ManectricMega Manectric
Type 1                       Electric
HP                                 70
Attack                             75
Defense                            80
Sp. Atk                           135
Sp. Def                            80
Speed                             135
Generation                          3
Legendary                       False
Name: 339, dtype: object
340 =---- Name            Plusle
Type 1        Electric
HP                  60
Attack              50
Defense             40
Sp. Atk             85
Sp. Def             75
Speed               95
Generation           3
Legendary        False
Name: 340, dtype: object
341 =---- Name             Minun
Type 1        Electric
HP                  60
Attack              40
Defense             50
Sp. Atk             75
Sp. Def             85
Speed               95
Generation           3
Legendary        False
Name: 341, dtype: object
342 =---- Name          Volbeat
Type 1            Bug
HP                 65
Attack             73
Defense            55
Sp. Atk            47
Sp. Def            75
Speed              85
Generation          3
Legendary       False
Name: 342, dtype: object
343 =---- Name          Illumise
Type 1             Bug
HP                  65
Attack              47
Defense             55
Sp. Atk             73
Sp. Def             75
Speed               85
Generation           3
Legendary        False
Name: 343, dtype: object
344 =---- Name          Roselia
Type 1          Grass
HP                 50
Attack             60
Defense            45
Sp. Atk           100
Sp. Def            80
Speed              65
Generation          3
Legendary       False
Name: 344, dtype: object
345 =---- Name          Gulpin
Type 1        Poison
HP                70
Attack            43
Defense           53
Sp. Atk           43
Sp. Def           53
Speed             40
Generation         3
Legendary      False
Name: 345, dtype: object
346 =---- Name          Swalot
Type 1        Poison
HP               100
Attack            73
Defense           83
Sp. Atk           73
Sp. Def           83
Speed             55
Generation         3
Legendary      False
Name: 346, dtype: object
347 =---- Name          Carvanha
Type 1           Water
HP                  45
Attack              90
Defense             20
Sp. Atk             65
Sp. Def             20
Speed               65
Generation           3
Legendary        False
Name: 347, dtype: object
348 =---- Name          Sharpedo
Type 1           Water
HP                  70
Attack             120
Defense             40
Sp. Atk             95
Sp. Def             40
Speed               95
Generation           3
Legendary        False
Name: 348, dtype: object
349 =---- Name          SharpedoMega Sharpedo
Type 1                        Water
HP                               70
Attack                          140
Defense                          70
Sp. Atk                         110
Sp. Def                          65
Speed                           105
Generation                        3
Legendary                     False
Name: 349, dtype: object
350 =---- Name          Wailmer
Type 1          Water
HP                130
Attack             70
Defense            35
Sp. Atk            70
Sp. Def            35
Speed              60
Generation          3
Legendary       False
Name: 350, dtype: object
351 =---- Name          Wailord
Type 1          Water
HP                170
Attack             90
Defense            45
Sp. Atk            90
Sp. Def            45
Speed              60
Generation          3
Legendary       False
Name: 351, dtype: object
352 =---- Name          Numel
Type 1         Fire
HP               60
Attack           60
Defense          40
Sp. Atk          65
Sp. Def          45
Speed            35
Generation        3
Legendary     False
Name: 352, dtype: object
353 =---- Name          Camerupt
Type 1            Fire
HP                  70
Attack             100
Defense             70
Sp. Atk            105
Sp. Def             75
Speed               40
Generation           3
Legendary        False
Name: 353, dtype: object
354 =---- Name          CameruptMega Camerupt
Type 1                         Fire
HP                               70
Attack                          120
Defense                         100
Sp. Atk                         145
Sp. Def                         105
Speed                            20
Generation                        3
Legendary                     False
Name: 354, dtype: object
355 =---- Name          Torkoal
Type 1           Fire
HP                 70
Attack             85
Defense           140
Sp. Atk            85
Sp. Def            70
Speed              20
Generation          3
Legendary       False
Name: 355, dtype: object
356 =---- Name           Spoink
Type 1        Psychic
HP                 60
Attack             25
Defense            35
Sp. Atk            70
Sp. Def            80
Speed              60
Generation          3
Legendary       False
Name: 356, dtype: object
357 =---- Name          Grumpig
Type 1        Psychic
HP                 80
Attack             45
Defense            65
Sp. Atk            90
Sp. Def           110
Speed              80
Generation          3
Legendary       False
Name: 357, dtype: object
358 =---- Name          Spinda
Type 1        Normal
HP                60
Attack            60
Defense           60
Sp. Atk           60
Sp. Def           60
Speed             60
Generation         3
Legendary      False
Name: 358, dtype: object
359 =---- Name          Trapinch
Type 1          Ground
HP                  45
Attack             100
Defense             45
Sp. Atk             45
Sp. Def             45
Speed               10
Generation           3
Legendary        False
Name: 359, dtype: object
360 =---- Name          Vibrava
Type 1         Ground
HP                 50
Attack             70
Defense            50
Sp. Atk            50
Sp. Def            50
Speed              70
Generation          3
Legendary       False
Name: 360, dtype: object
361 =---- Name          Flygon
Type 1        Ground
HP                80
Attack           100
Defense           80
Sp. Atk           80
Sp. Def           80
Speed            100
Generation         3
Legendary      False
Name: 361, dtype: object
362 =---- Name          Cacnea
Type 1         Grass
HP                50
Attack            85
Defense           40
Sp. Atk           85
Sp. Def           40
Speed             35
Generation         3
Legendary      False
Name: 362, dtype: object
363 =---- Name          Cacturne
Type 1           Grass
HP                  70
Attack             115
Defense             60
Sp. Atk            115
Sp. Def             60
Speed               55
Generation           3
Legendary        False
Name: 363, dtype: object
364 =---- Name          Swablu
Type 1        Normal
HP                45
Attack            40
Defense           60
Sp. Atk           40
Sp. Def           75
Speed             50
Generation         3
Legendary      False
Name: 364, dtype: object
365 =---- Name          Altaria
Type 1         Dragon
HP                 75
Attack             70
Defense            90
Sp. Atk            70
Sp. Def           105
Speed              80
Generation          3
Legendary       False
Name: 365, dtype: object
366 =---- Name          AltariaMega Altaria
Type 1                     Dragon
HP                             75
Attack                        110
Defense                       110
Sp. Atk                       110
Sp. Def                       105
Speed                          80
Generation                      3
Legendary                   False
Name: 366, dtype: object
367 =---- Name          Zangoose
Type 1          Normal
HP                  73
Attack             115
Defense             60
Sp. Atk             60
Sp. Def             60
Speed               90
Generation           3
Legendary        False
Name: 367, dtype: object
368 =---- Name          Seviper
Type 1         Poison
HP                 73
Attack            100
Defense            60
Sp. Atk           100
Sp. Def            60
Speed              65
Generation          3
Legendary       False
Name: 368, dtype: object
369 =---- Name          Lunatone
Type 1            Rock
HP                  70
Attack              55
Defense             65
Sp. Atk             95
Sp. Def             85
Speed               70
Generation           3
Legendary        False
Name: 369, dtype: object
370 =---- Name          Solrock
Type 1           Rock
HP                 70
Attack             95
Defense            85
Sp. Atk            55
Sp. Def            65
Speed              70
Generation          3
Legendary       False
Name: 370, dtype: object
371 =---- Name          Barboach
Type 1           Water
HP                  50
Attack              48
Defense             43
Sp. Atk             46
Sp. Def             41
Speed               60
Generation           3
Legendary        False
Name: 371, dtype: object
372 =---- Name          Whiscash
Type 1           Water
HP                 110
Attack              78
Defense             73
Sp. Atk             76
Sp. Def             71
Speed               60
Generation           3
Legendary        False
Name: 372, dtype: object
373 =---- Name          Corphish
Type 1           Water
HP                  43
Attack              80
Defense             65
Sp. Atk             50
Sp. Def             35
Speed               35
Generation           3
Legendary        False
Name: 373, dtype: object
374 =---- Name          Crawdaunt
Type 1            Water
HP                   63
Attack              120
Defense              85
Sp. Atk              90
Sp. Def              55
Speed                55
Generation            3
Legendary         False
Name: 374, dtype: object
375 =---- Name          Baltoy
Type 1        Ground
HP                40
Attack            40
Defense           55
Sp. Atk           40
Sp. Def           70
Speed             55
Generation         3
Legendary      False
Name: 375, dtype: object
376 =---- Name          Claydol
Type 1         Ground
HP                 60
Attack             70
Defense           105
Sp. Atk            70
Sp. Def           120
Speed              75
Generation          3
Legendary       False
Name: 376, dtype: object
377 =---- Name          Lileep
Type 1          Rock
HP                66
Attack            41
Defense           77
Sp. Atk           61
Sp. Def           87
Speed             23
Generation         3
Legendary      False
Name: 377, dtype: object
378 =---- Name          Cradily
Type 1           Rock
HP                 86
Attack             81
Defense            97
Sp. Atk            81
Sp. Def           107
Speed              43
Generation          3
Legendary       False
Name: 378, dtype: object
379 =---- Name          Anorith
Type 1           Rock
HP                 45
Attack             95
Defense            50
Sp. Atk            40
Sp. Def            50
Speed              75
Generation          3
Legendary       False
Name: 379, dtype: object
380 =---- Name          Armaldo
Type 1           Rock
HP                 75
Attack            125
Defense           100
Sp. Atk            70
Sp. Def            80
Speed              45
Generation          3
Legendary       False
Name: 380, dtype: object
381 =---- Name          Feebas
Type 1         Water
HP                20
Attack            15
Defense           20
Sp. Atk           10
Sp. Def           55
Speed             80
Generation         3
Legendary      False
Name: 381, dtype: object
382 =---- Name          Milotic
Type 1          Water
HP                 95
Attack             60
Defense            79
Sp. Atk           100
Sp. Def           125
Speed              81
Generation          3
Legendary       False
Name: 382, dtype: object
383 =---- Name          Castform
Type 1          Normal
HP                  70
Attack              70
Defense             70
Sp. Atk             70
Sp. Def             70
Speed               70
Generation           3
Legendary        False
Name: 383, dtype: object
384 =---- Name          Kecleon
Type 1         Normal
HP                 60
Attack             90
Defense            70
Sp. Atk            60
Sp. Def           120
Speed              40
Generation          3
Legendary       False
Name: 384, dtype: object
385 =---- Name          Shuppet
Type 1          Ghost
HP                 44
Attack             75
Defense            35
Sp. Atk            63
Sp. Def            33
Speed              45
Generation          3
Legendary       False
Name: 385, dtype: object
386 =---- Name          Banette
Type 1          Ghost
HP                 64
Attack            115
Defense            65
Sp. Atk            83
Sp. Def            63
Speed              65
Generation          3
Legendary       False
Name: 386, dtype: object
387 =---- Name          BanetteMega Banette
Type 1                      Ghost
HP                             64
Attack                        165
Defense                        75
Sp. Atk                        93
Sp. Def                        83
Speed                          75
Generation                      3
Legendary                   False
Name: 387, dtype: object
388 =---- Name          Duskull
Type 1          Ghost
HP                 20
Attack             40
Defense            90
Sp. Atk            30
Sp. Def            90
Speed              25
Generation          3
Legendary       False
Name: 388, dtype: object
389 =---- Name          Dusclops
Type 1           Ghost
HP                  40
Attack              70
Defense            130
Sp. Atk             60
Sp. Def            130
Speed               25
Generation           3
Legendary        False
Name: 389, dtype: object
390 =---- Name          Tropius
Type 1          Grass
HP                 99
Attack             68
Defense            83
Sp. Atk            72
Sp. Def            87
Speed              51
Generation          3
Legendary       False
Name: 390, dtype: object
391 =---- Name          Chimecho
Type 1         Psychic
HP                  65
Attack              50
Defense             70
Sp. Atk             95
Sp. Def             80
Speed               65
Generation           3
Legendary        False
Name: 391, dtype: object
392 =---- Name          Absol
Type 1         Dark
HP               65
Attack          130
Defense          60
Sp. Atk          75
Sp. Def          60
Speed            75
Generation        3
Legendary     False
Name: 392, dtype: object
393 =---- Name          AbsolMega Absol
Type 1                   Dark
HP                         65
Attack                    150
Defense                    60
Sp. Atk                   115
Sp. Def                    60
Speed                     115
Generation                  3
Legendary               False
Name: 393, dtype: object
394 =---- Name           Wynaut
Type 1        Psychic
HP                 95
Attack             23
Defense            48
Sp. Atk            23
Sp. Def            48
Speed              23
Generation          3
Legendary       False
Name: 394, dtype: object
395 =---- Name          Snorunt
Type 1            Ice
HP                 50
Attack             50
Defense            50
Sp. Atk            50
Sp. Def            50
Speed              50
Generation          3
Legendary       False
Name: 395, dtype: object
396 =---- Name          Glalie
Type 1           Ice
HP                80
Attack            80
Defense           80
Sp. Atk           80
Sp. Def           80
Speed             80
Generation         3
Legendary      False
Name: 396, dtype: object
397 =---- Name          GlalieMega Glalie
Type 1                      Ice
HP                           80
Attack                      120
Defense                      80
Sp. Atk                     120
Sp. Def                      80
Speed                       100
Generation                    3
Legendary                 False
Name: 397, dtype: object
398 =---- Name          Spheal
Type 1           Ice
HP                70
Attack            40
Defense           50
Sp. Atk           55
Sp. Def           50
Speed             25
Generation         3
Legendary      False
Name: 398, dtype: object
399 =---- Name          Sealeo
Type 1           Ice
HP                90
Attack            60
Defense           70
Sp. Atk           75
Sp. Def           70
Speed             45
Generation         3
Legendary      False
Name: 399, dtype: object
400 =---- Name          Walrein
Type 1            Ice
HP                110
Attack             80
Defense            90
Sp. Atk            95
Sp. Def            90
Speed              65
Generation          3
Legendary       False
Name: 400, dtype: object
401 =---- Name          Clamperl
Type 1           Water
HP                  35
Attack              64
Defense             85
Sp. Atk             74
Sp. Def             55
Speed               32
Generation           3
Legendary        False
Name: 401, dtype: object
402 =---- Name          Huntail
Type 1          Water
HP                 55
Attack            104
Defense           105
Sp. Atk            94
Sp. Def            75
Speed              52
Generation          3
Legendary       False
Name: 402, dtype: object
403 =---- Name          Gorebyss
Type 1           Water
HP                  55
Attack              84
Defense            105
Sp. Atk            114
Sp. Def             75
Speed               52
Generation           3
Legendary        False
Name: 403, dtype: object
404 =---- Name          Relicanth
Type 1            Water
HP                  100
Attack               90
Defense             130
Sp. Atk              45
Sp. Def              65
Speed                55
Generation            3
Legendary         False
Name: 404, dtype: object
405 =---- Name          Luvdisc
Type 1          Water
HP                 43
Attack             30
Defense            55
Sp. Atk            40
Sp. Def            65
Speed              97
Generation          3
Legendary       False
Name: 405, dtype: object
406 =---- Name           Bagon
Type 1        Dragon
HP                45
Attack            75
Defense           60
Sp. Atk           40
Sp. Def           30
Speed             50
Generation         3
Legendary      False
Name: 406, dtype: object
407 =---- Name          Shelgon
Type 1         Dragon
HP                 65
Attack             95
Defense           100
Sp. Atk            60
Sp. Def            50
Speed              50
Generation          3
Legendary       False
Name: 407, dtype: object
408 =---- Name          Salamence
Type 1           Dragon
HP                   95
Attack              135
Defense              80
Sp. Atk             110
Sp. Def              80
Speed               100
Generation            3
Legendary         False
Name: 408, dtype: object

424 =---- Name          GroudonPrimal Groudon
Type 1                       Ground
HP                              100
Attack                          180
Defense                         160
Sp. Atk                         150
Sp. Def                          90
Speed                            90
Generation                        3
Legendary                      True
Name: 424, dtype: object
425 =---- Name          Rayquaza
Type 1          Dragon
HP                 105
Attack             150
Defense             90
Sp. Atk            150
Sp. Def             90
Speed               95
Generation           3
Legendary         True
Name: 425, dtype: object
426 =---- Name          RayquazaMega Rayquaza
Type 1                       Dragon
HP                              105
Attack                          180
Defense                         100
Sp. Atk                         180
Sp. Def                         100
Speed                           115
Generation                        3
Legendary                      True
Name: 426, dtype: object
427 =---- Name          Jirachi
Type 1          Steel
HP                100
Attack            100
Defense           100
Sp. Atk           100
Sp. Def           100
Speed             100
Generation          3
Legendary        True
Name: 427, dtype: object
428 =---- Name          DeoxysNormal Forme
Type 1                   Psychic
HP                            50
Attack                       150
Defense                       50
Sp. Atk                      150
Sp. Def                       50
Speed                        150
Generation                     3
Legendary                   True
Name: 428, dtype: object
429 =---- Name          DeoxysAttack Forme
Type 1                   Psychic
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
Name: 429, dtype: object
430 =---- Name          DeoxysDefense Forme
Type 1                    Psychic
HP                             50
Attack                         70
Defense                       160
Sp. Atk                        70
Sp. Def                       160
Speed                          90
Generation                      3
Legendary                    True
Name: 430, dtype: object
431 =---- Name          DeoxysSpeed Forme
Type 1                  Psychic
HP                           50
Attack                       95
Defense                      90
Sp. Atk                      95
Sp. Def                      90
Speed                       180
Generation                    3
Legendary                  True
Name: 431, dtype: object
432 =---- Name          Turtwig
Type 1          Grass
HP                 55
Attack             68
Defense            64
Sp. Atk            45
Sp. Def            55
Speed              31
Generation          4
Legendary       False
Name: 432, dtype: object
433 =---- Name          Grotle
Type 1         Grass
HP                75
Attack            89
Defense           85
Sp. Atk           55
Sp. Def           65
Speed             36
Generation         4
Legendary      False
Name: 433, dtype: object
434 =---- Name          Torterra
Type 1           Grass
HP                  95
Attack             109
Defense            105
Sp. Atk             75
Sp. Def             85
Speed               56
Generation           4
Legendary        False
Name: 434, dtype: object
435 =---- Name          Chimchar
Type 1            Fire
HP                  44
Attack              58
Defense             44
Sp. Atk             58
Sp. Def             44
Speed               61
Generation           4
Legendary        False
Name: 435, dtype: object
436 =---- Name          Monferno
Type 1            Fire
HP                  64
Attack              78
Defense             52
Sp. Atk             78
Sp. Def             52
Speed               81
Generation           4
Legendary        False
Name: 436, dtype: object
437 =---- Name          Infernape
Type 1             Fire
HP                   76
Attack              104
Defense              71
Sp. Atk             104
Sp. Def              71
Speed               108
Generation            4
Legendary         False
Name: 437, dtype: object
438 =---- Name          Piplup
Type 1         Water
HP                53
Attack            51
Defense           53
Sp. Atk           61
Sp. Def           56
Speed             40
Generation         4
Legendary      False
Name: 438, dtype: object
439 =---- Name          Prinplup
Type 1           Water
HP                  64
Attack              66
Defense             68
Sp. Atk             81
Sp. Def             76
Speed               50
Generation           4
Legendary        False
Name: 439, dtype: object
440 =---- Name          Empoleon
Type 1           Water
HP                  84
Attack              86
Defense             88
Sp. Atk            111
Sp. Def            101
Speed               60
Generation           4
Legendary        False
Name: 440, dtype: object
441 =---- Name          Starly
Type 1        Normal
HP                40
Attack            55
Defense           30
Sp. Atk           30
Sp. Def           30
Speed             60
Generation         4
Legendary      False
Name: 441, dtype: object
442 =---- Name          Staravia
Type 1          Normal
HP                  55
Attack              75
Defense             50
Sp. Atk             40
Sp. Def             40
Speed               80
Generation           4
Legendary        False
Name: 442, dtype: object
443 =---- Name          Staraptor
Type 1           Normal
HP                   85
Attack              120
Defense              70
Sp. Atk              50
Sp. Def              60
Speed               100
Generation            4
Legendary         False
Name: 443, dtype: object
444 =---- Name          Bidoof
Type 1        Normal
HP                59
Attack            45
Defense           40
Sp. Atk           35
Sp. Def           40
Speed             31
Generation         4
Legendary      False
Name: 444, dtype: object
445 =---- Name          Bibarel
Type 1         Normal
HP                 79
Attack             85
Defense            60
Sp. Atk            55
Sp. Def            60
Speed              71
Generation          4
Legendary       False
Name: 445, dtype: object
446 =---- Name          Kricketot
Type 1              Bug
HP                   37
Attack               25
Defense              41
Sp. Atk              25
Sp. Def              41
Speed                25
Generation            4
Legendary         False
Name: 446, dtype: object
447 =---- Name          Kricketune
Type 1               Bug
HP                    77
Attack                85
Defense               51
Sp. Atk               55
Sp. Def               51
Speed                 65
Generation             4
Legendary          False
Name: 447, dtype: object
448 =---- Name             Shinx
Type 1        Electric
HP                  45
Attack              65
Defense             34
Sp. Atk             40
Sp. Def             34
Speed               45
Generation           4
Legendary        False
Name: 448, dtype: object
449 =---- Name             Luxio
Type 1        Electric
HP                  60
Attack              85
Defense             49
Sp. Atk             60
Sp. Def             49
Speed               60
Generation           4
Legendary        False
Name: 449, dtype: object
450 =---- Name            Luxray
Type 1        Electric
HP                  80
Attack             120
Defense             79
Sp. Atk             95
Sp. Def             79
Speed               70
Generation           4
Legendary        False
Name: 450, dtype: object
451 =---- Name          Budew
Type 1        Grass
HP               40
Attack           30
Defense          35
Sp. Atk          50
Sp. Def          70
Speed            55
Generation        4
Legendary     False
Name: 451, dtype: object
452 =---- Name          Roserade
Type 1           Grass
HP                  60
Attack              70
Defense             65
Sp. Atk            125
Sp. Def            105
Speed               90
Generation           4
Legendary        False
Name: 452, dtype: object
453 =---- Name          Cranidos
Type 1            Rock
HP                  67
Attack             125
Defense             40
Sp. Atk             30
Sp. Def             30
Speed               58
Generation           4
Legendary        False
Name: 453, dtype: object
454 =---- Name          Rampardos
Type 1             Rock
HP                   97
Attack              165
Defense              60
Sp. Atk              65
Sp. Def              50
Speed                58
Generation            4
Legendary         False
Name: 454, dtype: object
455 =---- Name          Shieldon
Type 1            Rock
HP                  30
Attack              42
Defense            118
Sp. Atk             42
Sp. Def             88
Speed               30
Generation           4
Legendary        False
Name: 455, dtype: object
456 =---- Name          Bastiodon
Type 1             Rock
HP                   60
Attack               52
Defense             168
Sp. Atk              47
Sp. Def             138
Speed                30
Generation            4
Legendary         False
Name: 456, dtype: object
457 =---- Name          Burmy
Type 1          Bug
HP               40
Attack           29
Defense          45
Sp. Atk          29
Sp. Def          45
Speed            36
Generation        4
Legendary     False
Name: 457, dtype: object
458 =---- Name          WormadamPlant Cloak
Type 1                        Bug
HP                             60
Attack                         59
Defense                        85
Sp. Atk                        79
Sp. Def                       105
Speed                          36
Generation                      4
Legendary                   False
Name: 458, dtype: object
459 =---- Name          WormadamSandy Cloak
Type 1                        Bug
HP                             60
Attack                         79
Defense                       105
Sp. Atk                        59
Sp. Def                        85
Speed                          36
Generation                      4
Legendary                   False
Name: 459, dtype: object
460 =---- Name          WormadamTrash Cloak
Type 1                        Bug
HP                             60
Attack                         69
Defense                        95
Sp. Atk                        69
Sp. Def                        95
Speed                          36
Generation                      4
Legendary                   False

Name: 460, dtype: object
461 =---- Name          Mothim
Type 1           Bug
HP                70
Attack            94
Defense           50
Sp. Atk           94
Sp. Def           50
Speed             66
Generation         4
Legendary      False
Name: 461, dtype: object
462 =---- Name          Combee
Type 1           Bug
HP                30
Attack            30
Defense           42
Sp. Atk           30
Sp. Def           42
Speed             70
Generation         4
Legendary      False
Name: 462, dtype: object
463 =---- Name          Vespiquen
Type 1              Bug
HP                   70
Attack               80
Defense             102
Sp. Atk              80
Sp. Def             102
Speed                40
Generation            4
Legendary         False
Name: 463, dtype: object
464 =---- Name          Pachirisu
Type 1         Electric
HP                   60
Attack               45
Defense              70
Sp. Atk              45
Sp. Def              90
Speed                95
Generation            4
Legendary         False
Name: 464, dtype: object
465 =---- Name          Buizel
Type 1         Water
HP                55
Attack            65
Defense           35
Sp. Atk           60
Sp. Def           30
Speed             85
Generation         4
Legendary      False
Name: 465, dtype: object
466 =---- Name          Floatzel
Type 1           Water
HP                  85
Attack             105
Defense             55
Sp. Atk             85
Sp. Def             50
Speed              115
Generation           4
Legendary        False
Name: 466, dtype: object
467 =---- Name          Cherubi
Type 1          Grass
HP                 45
Attack             35
Defense            45
Sp. Atk            62
Sp. Def            53
Speed              35
Generation          4
Legendary       False
Name: 467, dtype: object
468 =---- Name          Cherrim
Type 1          Grass
HP                 70
Attack             60
Defense            70
Sp. Atk            87
Sp. Def            78
Speed              85
Generation          4
Legendary       False
Name: 468, dtype: object
469 =---- Name          Shellos
Type 1          Water
HP                 76
Attack             48
Defense            48
Sp. Atk            57
Sp. Def            62
Speed              34
Generation          4
Legendary       False
Name: 469, dtype: object
470 =---- Name          Gastrodon
Type 1            Water
HP                  111
Attack               83
Defense              68
Sp. Atk              92
Sp. Def              82
Speed                39
Generation            4
Legendary         False
Name: 470, dtype: object
471 =---- Name          Ambipom
Type 1         Normal
HP                 75
Attack            100
Defense            66
Sp. Atk            60
Sp. Def            66
Speed             115
Generation          4
Legendary       False
Name: 471, dtype: object
472 =---- Name          Drifloon
Type 1           Ghost
HP                  90
Attack              50
Defense             34
Sp. Atk             60
Sp. Def             44
Speed               70
Generation           4
Legendary        False
Name: 472, dtype: object
473 =---- Name          Drifblim
Type 1           Ghost
HP                 150
Attack              80
Defense             44
Sp. Atk             90
Sp. Def             54
Speed               80
Generation           4
Legendary        False
Name: 473, dtype: object
474 =---- Name          Buneary
Type 1         Normal
HP                 55
Attack             66
Defense            44
Sp. Atk            44
Sp. Def            56
Speed              85
Generation          4
Legendary       False
Name: 474, dtype: object
475 =---- Name          Lopunny
Type 1         Normal
HP                 65
Attack             76
Defense            84
Sp. Atk            54
Sp. Def            96
Speed             105
Generation          4
Legendary       False
Name: 475, dtype: object
476 =---- Name          LopunnyMega Lopunny
Type 1                     Normal
HP                             65
Attack                        136
Defense                        94
Sp. Atk                        54
Sp. Def                        96
Speed                         135
Generation                      4
Legendary                   False
Name: 476, dtype: object
477 =---- Name          Mismagius
Type 1            Ghost
HP                   60
Attack               60
Defense              60
Sp. Atk             105
Sp. Def             105
Speed               105
Generation            4
Legendary         False
Name: 477, dtype: object
478 =---- Name          Honchkrow
Type 1             Dark
HP                  100
Attack              125
Defense              52
Sp. Atk             105
Sp. Def              52
Speed                71
Generation            4
Legendary         False
Name: 478, dtype: object
479 =---- Name          Glameow
Type 1         Normal
HP                 49
Attack             55
Defense            42
Sp. Atk            42
Sp. Def            37
Speed              85
Generation          4
Legendary       False
Name: 479, dtype: object
480 =---- Name          Purugly
Type 1         Normal
HP                 71
Attack             82
Defense            64
Sp. Atk            64
Sp. Def            59
Speed             112
Generation          4
Legendary       False
Name: 480, dtype: object
481 =---- Name          Chingling
Type 1          Psychic
HP                   45
Attack               30
Defense              50
Sp. Atk              65
Sp. Def              50
Speed                45
Generation            4
Legendary         False
Name: 481, dtype: object
482 =---- Name          Stunky
Type 1        Poison
HP                63
Attack            63
Defense           47
Sp. Atk           41
Sp. Def           41
Speed             74
Generation         4
Legendary      False
Name: 482, dtype: object
483 =---- Name          Skuntank
Type 1          Poison
HP                 103
Attack              93
Defense             67
Sp. Atk             71
Sp. Def             61
Speed               84
Generation           4
Legendary        False
Name: 483, dtype: object
484 =---- Name          Bronzor
Type 1          Steel
HP                 57
Attack             24
Defense            86
Sp. Atk            24
Sp. Def            86
Speed              23
Generation          4
Legendary       False
Name: 484, dtype: object
485 =---- Name          Bronzong
Type 1           Steel
HP                  67
Attack              89
Defense            116
Sp. Atk             79
Sp. Def            116
Speed               33
Generation           4
Legendary        False
Name: 485, dtype: object
486 =---- Name          Bonsly
Type 1          Rock
HP                50
Attack            80
Defense           95
Sp. Atk           10
Sp. Def           45
Speed             10
Generation         4
Legendary      False
Name: 486, dtype: object
487 =---- Name          Mime Jr.
Type 1         Psychic
HP                  20
Attack              25
Defense             45
Sp. Atk             70
Sp. Def             90
Speed               60
Generation           4
Legendary        False
Name: 487, dtype: object
488 =---- Name          Happiny
Type 1         Normal
HP                100
Attack              5
Defense             5
Sp. Atk            15
Sp. Def            65
Speed              30
Generation          4
Legendary       False
Name: 488, dtype: object
489 =---- Name          Chatot
Type 1        Normal
HP                76
Attack            65
Defense           45
Sp. Atk           92
Sp. Def           42
Speed             91
Generation         4
Legendary      False
Name: 489, dtype: object
490 =---- Name          Spiritomb
Type 1            Ghost
HP                   50
Attack               92
Defense             108
Sp. Atk              92
Sp. Def             108
Speed                35
Generation            4
Legendary         False
Name: 490, dtype: object
491 =---- Name           Gible
Type 1        Dragon
HP                58
Attack            70
Defense           45
Sp. Atk           40
Sp. Def           45
Speed             42
Generation         4
Legendary      False
Name: 491, dtype: object
492 =---- Name          Gabite
Type 1        Dragon
HP                68
Attack            90
Defense           65
Sp. Atk           50
Sp. Def           55
Speed             82
Generation         4
Legendary      False
Name: 492, dtype: object
493 =---- Name          Garchomp
Type 1          Dragon
HP                 108
Attack             130
Defense             95
Sp. Atk             80
Sp. Def             85
Speed              102
Generation           4
Legendary        False
Name: 493, dtype: object
494 =---- Name          GarchompMega Garchomp
Type 1                       Dragon
HP                              108
Attack                          170
Defense                         115
Sp. Atk                         120
Sp. Def                          95
Speed                            92
Generation                        4
Legendary                     False
Name: 494, dtype: object
495 =---- Name          Munchlax
Type 1          Normal
HP                 135
Attack              85
Defense             40
Sp. Atk             40
Sp. Def             85
Speed                5
Generation           4
Legendary        False
Name: 495, dtype: object
496 =---- Name             Riolu
Type 1        Fighting
HP                  40
Attack              70
Defense             40
Sp. Atk             35
Sp. Def             40
Speed               60
Generation           4
Legendary        False
Name: 496, dtype: object
497 =---- Name           Lucario
Type 1        Fighting
HP                  70
Attack             110
Defense             70
Sp. Atk            115
Sp. Def             70
Speed               90
Generation           4
Legendary        False
Name: 497, dtype: object
498 =---- Name          LucarioMega Lucario
Type 1                   Fighting
HP                             70
Attack                        145
Defense                        88
Sp. Atk                       140
Sp. Def                        70
Speed                         112
Generation                      4
Legendary                   False
Name: 498, dtype: object
499 =---- Name          Hippopotas
Type 1            Ground
HP                    68
Attack                72
Defense               78
Sp. Atk               38
Sp. Def               42
Speed                 32
Generation             4
Legendary          False
Name: 499, dtype: object
500 =---- Name          Hippowdon
Type 1           Ground
HP                  108
Attack              112
Defense             118
Sp. Atk              68
Sp. Def              72
Speed                47
Generation            4
Legendary         False
Name: 500, dtype: object
501 =---- Name          Skorupi
Type 1         Poison
HP                 40
Attack             50
Defense            90
Sp. Atk            30
Sp. Def            55
Speed              65
Generation          4
Legendary       False
Name: 501, dtype: object
502 =---- Name          Drapion
Type 1         Poison
HP                 70
Attack             90
Defense           110
Sp. Atk            60
Sp. Def            75
Speed              95
Generation          4
Legendary       False
Name: 502, dtype: object
503 =---- Name          Croagunk
Type 1          Poison
HP                  48
Attack              61
Defense             40
Sp. Atk             61
Sp. Def             40
Speed               50
Generation           4
Legendary        False
Name: 503, dtype: object
504 =---- Name          Toxicroak
Type 1           Poison
HP                   83
Attack              106
Defense              65
Sp. Atk              86
Sp. Def              65
Speed                85
Generation            4
Legendary         False
Name: 504, dtype: object
505 =---- Name          Carnivine
Type 1            Grass
HP                   74
Attack              100
Defense              72
Sp. Atk              90
Sp. Def              72
Speed                46
Generation            4
Legendary         False
Name: 505, dtype: object
506 =---- Name          Finneon
Type 1          Water
HP                 49
Attack             49
Defense            56
Sp. Atk            49
Sp. Def            61
Speed              66
Generation          4
Legendary       False
Name: 506, dtype: object
507 =---- Name          Lumineon
Type 1           Water
HP                  69
Attack              69
Defense             76
Sp. Atk             69
Sp. Def             86
Speed               91
Generation           4
Legendary        False
Name: 507, dtype: object
508 =---- Name          Mantyke
Type 1          Water
HP                 45
Attack             20
Defense            50
Sp. Atk            60
Sp. Def           120
Speed              50
Generation          4
Legendary       False
Name: 508, dtype: object
509 =---- Name          Snover
Type 1         Grass
HP                60
Attack            62
Defense           50
Sp. Atk           62
Sp. Def           60
Speed             40
Generation         4
Legendary      False
Name: 509, dtype: object
510 =---- Name          Abomasnow
Type 1            Grass
HP                   90
Attack               92
Defense              75
Sp. Atk              92
Sp. Def              85
Speed                60
Generation            4
Legendary         False
Name: 510, dtype: object
511 =---- Name          AbomasnowMega Abomasnow
Type 1                          Grass
HP                                 90
Attack                            132
Defense                           105
Sp. Atk                           132
Sp. Def                           105
Speed                              30
Generation                          4
Legendary                       False
Name: 511, dtype: object
512 =---- Name          Weavile
Type 1           Dark
HP                 70
Attack            120
Defense            65
Sp. Atk            45
Sp. Def            85
Speed             125
Generation          4
Legendary       False
Name: 512, dtype: object
513 =---- Name          Magnezone
Type 1         Electric
HP                   70
Attack               70
Defense             115
Sp. Atk             130
Sp. Def              90
Speed                60
Generation            4
Legendary         False
Name: 513, dtype: object
514 =---- Name          Lickilicky
Type 1            Normal
HP                   110
Attack                85
Defense               95
Sp. Atk               80
Sp. Def               95
Speed                 50
Generation             4
Legendary          False
Name: 514, dtype: object
515 =---- Name          Rhyperior
Type 1           Ground
HP                  115
Attack              140
Defense             130
Sp. Atk              55
Sp. Def              55
Speed                40
Generation            4
Legendary         False
Name: 515, dtype: object
516 =---- Name          Tangrowth
Type 1            Grass
HP                  100
Attack              100
Defense             125
Sp. Atk             110
Sp. Def              50
Speed                50
Generation            4
Legendary         False
Name: 516, dtype: object
517 =---- Name          Electivire
Type 1          Electric
HP                    75
Attack               123
Defense               67
Sp. Atk               95
Sp. Def               85
Speed                 95
Generation             4
Legendary          False
Name: 517, dtype: object
518 =---- Name          Magmortar
Type 1             Fire
HP                   75
Attack               95
Defense              67
Sp. Atk             125
Sp. Def              95
Speed                83
Generation            4
Legendary         False
Name: 518, dtype: object
519 =---- Name          Togekiss
Type 1           Fairy
HP                  85
Attack              50
Defense             95
Sp. Atk            120
Sp. Def            115
Speed               80
Generation           4
Legendary        False
Name: 519, dtype: object
520 =---- Name          Yanmega
Type 1            Bug
HP                 86
Attack             76
Defense            86
Sp. Atk           116
Sp. Def            56
Speed              95
Generation          4
Legendary       False
Name: 520, dtype: object
521 =---- Name          Leafeon
Type 1          Grass
HP                 65
Attack            110
Defense           130
Sp. Atk            60
Sp. Def            65
Speed              95
Generation          4
Legendary       False
Name: 521, dtype: object
522 =---- Name          Glaceon
Type 1            Ice
HP                 65
Attack             60
Defense           110
Sp. Atk           130
Sp. Def            95
Speed              65
Generation          4
Legendary       False
Name: 522, dtype: object
523 =---- Name          Gliscor
Type 1         Ground
HP                 75
Attack             95
Defense           125
Sp. Atk            45
Sp. Def            75
Speed              95
Generation          4
Legendary       False
Name: 523, dtype: object
524 =---- Name          Mamoswine
Type 1              Ice
HP                  110
Attack              130
Defense              80
Sp. Atk              70
Sp. Def              60
Speed                80
Generation            4
Legendary         False
Name: 524, dtype: object
525 =---- Name          Porygon-Z
Type 1           Normal
HP                   85
Attack               80
Defense              70
Sp. Atk             135
Sp. Def              75
Speed                90
Generation            4
Legendary         False
Name: 525, dtype: object
526 =---- Name          Gallade
Type 1        Psychic
HP                 68
Attack            125
Defense            65
Sp. Atk            65
Sp. Def           115
Speed              80
Generation          4
Legendary       False
Name: 526, dtype: object
527 =---- Name          GalladeMega Gallade
Type 1                    Psychic
HP                             68
Attack                        165
Defense                        95
Sp. Atk                        65
Sp. Def                       115
Speed                         110
Generation                      4
Legendary                   False
Name: 527, dtype: object
528 =---- Name          Probopass
Type 1             Rock
HP                   60
Attack               55
Defense             145
Sp. Atk              75
Sp. Def             150
Speed                40
Generation            4
Legendary         False
Name: 528, dtype: object
529 =---- Name          Dusknoir
Type 1           Ghost
HP                  45
Attack             100
Defense            135
Sp. Atk             65
Sp. Def            135
Speed               45
Generation           4
Legendary        False
Name: 529, dtype: object
530 =---- Name          Froslass
Type 1             Ice
HP                  70
Attack              80
Defense             70
Sp. Atk             80
Sp. Def             70
Speed              110
Generation           4
Legendary        False
Name: 530, dtype: object
531 =---- Name             Rotom
Type 1        Electric
HP                  50
Attack              50
Defense             77
Sp. Atk             95
Sp. Def             77
Speed               91
Generation           4
Legendary        False
Name: 531, dtype: object
532 =---- Name          RotomHeat Rotom
Type 1               Electric
HP                         50
Attack                     65
Defense                   107
Sp. Atk                   105
Sp. Def                   107
Speed                      86
Generation                  4
Legendary               False
Name: 532, dtype: object
533 =---- Name          RotomWash Rotom
Type 1               Electric
HP                         50
Attack                     65
Defense                   107
Sp. Atk                   105
Sp. Def                   107
Speed                      86
Generation                  4
Legendary               False
Name: 533, dtype: object

Name: 566, dtype: object
567 =---- Name          Stoutland
Type 1           Normal
HP                   85
Attack              110
Defense              90
Sp. Atk              45
Sp. Def              90
Speed                80
Generation            5
Legendary         False
Name: 567, dtype: object
568 =---- Name          Purrloin
Type 1            Dark
HP                  41
Attack              50
Defense             37
Sp. Atk             50
Sp. Def             37
Speed               66
Generation           5
Legendary        False
Name: 568, dtype: object
569 =---- Name          Liepard
Type 1           Dark
HP                 64
Attack             88
Defense            50
Sp. Atk            88
Sp. Def            50
Speed             106
Generation          5
Legendary       False
Name: 569, dtype: object
570 =---- Name          Pansage
Type 1          Grass
HP                 50
Attack             53
Defense            48
Sp. Atk            53
Sp. Def            48
Speed              64
Generation          5
Legendary       False
Name: 570, dtype: object
571 =---- Name          Simisage
Type 1           Grass
HP                  75
Attack              98
Defense             63
Sp. Atk             98
Sp. Def             63
Speed              101
Generation           5
Legendary        False
Name: 571, dtype: object
572 =---- Name          Pansear
Type 1           Fire
HP                 50
Attack             53
Defense            48
Sp. Atk            53
Sp. Def            48
Speed              64
Generation          5
Legendary       False
Name: 572, dtype: object
573 =---- Name          Simisear
Type 1            Fire
HP                  75
Attack              98
Defense             63
Sp. Atk             98
Sp. Def             63
Speed              101
Generation           5
Legendary        False
Name: 573, dtype: object
574 =---- Name          Panpour
Type 1          Water
HP                 50
Attack             53
Defense            48
Sp. Atk            53
Sp. Def            48
Speed              64
Generation          5
Legendary       False
Name: 574, dtype: object
575 =---- Name          Simipour
Type 1           Water
HP                  75
Attack              98
Defense             63
Sp. Atk             98
Sp. Def             63
Speed              101
Generation           5
Legendary        False
Name: 575, dtype: object
576 =---- Name            Munna
Type 1        Psychic
HP                 76
Attack             25
Defense            45
Sp. Atk            67
Sp. Def            55
Speed              24
Generation          5
Legendary       False
Name: 576, dtype: object
577 =---- Name          Musharna
Type 1         Psychic
HP                 116
Attack              55
Defense             85
Sp. Atk            107
Sp. Def             95
Speed               29
Generation           5
Legendary        False
Name: 577, dtype: object
578 =---- Name          Pidove
Type 1        Normal
HP                50
Attack            55
Defense           50
Sp. Atk           36
Sp. Def           30
Speed             43
Generation         5
Legendary      False
Name: 578, dtype: object
579 =---- Name          Tranquill
Type 1           Normal
HP                   62
Attack               77
Defense              62
Sp. Atk              50
Sp. Def              42
Speed                65
Generation            5
Legendary         False
Name: 579, dtype: object
580 =---- Name          Unfezant
Type 1          Normal
HP                  80
Attack             115
Defense             80
Sp. Atk             65
Sp. Def             55
Speed               93
Generation           5
Legendary        False
Name: 580, dtype: object
581 =---- Name           Blitzle
Type 1        Electric
HP                  45
Attack              60
Defense             32
Sp. Atk             50
Sp. Def             32
Speed               76
Generation           5
Legendary        False
Name: 581, dtype: object
582 =---- Name          Zebstrika
Type 1         Electric
HP                   75
Attack              100
Defense              63
Sp. Atk              80
Sp. Def              63
Speed               116
Generation            5
Legendary         False
Name: 582, dtype: object
583 =---- Name          Roggenrola
Type 1              Rock
HP                    55
Attack                75
Defense               85
Sp. Atk               25
Sp. Def               25
Speed                 15
Generation             5
Legendary          False
Name: 583, dtype: object
584 =---- Name          Boldore
Type 1           Rock
HP                 70
Attack            105
Defense           105
Sp. Atk            50
Sp. Def            40
Speed              20
Generation          5
Legendary       False
Name: 584, dtype: object
585 =---- Name          Gigalith
Type 1            Rock
HP                  85
Attack             135
Defense            130
Sp. Atk             60
Sp. Def             80
Speed               25
Generation           5
Legendary        False
Name: 585, dtype: object
586 =---- Name           Woobat
Type 1        Psychic
HP                 55
Attack             45
Defense            43
Sp. Atk            55
Sp. Def            43
Speed              72
Generation          5
Legendary       False
Name: 586, dtype: object
587 =---- Name          Swoobat
Type 1        Psychic
HP                 67
Attack             57
Defense            55
Sp. Atk            77
Sp. Def            55
Speed             114
Generation          5
Legendary       False
Name: 587, dtype: object
588 =---- Name          Drilbur
Type 1         Ground
HP                 60
Attack             85
Defense            40
Sp. Atk            30
Sp. Def            45
Speed              68
Generation          5
Legendary       False
Name: 588, dtype: object
589 =---- Name          Excadrill
Type 1           Ground
HP                  110
Attack              135
Defense              60
Sp. Atk              50
Sp. Def              65
Speed                88
Generation            5
Legendary         False
Name: 589, dtype: object
590 =---- Name          Audino
Type 1        Normal
HP               103
Attack            60
Defense           86
Sp. Atk           60
Sp. Def           86
Speed             50
Generation         5
Legendary      False
Name: 590, dtype: object
591 =---- Name          AudinoMega Audino
Type 1                   Normal
HP                          103
Attack                       60
Defense                     126
Sp. Atk                      80
Sp. Def                     126
Speed                        50
Generation                    5
Legendary                 False
Name: 591, dtype: object
592 =---- Name           Timburr
Type 1        Fighting
HP                  75
Attack              80
Defense             55
Sp. Atk             25
Sp. Def             35
Speed               35
Generation           5
Legendary        False
Name: 592, dtype: object
593 =---- Name           Gurdurr
Type 1        Fighting
HP                  85
Attack             105
Defense             85
Sp. Atk             40
Sp. Def             50
Speed               40
Generation           5
Legendary        False
Name: 593, dtype: object
594 =---- Name          Conkeldurr
Type 1          Fighting
HP                   105
Attack               140
Defense               95
Sp. Atk               55
Sp. Def               65
Speed                 45
Generation             5
Legendary          False
Name: 594, dtype: object
595 =---- Name          Tympole
Type 1          Water
HP                 50
Attack             50
Defense            40
Sp. Atk            50
Sp. Def            40
Speed              64
Generation          5
Legendary       False
Name: 595, dtype: object
596 =---- Name          Palpitoad
Type 1            Water
HP                   75
Attack               65
Defense              55
Sp. Atk              65
Sp. Def              55
Speed                69
Generation            5
Legendary         False
Name: 596, dtype: object
597 =---- Name          Seismitoad
Type 1             Water
HP                   105
Attack                95
Defense               75
Sp. Atk               85
Sp. Def               75
Speed                 74
Generation             5
Legendary          False
Name: 597, dtype: object
598 =---- Name             Throh
Type 1        Fighting
HP                 120
Attack             100
Defense             85
Sp. Atk             30
Sp. Def             85
Speed               45
Generation           5
Legendary        False
Name: 598, dtype: object
599 =---- Name              Sawk
Type 1        Fighting
HP                  75
Attack             125
Defense             75
Sp. Atk             30
Sp. Def             75
Speed               85
Generation           5
Legendary        False
Name: 599, dtype: object
600 =---- Name          Sewaddle
Type 1             Bug
HP                  45
Attack              53
Defense             70
Sp. Atk             40
Sp. Def             60
Speed               42
Generation           5
Legendary        False

Name: 600, dtype: object
601 =---- Name          Swadloon
Type 1             Bug
HP                  55
Attack              63
Defense             90
Sp. Atk             50
Sp. Def             80
Speed               42
Generation           5
Legendary        False
Name: 601, dtype: object
602 =---- Name          Leavanny
Type 1             Bug
HP                  75
Attack             103
Defense             80
Sp. Atk             70
Sp. Def             80
Speed               92
Generation           5
Legendary        False
Name: 602, dtype: object
603 =---- Name          Venipede
Type 1             Bug
HP                  30
Attack              45
Defense             59
Sp. Atk             30
Sp. Def             39
Speed               57
Generation           5
Legendary        False
Name: 603, dtype: object
604 =---- Name          Whirlipede
Type 1               Bug
HP                    40
Attack                55
Defense               99
Sp. Atk               40
Sp. Def               79
Speed                 47
Generation             5
Legendary          False
Name: 604, dtype: object
605 =---- Name          Scolipede
Type 1              Bug
HP                   60
Attack              100
Defense              89
Sp. Atk              55
Sp. Def              69
Speed               112
Generation            5
Legendary         False
Name: 605, dtype: object
606 =---- Name          Cottonee
Type 1           Grass
HP                  40
Attack              27
Defense             60
Sp. Atk             37
Sp. Def             50
Speed               66
Generation           5
Legendary        False
Name: 606, dtype: object
607 =---- Name          Whimsicott
Type 1             Grass
HP                    60
Attack                67
Defense               85
Sp. Atk               77
Sp. Def               75
Speed                116
Generation             5
Legendary          False
Name: 607, dtype: object
608 =---- Name          Petilil
Type 1          Grass
HP                 45
Attack             35
Defense            50
Sp. Atk            70
Sp. Def            50
Speed              30
Generation          5
Legendary       False
Name: 608, dtype: object
609 =---- Name          Lilligant
Type 1            Grass
HP                   70
Attack               60
Defense              75
Sp. Atk             110
Sp. Def              75
Speed                90
Generation            5
Legendary         False
Name: 609, dtype: object
610 =---- Name          Basculin
Type 1           Water
HP                  70
Attack              92
Defense             65
Sp. Atk             80
Sp. Def             55
Speed               98
Generation           5
Legendary        False
Name: 610, dtype: object
611 =---- Name          Sandile
Type 1         Ground
HP                 50
Attack             72
Defense            35
Sp. Atk            35
Sp. Def            35
Speed              65
Generation          5
Legendary       False
Name: 611, dtype: object
612 =---- Name          Krokorok
Type 1          Ground
HP                  60
Attack              82
Defense             45
Sp. Atk             45
Sp. Def             45
Speed               74
Generation           5
Legendary        False
Name: 612, dtype: object
613 =---- Name          Krookodile
Type 1            Ground
HP                    95
Attack               117
Defense               80
Sp. Atk               65
Sp. Def               70
Speed                 92
Generation             5
Legendary          False
Name: 613, dtype: object
614 =---- Name          Darumaka
Type 1            Fire
HP                  70
Attack              90
Defense             45
Sp. Atk             15
Sp. Def             45
Speed               50
Generation           5
Legendary        False
Name: 614, dtype: object
615 =---- Name          DarmanitanStandard Mode
Type 1                           Fire
HP                                105
Attack                            140
Defense                            55
Sp. Atk                            30
Sp. Def                            55
Speed                              95
Generation                          5
Legendary                       False
Name: 615, dtype: object
616 =---- Name          DarmanitanZen Mode
Type 1                      Fire
HP                           105
Attack                        30
Defense                      105
Sp. Atk                      140
Sp. Def                      105
Speed                         55
Generation                     5
Legendary                  False
Name: 616, dtype: object
617 =---- Name          Maractus
Type 1           Grass
HP                  75
Attack              86
Defense             67
Sp. Atk            106
Sp. Def             67
Speed               60
Generation           5
Legendary        False
Name: 617, dtype: object
618 =---- Name          Dwebble
Type 1            Bug
HP                 50
Attack             65
Defense            85
Sp. Atk            35
Sp. Def            35
Speed              55
Generation          5
Legendary       False
Name: 618, dtype: object
619 =---- Name          Crustle
Type 1            Bug
HP                 70
Attack             95
Defense           125
Sp. Atk            65
Sp. Def            75
Speed              45
Generation          5
Legendary       False
Name: 619, dtype: object
620 =---- Name          Scraggy
Type 1           Dark
HP                 50
Attack             75
Defense            70
Sp. Atk            35
Sp. Def            70
Speed              48
Generation          5
Legendary       False
Name: 620, dtype: object
621 =---- Name          Scrafty
Type 1           Dark
HP                 65
Attack             90
Defense           115
Sp. Atk            45
Sp. Def           115
Speed              58
Generation          5
Legendary       False
Name: 621, dtype: object
622 =---- Name          Sigilyph
Type 1         Psychic
HP                  72
Attack              58
Defense             80
Sp. Atk            103
Sp. Def             80
Speed               97
Generation           5
Legendary        False
Name: 622, dtype: object
623 =---- Name          Yamask
Type 1         Ghost
HP                38
Attack            30
Defense           85
Sp. Atk           55
Sp. Def           65
Speed             30
Generation         5
Legendary      False
Name: 623, dtype: object
624 =---- Name          Cofagrigus
Type 1             Ghost
HP                    58
Attack                50
Defense              145
Sp. Atk               95
Sp. Def              105
Speed                 30
Generation             5
Legendary          False
Name: 624, dtype: object
625 =---- Name          Tirtouga
Type 1           Water
HP                  54
Attack              78
Defense            103
Sp. Atk             53
Sp. Def             45
Speed               22
Generation           5
Legendary        False
Name: 625, dtype: object
626 =---- Name          Carracosta
Type 1             Water
HP                    74
Attack               108
Defense              133
Sp. Atk               83
Sp. Def               65
Speed                 32
Generation             5
Legendary          False
Name: 626, dtype: object
627 =---- Name          Archen
Type 1          Rock
HP                55
Attack           112
Defense           45
Sp. Atk           74
Sp. Def           45
Speed             70
Generation         5
Legendary      False
Name: 627, dtype: object
628 =---- Name          Archeops
Type 1            Rock
HP                  75
Attack             140
Defense             65
Sp. Atk            112
Sp. Def             65
Speed              110
Generation           5
Legendary        False
Name: 628, dtype: object
629 =---- Name          Trubbish
Type 1          Poison
HP                  50
Attack              50
Defense             62
Sp. Atk             40
Sp. Def             62
Speed               65
Generation           5
Legendary        False
Name: 629, dtype: object
630 =---- Name          Garbodor
Type 1          Poison
HP                  80
Attack              95
Defense             82
Sp. Atk             60
Sp. Def             82
Speed               75
Generation           5
Legendary        False
Name: 630, dtype: object
631 =---- Name          Zorua
Type 1         Dark
HP               40
Attack           65
Defense          40
Sp. Atk          80
Sp. Def          40
Speed            65
Generation        5
Legendary     False
Name: 631, dtype: object
632 =---- Name          Zoroark
Type 1           Dark
HP                 60
Attack            105
Defense            60
Sp. Atk           120
Sp. Def            60
Speed             105
Generation          5
Legendary       False
Name: 632, dtype: object
633 =---- Name          Minccino
Type 1          Normal
HP                  55
Attack              50
Defense             40
Sp. Atk             40
Sp. Def             40
Speed               75
Generation           5
Legendary        False
Name: 633, dtype: object
634 =---- Name          Cinccino
Type 1          Normal
HP                  75
Attack              95
Defense             60
Sp. Atk             65
Sp. Def             60
Speed              115
Generation           5
Legendary        False
Name: 634, dtype: object
635 =---- Name          Gothita
Type 1        Psychic
HP                 45
Attack             30
Defense            50
Sp. Atk            55
Sp. Def            65
Speed              45
Generation          5
Legendary       False
Name: 635, dtype: object
636 =---- Name          Gothorita
Type 1          Psychic
HP                   60
Attack               45
Defense              70
Sp. Atk              75
Sp. Def              85
Speed                55
Generation            5
Legendary         False
Name: 636, dtype: object
637 =---- Name          Gothitelle
Type 1           Psychic
HP                    70
Attack                55
Defense               95
Sp. Atk               95
Sp. Def              110
Speed                 65
Generation             5
Legendary          False
Name: 637, dtype: object
638 =---- Name          Solosis
Type 1        Psychic
HP                 45
Attack             30
Defense            40
Sp. Atk           105
Sp. Def            50
Speed              20
Generation          5
Legendary       False
Name: 638, dtype: object
639 =---- Name          Duosion
Type 1        Psychic
HP                 65
Attack             40
Defense            50
Sp. Atk           125
Sp. Def            60
Speed              30
Generation          5
Legendary       False
Name: 639, dtype: object
640 =---- Name          Reuniclus
Type 1          Psychic
HP                  110
Attack               65
Defense              75
Sp. Atk             125
Sp. Def              85
Speed                30
Generation            5
Legendary         False
Name: 640, dtype: object
641 =---- Name          Ducklett
Type 1           Water
HP                  62
Attack              44
Defense             50
Sp. Atk             44
Sp. Def             50
Speed               55
Generation           5
Legendary        False
Name: 641, dtype: object
642 =---- Name          Swanna
Type 1         Water
HP                75
Attack            87
Defense           63
Sp. Atk           87
Sp. Def           63
Speed             98
Generation         5
Legendary      False
Name: 642, dtype: object
643 =---- Name          Vanillite
Type 1              Ice
HP                   36
Attack               50
Defense              50
Sp. Atk              65
Sp. Def              60
Speed                44
Generation            5
Legendary         False
Name: 643, dtype: object
644 =---- Name          Vanillish
Type 1              Ice
HP                   51
Attack               65
Defense              65
Sp. Atk              80
Sp. Def              75
Speed                59
Generation            5
Legendary         False
Name: 644, dtype: object
645 =---- Name          Vanilluxe
Type 1              Ice
HP                   71
Attack               95
Defense              85
Sp. Atk             110
Sp. Def              95
Speed                79
Generation            5
Legendary         False
Name: 645, dtype: object
646 =---- Name          Deerling
Type 1          Normal
HP                  60
Attack              60
Defense             50
Sp. Atk             40
Sp. Def             50
Speed               75
Generation           5
Legendary        False
Name: 646, dtype: object
647 =---- Name          Sawsbuck
Type 1          Normal
HP                  80
Attack             100
Defense             70
Sp. Atk             60
Sp. Def             70
Speed               95
Generation           5
Legendary        False
Name: 647, dtype: object
648 =---- Name            Emolga
Type 1        Electric
HP                  55
Attack              75
Defense             60
Sp. Atk             75
Sp. Def             60
Speed              103
Generation           5
Legendary        False
Name: 648, dtype: object
649 =---- Name          Karrablast
Type 1               Bug
HP                    50
Attack                75
Defense               45
Sp. Atk               40
Sp. Def               45
Speed                 60
Generation             5
Legendary          False
Name: 649, dtype: object
650 =---- Name          Escavalier
Type 1               Bug
HP                    70
Attack               135
Defense              105
Sp. Atk               60
Sp. Def              105
Speed                 20
Generation             5
Legendary          False
Name: 650, dtype: object
651 =---- Name          Foongus
Type 1          Grass
HP                 69
Attack             55
Defense            45
Sp. Atk            55
Sp. Def            55
Speed              15
Generation          5
Legendary       False
Name: 651, dtype: object
652 =---- Name          Amoonguss
Type 1            Grass
HP                  114
Attack               85
Defense              70
Sp. Atk              85
Sp. Def              80
Speed                30
Generation            5
Legendary         False
Name: 652, dtype: object
653 =---- Name          Frillish
Type 1           Water
HP                  55
Attack              40
Defense             50
Sp. Atk             65
Sp. Def             85
Speed               40
Generation           5
Legendary        False
Name: 653, dtype: object
654 =---- Name          Jellicent
Type 1            Water
HP                  100
Attack               60
Defense              70
Sp. Atk              85
Sp. Def             105
Speed                60
Generation            5
Legendary         False
Name: 654, dtype: object
655 =---- Name          Alomomola
Type 1            Water
HP                  165
Attack               75
Defense              80
Sp. Atk              40
Sp. Def              45
Speed                65
Generation            5
Legendary         False
Name: 655, dtype: object
656 =---- Name          Joltik
Type 1           Bug
HP                50
Attack            47
Defense           50
Sp. Atk           57
Sp. Def           50
Speed             65
Generation         5
Legendary      False
Name: 656, dtype: object
657 =---- Name          Galvantula
Type 1               Bug
HP                    70
Attack                77
Defense               60
Sp. Atk               97
Sp. Def               60
Speed                108
Generation             5
Legendary          False
Name: 657, dtype: object
658 =---- Name          Ferroseed
Type 1            Grass
HP                   44
Attack               50
Defense              91
Sp. Atk              24
Sp. Def              86
Speed                10
Generation            5
Legendary         False
Name: 658, dtype: object
659 =---- Name          Ferrothorn
Type 1             Grass
HP                    74
Attack                94
Defense              131
Sp. Atk               54
Sp. Def              116
Speed                 20
Generation             5
Legendary          False
Name: 659, dtype: object
660 =---- Name          Klink
Type 1        Steel
HP               40
Attack           55
Defense          70
Sp. Atk          45
Sp. Def          60
Speed            30
Generation        5
Legendary     False
Name: 660, dtype: object
661 =---- Name          Klang
Type 1        Steel
HP               60
Attack           80
Defense          95
Sp. Atk          70
Sp. Def          85
Speed            50
Generation        5
Legendary     False
Name: 661, dtype: object
662 =---- Name          Klinklang
Type 1            Steel
HP                   60
Attack              100
Defense             115
Sp. Atk              70
Sp. Def              85
Speed                90
Generation            5
Legendary         False
Name: 662, dtype: object
663 =---- Name            Tynamo
Type 1        Electric
HP                  35
Attack              55
Defense             40
Sp. Atk             45
Sp. Def             40
Speed               60
Generation           5
Legendary        False
Name: 663, dtype: object
664 =---- Name          Eelektrik
Type 1         Electric
HP                   65
Attack               85
Defense              70
Sp. Atk              75
Sp. Def              70
Speed                40
Generation            5
Legendary         False
Name: 664, dtype: object
665 =---- Name          Eelektross
Type 1          Electric
HP                    85
Attack               115
Defense               80
Sp. Atk              105
Sp. Def               80
Speed                 50
Generation             5
Legendary          False
Name: 665, dtype: object
666 =---- Name           Elgyem
Type 1        Psychic
HP                 55
Attack             55
Defense            55
Sp. Atk            85
Sp. Def            55
Speed              30
Generation          5
Legendary       False
Name: 666, dtype: object
667 =---- Name          Beheeyem
Type 1         Psychic
HP                  75
Attack              75
Defense             75
Sp. Atk            125
Sp. Def             95
Speed               40
Generation           5
Legendary        False
Name: 667, dtype: object
668 =---- Name          Litwick
Type 1          Ghost
HP                 50
Attack             30
Defense            55
Sp. Atk            65
Sp. Def            55
Speed              20
Generation          5
Legendary       False
Name: 668, dtype: object
669 =---- Name          Lampent
Type 1          Ghost
HP                 60
Attack             40
Defense            60
Sp. Atk            95
Sp. Def            60
Speed              55
Generation          5
Legendary       False
Name: 669, dtype: object
670 =---- Name          Chandelure
Type 1             Ghost
HP                    60
Attack                55
Defense               90
Sp. Atk              145
Sp. Def               90
Speed                 80
Generation             5
Legendary          False
Name: 670, dtype: object
671 =---- Name            Axew
Type 1        Dragon
HP                46
Attack            87
Defense           60
Sp. Atk           30
Sp. Def           40
Speed             57
Generation         5
Legendary      False
Name: 671, dtype: object
672 =---- Name          Fraxure
Type 1         Dragon
HP                 66
Attack            117
Defense            70
Sp. Atk            40
Sp. Def            50
Speed              67
Generation          5
Legendary       False
Name: 672, dtype: object
673 =---- Name          Haxorus
Type 1         Dragon
HP                 76
Attack            147
Defense            90
Sp. Atk            60
Sp. Def            70
Speed              97
Generation          5
Legendary       False
Name: 673, dtype: object
674 =---- Name          Cubchoo
Type 1            Ice
HP                 55
Attack             70
Defense            40
Sp. Atk            60
Sp. Def            40
Speed              40
Generation          5
Legendary       False
Name: 674, dtype: object
675 =---- Name          Beartic
Type 1            Ice
HP                 95
Attack            110

Name: 690, dtype: object
691 =---- Name          Mandibuzz
Type 1             Dark
HP                  110
Attack               65
Defense             105
Sp. Atk              55
Sp. Def              95
Speed                80
Generation            5
Legendary         False
Name: 691, dtype: object
692 =---- Name          Heatmor
Type 1           Fire
HP                 85
Attack             97
Defense            66
Sp. Atk           105
Sp. Def            66
Speed              65
Generation          5
Legendary       False
Name: 692, dtype: object
693 =---- Name          Durant
Type 1           Bug
HP                58
Attack           109
Defense          112
Sp. Atk           48
Sp. Def           48
Speed            109
Generation         5
Legendary      False
Name: 693, dtype: object
694 =---- Name          Deino
Type 1         Dark
HP               52
Attack           65
Defense          50
Sp. Atk          45
Sp. Def          50
Speed            38
Generation        5
Legendary     False
Name: 694, dtype: object
695 =---- Name          Zweilous
Type 1            Dark
HP                  72
Attack              85
Defense             70
Sp. Atk             65
Sp. Def             70
Speed               58
Generation           5
Legendary        False
Name: 695, dtype: object
696 =---- Name          Hydreigon
Type 1             Dark
HP                   92
Attack              105
Defense              90
Sp. Atk             125
Sp. Def              90
Speed                98
Generation            5
Legendary         False
Name: 696, dtype: object
697 =---- Name          Larvesta
Type 1             Bug
HP                  55
Attack              85
Defense             55
Sp. Atk             50
Sp. Def             55
Speed               60
Generation           5
Legendary        False
Name: 697, dtype: object
698 =---- Name          Volcarona
Type 1              Bug
HP                   85
Attack               60
Defense              65
Sp. Atk             135
Sp. Def             105
Speed               100
Generation            5
Legendary         False
Name: 698, dtype: object
699 =---- Name          Cobalion
Type 1           Steel
HP                  91
Attack              90
Defense            129
Sp. Atk             90
Sp. Def             72
Speed              108
Generation           5
Legendary         True
Name: 699, dtype: object
700 =---- Name          Terrakion
Type 1             Rock
HP                   91
Attack              129
Defense              90
Sp. Atk              72
Sp. Def              90
Speed               108
Generation            5
Legendary          True
Name: 700, dtype: object
701 =---- Name          Virizion
Type 1           Grass
HP                  91
Attack              90
Defense             72
Sp. Atk             90
Sp. Def            129
Speed              108
Generation           5
Legendary         True
Name: 701, dtype: object
702 =---- Name          TornadusIncarnate Forme
Type 1                         Flying
HP                                 79
Attack                            115
Defense                            70
Sp. Atk                           125
Sp. Def                            80
Speed                             111
Generation                          5
Legendary                        True
Name: 702, dtype: object
703 =---- Name          TornadusTherian Forme
Type 1                       Flying
HP                               79
Attack                          100
Defense                          80
Sp. Atk                         110
Sp. Def                          90
Speed                           121
Generation                        5
Legendary                      True
Name: 703, dtype: object
704 =---- Name          ThundurusIncarnate Forme
Type 1                        Electric
HP                                  79
Attack                             115
Defense                             70
Sp. Atk                            125
Sp. Def                             80
Speed                              111
Generation                           5
Legendary                         True
Name: 704, dtype: object
705 =---- Name          ThundurusTherian Forme
Type 1                      Electric
HP                                79
Attack                           105
Defense                           70
Sp. Atk                          145
Sp. Def                           80
Speed                            101
Generation                         5
Legendary                       True
Name: 705, dtype: object
706 =---- Name          Reshiram
Type 1          Dragon
HP                 100
Attack             120
Defense            100
Sp. Atk            150
Sp. Def            120
Speed               90
Generation           5
Legendary         True
Name: 706, dtype: object
707 =---- Name          Zekrom
Type 1        Dragon
HP               100
Attack           150
Defense          120
Sp. Atk          120
Sp. Def          100
Speed             90
Generation         5
Legendary       True
Name: 707, dtype: object
708 =---- Name          LandorusIncarnate Forme
Type 1                         Ground
HP                                 89
Attack                            125
Defense                            90
Sp. Atk                           115
Sp. Def                            80
Speed                             101
Generation                          5
Legendary                        True
Name: 708, dtype: object
709 =---- Name          LandorusTherian Forme
Type 1                       Ground
HP                               89
Attack                          145
Defense                          90
Sp. Atk                         105
Sp. Def                          80
Speed                            91
Generation                        5
Legendary                      True
Name: 709, dtype: object
710 =---- Name          Kyurem
Type 1        Dragon
HP               125
Attack           130
Defense           90
Sp. Atk          130
Sp. Def           90
Speed             95
Generation         5
Legendary       True
Name: 710, dtype: object
711 =---- Name          KyuremBlack Kyurem
Type 1                    Dragon
HP                           125
Attack                       170
Defense                      100
Sp. Atk                      120
Sp. Def                       90
Speed                         95
Generation                     5
Legendary                   True
Name: 711, dtype: object
712 =---- Name          KyuremWhite Kyurem
Type 1                    Dragon
HP                           125
Attack                       120
Defense                       90
Sp. Atk                      170
Sp. Def                      100
Speed                         95
Generation                     5
Legendary                   True
Name: 712, dtype: object
713 =---- Name          KeldeoOrdinary Forme
Type 1                       Water
HP                              91
Attack                          72
Defense                         90
Sp. Atk                        129
Sp. Def                         90
Speed                          108
Generation                       5
Legendary                    False
Name: 713, dtype: object
714 =---- Name          KeldeoResolute Forme
Type 1                       Water
HP                              91
Attack                          72
Defense                         90
Sp. Atk                        129
Sp. Def                         90
Speed                          108
Generation                       5
Legendary                    False
Name: 714, dtype: object
715 =---- Name          MeloettaAria Forme
Type 1                    Normal
HP                           100
Attack                        77
Defense                       77
Sp. Atk                      128
Sp. Def                      128
Speed                         90
Generation                     5
Legendary                  False
Name: 715, dtype: object
716 =---- Name          MeloettaPirouette Forme
Type 1                         Normal
HP                                100
Attack                            128
Defense                            90
Sp. Atk                            77
Sp. Def                            77
Speed                             128
Generation                          5
Legendary                       False
Name: 716, dtype: object
717 =---- Name          Genesect
Type 1             Bug
HP                  71
Attack             120
Defense             95
Sp. Atk            120
Sp. Def             95
Speed               99
Generation           5
Legendary        False
Name: 717, dtype: object
718 =---- Name          Chespin
Type 1          Grass
HP                 56
Attack             61
Defense            65
Sp. Atk            48
Sp. Def            45
Speed              38
Generation          6
Legendary       False
Name: 718, dtype: object
719 =---- Name          Quilladin
Type 1            Grass
HP                   61
Attack               78
Defense              95
Sp. Atk              56
Sp. Def              58
Speed                57
Generation            6
Legendary         False
Name: 719, dtype: object
720 =---- Name          Chesnaught
Type 1             Grass
HP                    88
Attack               107
Defense              122
Sp. Atk               74
Sp. Def               75
Speed                 64
Generation             6
Legendary          False
Name: 720, dtype: object
721 =---- Name          Fennekin
Type 1            Fire
HP                  40
Attack              45
Defense             40
Sp. Atk             62
Sp. Def             60
Speed               60
Generation           6
Legendary        False
Name: 721, dtype: object
722 =---- Name          Braixen
Type 1           Fire
HP                 59
Attack             59
Defense            58
Sp. Atk            90
Sp. Def            70
Speed              73
Generation          6
Legendary       False
Name: 722, dtype: object
723 =---- Name          Delphox
Type 1           Fire
HP                 75
Attack             69
Defense            72
Sp. Atk           114
Sp. Def           100
Speed             104
Generation          6
Legendary       False
Name: 723, dtype: object
724 =---- Name          Froakie
Type 1          Water
HP                 41
Attack             56
Defense            40
Sp. Atk            62
Sp. Def            44
Speed              71
Generation          6
Legendary       False
Name: 724, dtype: object
725 =---- Name          Frogadier
Type 1            Water
HP                   54
Attack               63
Defense              52
Sp. Atk              83
Sp. Def              56
Speed                97
Generation            6
Legendary         False
Name: 725, dtype: object
726 =---- Name          Greninja
Type 1           Water
HP                  72
Attack              95
Defense             67
Sp. Atk            103
Sp. Def             71
Speed              122
Generation           6
Legendary        False

Name: 726, dtype: object
727 =---- Name          Bunnelby
Type 1          Normal
HP                  38
Attack              36
Defense             38
Sp. Atk             32
Sp. Def             36
Speed               57
Generation           6
Legendary        False
Name: 727, dtype: object
728 =---- Name          Diggersby
Type 1           Normal
HP                   85
Attack               56
Defense              77
Sp. Atk              50
Sp. Def              77
Speed                78
Generation            6
Legendary         False
Name: 728, dtype: object
729 =---- Name          Fletchling
Type 1            Normal
HP                    45
Attack                50
Defense               43
Sp. Atk               40
Sp. Def               38
Speed                 62
Generation             6
Legendary          False
Name: 729, dtype: object
730 =---- Name          Fletchinder
Type 1               Fire
HP                     62
Attack                 73
Defense                55
Sp. Atk                56
Sp. Def                52
Speed                  84
Generation              6
Legendary           False
Name: 730, dtype: object
731 =---- Name          Talonflame
Type 1              Fire
HP                    78
Attack                81
Defense               71
Sp. Atk               74
Sp. Def               69
Speed                126
Generation             6
Legendary          False
Name: 731, dtype: object
732 =---- Name          Scatterbug
Type 1               Bug
HP                    38
Attack                35
Defense               40
Sp. Atk               27
Sp. Def               25
Speed                 35
Generation             6
Legendary          False
Name: 732, dtype: object
733 =---- Name          Spewpa
Type 1           Bug
HP                45
Attack            22
Defense           60
Sp. Atk           27
Sp. Def           30
Speed             29
Generation         6
Legendary      False
Name: 733, dtype: object
734 =---- Name          Vivillon
Type 1             Bug
HP                  80
Attack              52
Defense             50
Sp. Atk             90
Sp. Def             50
Speed               89
Generation           6
Legendary        False
Name: 734, dtype: object
735 =---- Name          Litleo
Type 1          Fire
HP                62
Attack            50
Defense           58
Sp. Atk           73
Sp. Def           54
Speed             72
Generation         6
Legendary      False
Name: 735, dtype: object
736 =---- Name          Pyroar
Type 1          Fire
HP                86
Attack            68
Defense           72
Sp. Atk          109
Sp. Def           66
Speed            106
Generation         6
Legendary      False
Name: 736, dtype: object
737 =---- Name          Flabébé
Type 1          Fairy
HP                 44
Attack             38
Defense            39
Sp. Atk            61
Sp. Def            79
Speed              42
Generation          6
Legendary       False
Name: 737, dtype: object
738 =---- Name          Floette
Type 1          Fairy
HP                 54
Attack             45
Defense            47
Sp. Atk            75
Sp. Def            98
Speed              52
Generation          6
Legendary       False
Name: 738, dtype: object
739 =---- Name          Florges
Type 1          Fairy
HP                 78
Attack             65
Defense            68
Sp. Atk           112
Sp. Def           154
Speed              75
Generation          6
Legendary       False
Name: 739, dtype: object
740 =---- Name          Skiddo
Type 1         Grass
HP                66
Attack            65
Defense           48
Sp. Atk           62
Sp. Def           57
Speed             52
Generation         6
Legendary      False
Name: 740, dtype: object
741 =---- Name          Gogoat
Type 1         Grass
HP               123
Attack           100
Defense           62
Sp. Atk           97
Sp. Def           81
Speed             68
Generation         6
Legendary      False
Name: 741, dtype: object
742 =---- Name           Pancham
Type 1        Fighting
HP                  67
Attack              82
Defense             62
Sp. Atk             46
Sp. Def             48
Speed               43
Generation           6
Legendary        False
Name: 742, dtype: object
743 =---- Name           Pangoro
Type 1        Fighting
HP                  95
Attack             124
Defense             78
Sp. Atk             69
Sp. Def             71
Speed               58
Generation           6
Legendary        False
Name: 743, dtype: object
744 =---- Name          Furfrou
Type 1         Normal
HP                 75
Attack             80
Defense            60
Sp. Atk            65
Sp. Def            90
Speed             102
Generation          6
Legendary       False
Name: 744, dtype: object
745 =---- Name           Espurr
Type 1        Psychic
HP                 62
Attack             48
Defense            54
Sp. Atk            63
Sp. Def            60
Speed              68
Generation          6
Legendary       False
Name: 745, dtype: object
746 =---- Name          MeowsticMale
Type 1             Psychic
HP                      74
Attack                  48
Defense                 76
Sp. Atk                 83
Sp. Def                 81
Speed                  104
Generation               6
Legendary            False
Name: 746, dtype: object
747 =---- Name          MeowsticFemale
Type 1               Psychic
HP                        74
Attack                    48
Defense                   76
Sp. Atk                   83
Sp. Def                   81
Speed                    104
Generation                 6
Legendary              False
Name: 747, dtype: object
748 =---- Name          Honedge
Type 1          Steel
HP                 45
Attack             80
Defense           100
Sp. Atk            35
Sp. Def            37
Speed              28
Generation          6
Legendary       False
Name: 748, dtype: object
749 =---- Name          Doublade
Type 1           Steel
HP                  59
Attack             110
Defense            150
Sp. Atk             45
Sp. Def             49
Speed               35
Generation           6
Legendary        False
Name: 749, dtype: object
750 =---- Name          AegislashBlade Forme
Type 1                       Steel
HP                              60
Attack                         150
Defense                         50
Sp. Atk                        150
Sp. Def                         50
Speed                           60
Generation                       6
Legendary                    False
Name: 750, dtype: object
751 =---- Name          AegislashShield Forme
Type 1                        Steel
HP                               60
Attack                           50
Defense                         150
Sp. Atk                          50
Sp. Def                         150
Speed                            60
Generation                        6
Legendary                     False
Name: 751, dtype: object
752 =---- Name          Spritzee
Type 1           Fairy
HP                  78
Attack              52
Defense             60
Sp. Atk             63
Sp. Def             65
Speed               23
Generation           6
Legendary        False
Name: 752, dtype: object
753 =---- Name          Aromatisse
Type 1             Fairy
HP                   101
Attack                72
Defense               72
Sp. Atk               99
Sp. Def               89
Speed                 29
Generation             6
Legendary          False
Name: 753, dtype: object
754 =---- Name          Swirlix
Type 1          Fairy
HP                 62
Attack             48
Defense            66
Sp. Atk            59
Sp. Def            57
Speed              49
Generation          6
Legendary       False
Name: 754, dtype: object
755 =---- Name          Slurpuff
Type 1           Fairy
HP                  82
Attack              80
Defense             86
Sp. Atk             85
Sp. Def             75
Speed               72
Generation           6
Legendary        False
Name: 755, dtype: object
756 =---- Name          Inkay
Type 1         Dark
HP               53
Attack           54
Defense          53
Sp. Atk          37
Sp. Def          46
Speed            45
Generation        6
Legendary     False
Name: 756, dtype: object
757 =---- Name          Malamar
Type 1           Dark
HP                 86
Attack             92
Defense            88
Sp. Atk            68
Sp. Def            75
Speed              73
Generation          6
Legendary       False
Name: 757, dtype: object
758 =---- Name          Binacle
Type 1           Rock
HP                 42
Attack             52
Defense            67
Sp. Atk            39
Sp. Def            56
Speed              50
Generation          6
Legendary       False
Name: 758, dtype: object
759 =---- Name          Barbaracle
Type 1              Rock
HP                    72
Attack               105
Defense              115
Sp. Atk               54
Sp. Def               86
Speed                 68
Generation             6
Legendary          False
Name: 759, dtype: object
760 =---- Name          Skrelp
Type 1        Poison
HP                50
Attack            60
Defense           60
Sp. Atk           60
Sp. Def           60
Speed             30
Generation         6
Legendary      False
Name: 760, dtype: object
761 =---- Name          Dragalge
Type 1          Poison
HP                  65
Attack              75
Defense             90
Sp. Atk             97
Sp. Def            123
Speed               44
Generation           6
Legendary        False
Name: 761, dtype: object
762 =---- Name          Clauncher
Type 1            Water
HP                   50
Attack               53
Defense              62
Sp. Atk              58
Sp. Def              63
Speed                44
Generation            6
Legendary         False
Name: 762, dtype: object
763 =---- Name          Clawitzer
Type 1            Water
HP                   71
Attack               73
Defense              88
Sp. Atk             120
Sp. Def              89
Speed                59
Generation            6
Legendary         False
Name: 763, dtype: object
764 =---- Name          Helioptile
Type 1          Electric
HP                    44
Attack                38
Defense               33
Sp. Atk               61
Sp. Def               43
Speed                 70
Generation             6
Legendary          False
Name: 764, dtype: object
765 =---- Name          Heliolisk
Type 1         Electric
HP                   62
Attack               55
Defense              52
Sp. Atk             109
Sp. Def              94
Speed               109
Generation            6
Legendary         False
Name: 765, dtype: object
766 =---- Name          Tyrunt
Type 1          Rock
HP                58
Attack            89
Defense           77
Sp. Atk           45
Sp. Def           45
Speed             48
Generation         6
Legendary      False
Name: 766, dtype: object
767 =---- Name          Tyrantrum
Type 1             Rock
HP                   82
Attack              121
Defense             119
Sp. Atk              69
Sp. Def              59
Speed                71
Generation            6
Legendary         False
Name: 767, dtype: object
768 =---- Name          Amaura
Type 1          Rock
HP                77
Attack            59
Defense           50
Sp. Atk           67
Sp. Def           63
Speed             46
Generation         6
Legendary      False
Name: 768, dtype: object
769 =---- Name          Aurorus
Type 1           Rock
HP                123
Attack             77
Defense            72
Sp. Atk            99
Sp. Def            92
Speed              58
Generation          6
Legendary       False
Name: 769, dtype: object
770 =---- Name          Sylveon
Type 1          Fairy
HP                 95
Attack             65
Defense            65
Sp. Atk           110
Sp. Def           130
Speed              60
Generation          6
Legendary       False
Name: 770, dtype: object
771 =---- Name          Hawlucha
Type 1        Fighting
HP                  78
Attack              92
Defense             75
Sp. Atk             74
Sp. Def             63
Speed              118
Generation           6
Legendary        False
Name: 771, dtype: object
772 =---- Name           Dedenne
Type 1        Electric
HP                  67
Attack              58
Defense             57
Sp. Atk             81
Sp. Def             67
Speed              101
Generation           6
Legendary        False
Name: 772, dtype: object
773 =---- Name          Carbink
Type 1           Rock
HP                 50
Attack             50
Defense           150
Sp. Atk            50
Sp. Def           150
Speed              50
Generation          6
Legendary       False
Name: 773, dtype: object
774 =---- Name           Goomy
Type 1        Dragon
HP                45
Attack            50
Defense           35
Sp. Atk           55
Sp. Def           75
Speed             40
Generation         6
Legendary      False
Name: 774, dtype: object
775 =---- Name          Sliggoo
Type 1         Dragon
HP                 68
Attack             75
Defense            53
Sp. Atk            83
Sp. Def           113
Speed              60
Generation          6
Legendary       False
Name: 775, dtype: object
776 =---- Name          Goodra
Type 1        Dragon
HP                90
Attack           100
Defense           70
Sp. Atk          110
Sp. Def          150
Speed             80
Generation         6
Legendary      False
Name: 776, dtype: object
777 =---- Name          Klefki
Type 1         Steel
HP                57
Attack            80
Defense           91
Sp. Atk           80
Sp. Def           87
Speed             75
Generation         6
Legendary      False
Name: 777, dtype: object
778 =---- Name          Phantump
Type 1           Ghost
HP                  43
Attack              70
Defense             48
Sp. Atk             50
Sp. Def             60
Speed               38
Generation           6
Legendary        False
Name: 778, dtype: object
779 =---- Name          Trevenant
Type 1            Ghost
HP                   85
Attack              110
Defense              76
Sp. Atk              65
Sp. Def              82
Speed                56
Generation            6
Legendary         False
Name: 779, dtype: object
780 =---- Name          PumpkabooAverage Size
Type 1                        Ghost
HP                               49
Attack                           66
Defense                          70
Sp. Atk                          44
Sp. Def                          55
Speed                            51
Generation                        6
Legendary                     False
Name: 780, dtype: object
781 =---- Name          PumpkabooSmall Size
Type 1                      Ghost
HP                             44
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          56
Generation                      6
Legendary                   False
Name: 781, dtype: object
782 =---- Name          PumpkabooLarge Size
Type 1                      Ghost
HP                             54
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          46
Generation                      6
Legendary                   False
Name: 782, dtype: object
783 =---- Name          PumpkabooSuper Size
Type 1                      Ghost
HP                             59
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          41
Generation                      6
Legendary                   False
Name: 783, dtype: object
784 =---- Name          GourgeistAverage Size
Type 1                        Ghost
HP                               65
Attack                           90
Defense                         122
Sp. Atk                          58
Sp. Def                          75
Speed                            84
Generation                        6
Legendary                     False
Name: 784, dtype: object
785 =---- Name          GourgeistSmall Size
Type 1                      Ghost
HP                             55
Attack                         85
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          99
Generation                      6
Legendary                   False
Name: 785, dtype: object
786 =---- Name          GourgeistLarge Size
Type 1                      Ghost
HP                             75
Attack                         95
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          69
Generation                      6
Legendary                   False
Name: 786, dtype: object
787 =---- Name          GourgeistSuper Size
Type 1                      Ghost
HP                             85
Attack                        100
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          54
Generation                      6
Legendary                   False
Name: 787, dtype: object
788 =---- Name          Bergmite
Type 1             Ice
HP                  55
Attack              69
Defense             85
Sp. Atk             32
Sp. Def             35
Speed               28
Generation           6
Legendary        False
Name: 788, dtype: object
789 =---- Name          Avalugg
Type 1            Ice
HP                 95
Attack            117
Defense           184
Sp. Atk            44
Sp. Def            46
Speed              28
Generation          6
Legendary       False
Name: 789, dtype: object
790 =---- Name          Noibat
Type 1        Flying
HP                40
Attack            30
Defense           35
Sp. Atk           45
Sp. Def           40
Speed             55
Generation         6
Legendary      False
Name: 790, dtype: object
791 =---- Name          Noivern
Type 1         Flying
HP                 85
Attack             70
Defense            80
Sp. Atk            97
Sp. Def            80
Speed             123
Generation          6
Legendary       False
Name: 791, dtype: object
792 =---- Name          Xerneas
Type 1          Fairy
HP                126
Attack            131
Defense            95
Sp. Atk           131
Sp. Def            98
Speed              99
Generation          6
Legendary        True
Name: 792, dtype: object
793 =---- Name          Yveltal
Type 1           Dark
HP                126
Attack            131
Defense            95
Sp. Atk           131
Sp. Def            98
Speed              99
Generation          6
Legendary        True
Name: 793, dtype: object
794 =---- Name          Zygarde50% Forme
Type 1                  Dragon
HP                         108
Attack                     100
Defense                    121
Sp. Atk                     81
Sp. Def                     95
Speed                       95
Generation                   6
Legendary                 True
Name: 794, dtype: object
795 =---- Name          Diancie
Type 1           Rock
HP                 50
Attack            100
Defense           150
Sp. Atk           100
Sp. Def           150
Speed              50
Generation          6
Legendary        True
Name: 795, dtype: object
796 =---- Name          DiancieMega Diancie
Type 1                       Rock
HP                             50
Attack                        160
Defense                       110
Sp. Atk                       160
Sp. Def                       110
Speed                         110
Generation                      6
Legendary                    True
Name: 796, dtype: object
797 =---- Name          HoopaHoopa Confined
Type 1                    Psychic
HP                             80
Attack                        110
Defense                        60

In [29]:
for i,j in df.iterrows(): # here i is index and j is row data of each column
    print(j[['Name','HP']])  ## fecthing specific columns

Name    Bulbasaur
HP             45
Name: 0, dtype: object
Name    Ivysaur
HP           60
Name: 1, dtype: object
Name    Venusaur
HP            80
Name: 2, dtype: object
Name    VenusaurMega Venusaur
HP                         80
Name: 3, dtype: object
Name    Charmander
HP              39
Name: 4, dtype: object
Name    Charmeleon
HP              58
Name: 5, dtype: object
Name    Charizard
HP             78
Name: 6, dtype: object
Name    CharizardMega Charizard X
HP                             78
Name: 7, dtype: object
Name    CharizardMega Charizard Y
HP                             78
Name: 8, dtype: object
Name    Squirtle
HP            44
Name: 9, dtype: object
Name    Wartortle
HP             59
Name: 10, dtype: object
Name    Blastoise
HP             79
Name: 11, dtype: object
Name    BlastoiseMega Blastoise
HP                           79
Name: 12, dtype: object
Name    Caterpie
HP            45
Name: 13, dtype: object
Name    Metapod
HP           50
Name: 14, dtype: object
Name    Butterfree
HP              60
Name: 15, dtype: object
Name    Weedle
HP          40
Name: 16, dtype: object
Name    Kakuna
HP          45
Name: 17, dtype: object
Name    Beedrill
HP            65
Name: 18, dtype: object
Name    BeedrillMega Beedrill
HP                         65
Name: 19, dtype: object
Name    Pidgey
HP          40
Name: 20, dtype: object
Name    Pidgeotto
HP             63
Name: 21, dtype: object
Name    Pidgeot
HP           83
Name: 22, dtype: object
Name    PidgeotMega Pidgeot
HP                       83
Name: 23, dtype: object
Name    Rattata
HP           30
Name: 24, dtype: object
Name    Raticate
HP            55
Name: 25, dtype: object
Name    Spearow
HP           40
Name: 26, dtype: object
Name    Fearow
HP          65
Name: 27, dtype: object
Name    Ekans
HP         35
Name: 28, dtype: object
Name    Arbok
HP         60
Name: 29, dtype: object
Name    Pikachu
HP           35
Name: 30, dtype: object
Name    Raichu
HP          60
Name: 31, dtype: object
Name    Sandshrew
HP             50
Name: 32, dtype: object
Name    Sandslash
HP             75
Name: 33, dtype: object
Name    Nidoran (Female)
HP                    55
Name: 34, dtype: object
Name    Nidorina
HP            70
Name: 35, dtype: object
Name    Nidoqueen
HP             90
Name: 36, dtype: object
Name    Nidoran (Male)
HP                  46
Name: 37, dtype: object
Name    Nidorino
HP            61
Name: 38, dtype: object
Name    Nidoking
HP            81
Name: 39, dtype: object
Name    Clefairy
HP            70
Name: 40, dtype: object
Name    Clefable
HP            95
Name: 41, dtype: object
Name    Vulpix
HP          38
Name: 42, dtype: object
Name    Ninetales
HP             73
Name: 43, dtype: object
Name    Jigglypuff
HP             115
Name: 44, dtype: object
Name    Wigglytuff
HP             140
Name: 45, dtype: object
Name    Zubat
HP         40
Name: 46, dtype: object
Name    Golbat
HP          75
Name: 47, dtype: object
Name    Oddish
HP          45
Name: 48, dtype: object
Name    Gloom
HP         60
Name: 49, dtype: object
Name    Vileplume
HP             75
Name: 50, dtype: object
Name    Paras
HP         35
Name: 51, dtype: object
Name    Parasect
HP            60
Name: 52, dtype: object
Name    Venonat
HP           60
Name: 53, dtype: object
Name    Venomoth
HP            70
Name: 54, dtype: object
Name    Diglett
HP           10
Name: 55, dtype: object
Name    Dugtrio
HP           35
Name: 56, dtype: object
Name    Meowth
HP          40
Name: 57, dtype: object
Name    Persian
HP           65
Name: 58, dtype: object
Name    Psyduck
HP           50
Name: 59, dtype: object
Name    Golduck
HP           80
Name: 60, dtype: object
Name    Mankey
HP          40
Name: 61, dtype: object
Name    Primeape
HP            65
Name: 62, dtype: object
Name    Growlithe
HP             55
Name: 63, dtype: object
Name    Arcanine
HP            90
Name: 64, dtype: object
Name    Poliwag
HP           40
Name: 65, dtype: object
Name    Poliwhirl
HP             65
Name: 66, dtype: object
Name    Poliwrath
HP             90
Name: 67, dtype: object
Name    Abra
HP        25
Name: 68, dtype: object
Name    Kadabra
HP           40
Name: 69, dtype: object
Name    Alakazam
HP            55
Name: 70, dtype: object
Name    AlakazamMega Alakazam
HP                         55
Name: 71, dtype: object
Name    Machop
HP          70
Name: 72, dtype: object
Name    Machoke
HP           80
Name: 73, dtype: object
Name    Machamp
HP           90
Name: 74, dtype: object
Name    Bellsprout
HP              50
Name: 75, dtype: object
Name    Weepinbell
HP              65
Name: 76, dtype: object
Name    Victreebel
HP              80
Name: 77, dtype: object
Name    Tentacool
HP             40
Name: 78, dtype: object
Name    Tentacruel
HP              80
Name: 79, dtype: object
Name    Geodude
HP           40
Name: 80, dtype: object
Name    Graveler
HP            55
Name: 81, dtype: object
Name    Golem
HP         80
Name: 82, dtype: object
Name    Ponyta
HP          50
Name: 83, dtype: object
Name    Rapidash
HP            65
Name: 84, dtype: object
Name    Slowpoke
HP            90
Name: 85, dtype: object
Name    Slowbro
HP           95
Name: 86, dtype: object
Name    SlowbroMega Slowbro
HP                       95
Name: 87, dtype: object
Name    Magnemite
HP             25
Name: 88, dtype: object
Name    Magneton
HP            50
Name: 89, dtype: object
Name    Farfetch'd
HP              52
Name: 90, dtype: object
Name    Doduo
HP         35
Name: 91, dtype: object
Name    Dodrio
HP          60
Name: 92, dtype: object
Name    Seel
HP        65
Name: 93, dtype: object
Name    Dewgong
HP           90
Name: 94, dtype: object
Name    Grimer
HP          80
Name: 95, dtype: object
Name    Muk
HP      105
Name: 96, dtype: object
Name    Shellder
HP            30
Name: 97, dtype: object
Name    Cloyster
HP            50
Name: 98, dtype: object
Name    Gastly
HP          30
Name: 99, dtype: object
Name    Haunter
HP           45
Name: 100, dtype: object
Name    Gengar
HP          60
Name: 101, dtype: object
Name    GengarMega Gengar
HP                     60
Name: 102, dtype: object
Name    Onix
HP        35
Name: 103, dtype: object
Name    Drowzee
HP           60
Name: 104, dtype: object
Name    Hypno
HP         85
Name: 105, dtype: object
Name    Krabby
HP          30
Name: 106, dtype: object
Name    Kingler
HP           55
Name: 107, dtype: object
Name    Voltorb
HP           40
Name: 108, dtype: object
Name    Electrode
HP             60
Name: 109, dtype: object
Name    Exeggcute
HP             60
Name: 110, dtype: object
Name    Exeggutor
HP             95
Name: 111, dtype: object
Name    Cubone
HP          50
Name: 112, dtype: object
Name    Marowak
HP           60
Name: 113, dtype: object
Name    Hitmonlee
HP             50
Name: 114, dtype: object
Name    Hitmonchan
HP              50
Name: 115, dtype: object
Name    Lickitung
HP             90
Name: 116, dtype: object
Name    Koffing
HP           40
Name: 117, dtype: object
Name    Weezing
HP           65
Name: 118, dtype: object
Name    Rhyhorn
HP           80
Name: 119, dtype: object
Name    Rhydon
HP         105
Name: 120, dtype: object
Name    Chansey
HP          250
Name: 121, dtype: object
Name    Tangela
HP           65
Name: 122, dtype: object
Name    Kangaskhan
HP             105
Name: 123, dtype: object
Name    KangaskhanMega Kangaskhan
HP                            105
Name: 124, dtype: object
Name    Horsea
HP          30
Name: 125, dtype: object
Name    Seadra
HP          55
Name: 126, dtype: object
Name    Goldeen
HP           45
Name: 127, dtype: object
Name    Seaking
HP           80
Name: 128, dtype: object
Name    Staryu
HP          30
Name: 129, dtype: object
Name    Starmie
HP           60
Name: 130, dtype: object
Name    Mr. Mime
HP            40
Name: 131, dtype: object
Name    Scyther
HP           70
Name: 132, dtype: object
Name    Jynx
HP        65
Name: 133, dtype: object
Name    Electabuzz
HP              65
Name: 134, dtype: object
Name    Magmar
HP          65
Name: 135, dtype: object
Name    Pinsir
HP          65
Name: 136, dtype: object
Name    PinsirMega Pinsir
HP                     65
Name: 137, dtype: object
Name    Tauros
HP          75
Name: 138, dtype: object
Name    Magikarp
HP            20
Name: 139, dtype: object
Name    Gyarados
HP            95
Name: 140, dtype: object
Name    GyaradosMega Gyarados
HP                         95
Name: 141, dtype: object
Name    Lapras
HP         130
Name: 142, dtype: object
Name    Ditto
HP         48
Name: 143, dtype: object
Name    Eevee
HP         55
Name: 144, dtype: object
Name    Vaporeon
HP           130
Name: 145, dtype: object
Name    Jolteon
HP           65
Name: 146, dtype: object
Name    Flareon
HP           65
Name: 147, dtype: object
Name    Porygon
HP           65
Name: 148, dtype: object
Name    Omanyte
HP           35
Name: 149, dtype: object
Name    Omastar
HP           70
Name: 150, dtype: object
Name    Kabuto
HP          30
Name: 151, dtype: object
Name    Kabutops
HP            60
Name: 152, dtype: object
Name    Aerodactyl
HP              80
Name: 153, dtype: object
Name    AerodactylMega Aerodactyl
HP                             80
Name: 154, dtype: object
Name    Snorlax
HP          160
Name: 155, dtype: object
Name    Articuno
HP            90
Name: 156, dtype: object
Name    Zapdos
HP          90

Name: 157, dtype: object
Name    Moltres
HP           90
Name: 158, dtype: object
Name    Dratini
HP           41
Name: 159, dtype: object
Name    Dragonair
HP             61
Name: 160, dtype: object
Name    Dragonite
HP             91
Name: 161, dtype: object
Name    Mewtwo
HP         106
Name: 162, dtype: object
Name    MewtwoMega Mewtwo X
HP                      106
Name: 163, dtype: object
Name    MewtwoMega Mewtwo Y
HP                      106
Name: 164, dtype: object
Name    Mew
HP      100
Name: 165, dtype: object
Name    Chikorita
HP             45
Name: 166, dtype: object
Name    Bayleef
HP           60
Name: 167, dtype: object
Name    Meganium
HP            80
Name: 168, dtype: object
Name    Cyndaquil
HP             39
Name: 169, dtype: object
Name    Quilava
HP           58
Name: 170, dtype: object
Name    Typhlosion
HP              78
Name: 171, dtype: object
Name    Totodile
HP            50
Name: 172, dtype: object
Name    Croconaw
HP            65
Name: 173, dtype: object
Name    Feraligatr
HP              85
Name: 174, dtype: object
Name    Sentret
HP           35
Name: 175, dtype: object
Name    Furret
HP          85
Name: 176, dtype: object
Name    Hoothoot
HP            60
Name: 177, dtype: object
Name    Noctowl
HP          100
Name: 178, dtype: object
Name    Ledyba
HP          40
Name: 179, dtype: object
Name    Ledian
HP          55
Name: 180, dtype: object
Name    Spinarak
HP            40
Name: 181, dtype: object
Name    Ariados
HP           70
Name: 182, dtype: object
Name    Crobat
HP          85
Name: 183, dtype: object
Name    Chinchou
HP            75
Name: 184, dtype: object
Name    Lanturn
HP          125
Name: 185, dtype: object
Name    Pichu
HP         20
Name: 186, dtype: object
Name    Cleffa
HP          50
Name: 187, dtype: object
Name    Igglybuff
HP             90
Name: 188, dtype: object
Name    Togepi
HP          35
Name: 189, dtype: object
Name    Togetic
HP           55
Name: 190, dtype: object
Name    Natu
HP        40
Name: 191, dtype: object
Name    Xatu
HP        65
Name: 192, dtype: object
Name    Mareep
HP          55
Name: 193, dtype: object
Name    Flaaffy
HP           70
Name: 194, dtype: object
Name    Ampharos
HP            90
Name: 195, dtype: object
Name    AmpharosMega Ampharos
HP                         90
Name: 196, dtype: object
Name    Bellossom
HP             75
Name: 197, dtype: object
Name    Marill
HP          70
Name: 198, dtype: object
Name    Azumarill
HP            100
Name: 199, dtype: object
Name    Sudowoodo
HP             70
Name: 200, dtype: object
Name    Politoed
HP            90
Name: 201, dtype: object
Name    Hoppip
HP          35
Name: 202, dtype: object
Name    Skiploom
HP            55
Name: 203, dtype: object
Name    Jumpluff
HP            75
Name: 204, dtype: object
Name    Aipom
HP         55
Name: 205, dtype: object
Name    Sunkern
HP           30
Name: 206, dtype: object
Name    Sunflora
HP            75
Name: 207, dtype: object
Name    Yanma
HP         65
Name: 208, dtype: object
Name    Wooper
HP          55
Name: 209, dtype: object
Name    Quagsire
HP            95
Name: 210, dtype: object
Name    Espeon
HP          65
Name: 211, dtype: object
Name    Umbreon
HP           95
Name: 212, dtype: object
Name    Murkrow
HP           60
Name: 213, dtype: object
Name    Slowking
HP            95
Name: 214, dtype: object
Name    Misdreavus
HP              60
Name: 215, dtype: object
Name    Unown
HP         48
Name: 216, dtype: object
Name    Wobbuffet
HP            190
Name: 217, dtype: object
Name    Girafarig
HP             70
Name: 218, dtype: object
Name    Pineco
HP          50
Name: 219, dtype: object
Name    Forretress
HP              75
Name: 220, dtype: object
Name    Dunsparce
HP            100
Name: 221, dtype: object
Name    Gligar
HP          65
Name: 222, dtype: object
Name    Steelix
HP           75
Name: 223, dtype: object
Name    SteelixMega Steelix
HP                       75
Name: 224, dtype: object
Name    Snubbull
HP            60
Name: 225, dtype: object
Name    Granbull
HP            90
Name: 226, dtype: object
Name    Qwilfish
HP            65
Name: 227, dtype: object
Name    Scizor
HP          70
Name: 228, dtype: object
Name    ScizorMega Scizor
HP                     70
Name: 229, dtype: object
Name    Shuckle
HP           20
Name: 230, dtype: object
Name    Heracross
HP             80
Name: 231, dtype: object
Name    HeracrossMega Heracross
HP                           80
Name: 232, dtype: object
Name    Sneasel
HP           55
Name: 233, dtype: object
Name    Teddiursa
HP             60
Name: 234, dtype: object
Name    Ursaring
HP            90
Name: 235, dtype: object
Name    Slugma
HP          40
Name: 236, dtype: object
Name    Magcargo
HP            50
Name: 237, dtype: object
Name    Swinub
HP          50
Name: 238, dtype: object
Name    Piloswine
HP            100
Name: 239, dtype: object
Name    Corsola
HP           55
Name: 240, dtype: object
Name    Remoraid
HP            35
Name: 241, dtype: object
Name    Octillery
HP             75
Name: 242, dtype: object
Name    Delibird
HP            45
Name: 243, dtype: object
Name    Mantine
HP           65
Name: 244, dtype: object
Name    Skarmory
HP            65
Name: 245, dtype: object
Name    Houndour
HP            45
Name: 246, dtype: object
Name    Houndoom
HP            75
Name: 247, dtype: object
Name    HoundoomMega Houndoom
HP                         75
Name: 248, dtype: object
Name    Kingdra
HP           75
Name: 249, dtype: object
Name    Phanpy
HP          90
Name: 250, dtype: object
Name    Donphan
HP           90
Name: 251, dtype: object
Name    Porygon2
HP            85
Name: 252, dtype: object
Name    Stantler
HP            73
Name: 253, dtype: object
Name    Smeargle
HP            55
Name: 254, dtype: object
Name    Tyrogue
HP           35
Name: 255, dtype: object
Name    Hitmontop
HP             50
Name: 256, dtype: object
Name    Smoochum
HP            45
Name: 257, dtype: object
Name    Elekid
HP          45
Name: 258, dtype: object
Name    Magby
HP         45
Name: 259, dtype: object
Name    Miltank
HP           95
Name: 260, dtype: object
Name    Blissey
HP          255
Name: 261, dtype: object
Name    Raikou
HP          90
Name: 262, dtype: object
Name    Entei
HP        115
Name: 263, dtype: object
Name    Suicune
HP          100
Name: 264, dtype: object
Name    Larvitar
HP            50
Name: 265, dtype: object
Name    Pupitar
HP           70
Name: 266, dtype: object
Name    Tyranitar
HP            100
Name: 267, dtype: object
Name    TyranitarMega Tyranitar
HP                          100
Name: 268, dtype: object
Name    Lugia
HP        106
Name: 269, dtype: object
Name    Ho-oh
HP        106
Name: 270, dtype: object
Name    Celebi
HP         100
Name: 271, dtype: object
Name    Treecko
HP           40
Name: 272, dtype: object
Name    Grovyle
HP           50
Name: 273, dtype: object
Name    Sceptile
HP            70
Name: 274, dtype: object
Name    SceptileMega Sceptile
HP                         70
Name: 275, dtype: object
Name    Torchic
HP           45
Name: 276, dtype: object
Name    Combusken
HP             60
Name: 277, dtype: object
Name    Blaziken
HP            80
Name: 278, dtype: object
Name    BlazikenMega Blaziken
HP                         80
Name: 279, dtype: object
Name    Mudkip
HP          50
Name: 280, dtype: object
Name    Marshtomp
HP             70
Name: 281, dtype: object
Name    Swampert
HP           100
Name: 282, dtype: object
Name    SwampertMega Swampert
HP                        100
Name: 283, dtype: object
Name    Poochyena
HP             35
Name: 284, dtype: object
Name    Mightyena
HP             70
Name: 285, dtype: object
Name    Zigzagoon
HP             38
Name: 286, dtype: object
Name    Linoone
HP           78
Name: 287, dtype: object
Name    Wurmple
HP           45
Name: 288, dtype: object
Name    Silcoon
HP           50
Name: 289, dtype: object
Name    Beautifly
HP             60
Name: 290, dtype: object
Name    Cascoon
HP           50
Name: 291, dtype: object
Name    Dustox
HP          60
Name: 292, dtype: object
Name    Lotad
HP         40
Name: 293, dtype: object
Name    Lombre
HP          60
Name: 294, dtype: object
Name    Ludicolo
HP            80
Name: 295, dtype: object
Name    Seedot
HP          40
Name: 296, dtype: object
Name    Nuzleaf
HP           70
Name: 297, dtype: object
Name    Shiftry
HP           90
Name: 298, dtype: object
Name    Taillow
HP           40
Name: 299, dtype: object
Name    Swellow
HP           60
Name: 300, dtype: object
Name    Wingull
HP           40
Name: 301, dtype: object
Name    Pelipper
HP            60
Name: 302, dtype: object
Name    Ralts
HP         28
Name: 303, dtype: object
Name    Kirlia
HP          38
Name: 304, dtype: object
Name    Gardevoir
HP             68
Name: 305, dtype: object
Name    GardevoirMega Gardevoir
HP                           68
Name: 306, dtype: object
Name    Surskit
HP           40
Name: 307, dtype: object
Name    Masquerain
HP              70
Name: 308, dtype: object
Name    Shroomish
HP             60
Name: 309, dtype: object

Name    Breloom
HP           60
Name: 310, dtype: object
Name    Slakoth
HP           60
Name: 311, dtype: object
Name    Vigoroth
HP            80
Name: 312, dtype: object
Name    Slaking
HP          150
Name: 313, dtype: object
Name    Nincada
HP           31
Name: 314, dtype: object
Name    Ninjask
HP           61
Name: 315, dtype: object
Name    Shedinja
HP             1
Name: 316, dtype: object
Name    Whismur
HP           64
Name: 317, dtype: object
Name    Loudred
HP           84
Name: 318, dtype: object
Name    Exploud
HP          104
Name: 319, dtype: object
Name    Makuhita
HP            72
Name: 320, dtype: object
Name    Hariyama
HP           144
Name: 321, dtype: object
Name    Azurill
HP           50
Name: 322, dtype: object
Name    Nosepass
HP            30
Name: 323, dtype: object
Name    Skitty
HP          50
Name: 324, dtype: object
Name    Delcatty
HP            70
Name: 325, dtype: object
Name    Sableye
HP           50
Name: 326, dtype: object
Name    SableyeMega Sableye
HP                       50
Name: 327, dtype: object
Name    Mawile
HP          50
Name: 328, dtype: object
Name    MawileMega Mawile
HP                     50
Name: 329, dtype: object
Name    Aron
HP        50
Name: 330, dtype: object
Name    Lairon
HP          60
Name: 331, dtype: object
Name    Aggron
HP          70
Name: 332, dtype: object
Name    AggronMega Aggron
HP                     70
Name: 333, dtype: object
Name    Meditite
HP            30
Name: 334, dtype: object
Name    Medicham
HP            60
Name: 335, dtype: object
Name    MedichamMega Medicham
HP                         60
Name: 336, dtype: object
Name    Electrike
HP             40
Name: 337, dtype: object
Name    Manectric
HP             70
Name: 338, dtype: object
Name    ManectricMega Manectric
HP                           70
Name: 339, dtype: object
Name    Plusle
HP          60
Name: 340, dtype: object
Name    Minun
HP         60
Name: 341, dtype: object
Name    Volbeat
HP           65
Name: 342, dtype: object
Name    Illumise
HP            65
Name: 343, dtype: object
Name    Roselia
HP           50
Name: 344, dtype: object
Name    Gulpin
HP          70
Name: 345, dtype: object
Name    Swalot
HP         100
Name: 346, dtype: object
Name    Carvanha
HP            45
Name: 347, dtype: object
Name    Sharpedo
HP            70
Name: 348, dtype: object
Name    SharpedoMega Sharpedo
HP                         70
Name: 349, dtype: object
Name    Wailmer
HP          130
Name: 350, dtype: object
Name    Wailord
HP          170
Name: 351, dtype: object
Name    Numel
HP         60
Name: 352, dtype: object
Name    Camerupt
HP            70
Name: 353, dtype: object
Name    CameruptMega Camerupt
HP                         70
Name: 354, dtype: object
Name    Torkoal
HP           70
Name: 355, dtype: object
Name    Spoink
HP          60
Name: 356, dtype: object
Name    Grumpig
HP           80
Name: 357, dtype: object
Name    Spinda
HP          60
Name: 358, dtype: object
Name    Trapinch
HP            45
Name: 359, dtype: object
Name    Vibrava
HP           50
Name: 360, dtype: object
Name    Flygon
HP          80
Name: 361, dtype: object
Name    Cacnea
HP          50
Name: 362, dtype: object
Name    Cacturne
HP            70
Name: 363, dtype: object
Name    Swablu
HP          45
Name: 364, dtype: object
Name    Altaria
HP           75
Name: 365, dtype: object
Name    AltariaMega Altaria
HP                       75
Name: 366, dtype: object
Name    Zangoose
HP            73
Name: 367, dtype: object
Name    Seviper
HP           73
Name: 368, dtype: object
Name    Lunatone
HP            70
Name: 369, dtype: object
Name    Solrock
HP           70
Name: 370, dtype: object
Name    Barboach
HP            50
Name: 371, dtype: object
Name    Whiscash
HP           110
Name: 372, dtype: object
Name    Corphish
HP            43
Name: 373, dtype: object
Name    Crawdaunt
HP             63
Name: 374, dtype: object
Name    Baltoy
HP          40
Name: 375, dtype: object
Name    Claydol
HP           60
Name: 376, dtype: object
Name    Lileep
HP          66
Name: 377, dtype: object
Name    Cradily
HP           86
Name: 378, dtype: object
Name    Anorith
HP           45
Name: 379, dtype: object
Name    Armaldo
HP           75
Name: 380, dtype: object
Name    Feebas
HP          20
Name: 381, dtype: object
Name    Milotic
HP           95
Name: 382, dtype: object
Name    Castform
HP            70
Name: 383, dtype: object
Name    Kecleon
HP           60
Name: 384, dtype: object
Name    Shuppet
HP           44
Name: 385, dtype: object
Name    Banette
HP           64
Name: 386, dtype: object
Name    BanetteMega Banette
HP                       64
Name: 387, dtype: object
Name    Duskull
HP           20
Name: 388, dtype: object
Name    Dusclops
HP            40
Name: 389, dtype: object
Name    Tropius
HP           99
Name: 390, dtype: object
Name    Chimecho
HP            65
Name: 391, dtype: object
Name    Absol
HP         65
Name: 392, dtype: object
Name    AbsolMega Absol
HP                   65
Name: 393, dtype: object
Name    Wynaut
HP          95
Name: 394, dtype: object
Name    Snorunt
HP           50
Name: 395, dtype: object
Name    Glalie
HP          80
Name: 396, dtype: object
Name    GlalieMega Glalie
HP                     80
Name: 397, dtype: object
Name    Spheal
HP          70
Name: 398, dtype: object
Name    Sealeo
HP          90
Name: 399, dtype: object
Name    Walrein
HP          110
Name: 400, dtype: object
Name    Clamperl
HP            35
Name: 401, dtype: object
Name    Huntail
HP           55
Name: 402, dtype: object
Name    Gorebyss
HP            55
Name: 403, dtype: object
Name    Relicanth
HP            100
Name: 404, dtype: object
Name    Luvdisc
HP           43
Name: 405, dtype: object
Name    Bagon
HP         45
Name: 406, dtype: object
Name    Shelgon
HP           65
Name: 407, dtype: object
Name    Salamence
HP             95
Name: 408, dtype: object
Name    SalamenceMega Salamence
HP                           95
Name: 409, dtype: object
Name    Beldum
HP          40
Name: 410, dtype: object
Name    Metang
HP          60
Name: 411, dtype: object
Name    Metagross
HP             80
Name: 412, dtype: object
Name    MetagrossMega Metagross
HP                           80
Name: 413, dtype: object
Name    Regirock
HP            80
Name: 414, dtype: object
Name    Regice
HP          80
Name: 415, dtype: object
Name    Registeel
HP             80
Name: 416, dtype: object
Name    Latias
HP          80
Name: 417, dtype: object
Name    LatiasMega Latias
HP                     80
Name: 418, dtype: object
Name    Latios
HP          80
Name: 419, dtype: object
Name    LatiosMega Latios
HP                     80
Name: 420, dtype: object
Name    Kyogre
HP         100
Name: 421, dtype: object
Name    KyogrePrimal Kyogre
HP                      100
Name: 422, dtype: object
Name    Groudon
HP          100
Name: 423, dtype: object
Name    GroudonPrimal Groudon
HP                        100
Name: 424, dtype: object
Name    Rayquaza
HP           105
Name: 425, dtype: object
Name    RayquazaMega Rayquaza
HP                        105
Name: 426, dtype: object
Name    Jirachi
HP          100
Name: 427, dtype: object
Name    DeoxysNormal Forme
HP                      50
Name: 428, dtype: object
Name    DeoxysAttack Forme
HP                      50
Name: 429, dtype: object
Name    DeoxysDefense Forme
HP                       50
Name: 430, dtype: object
Name    DeoxysSpeed Forme
HP                     50
Name: 431, dtype: object
Name    Turtwig
HP           55
Name: 432, dtype: object
Name    Grotle
HP          75
Name: 433, dtype: object
Name    Torterra
HP            95
Name: 434, dtype: object
Name    Chimchar
HP            44
Name: 435, dtype: object
Name    Monferno
HP            64
Name: 436, dtype: object
Name    Infernape
HP             76
Name: 437, dtype: object
Name    Piplup
HP          53
Name: 438, dtype: object
Name    Prinplup
HP            64
Name: 439, dtype: object
Name    Empoleon
HP            84
Name: 440, dtype: object
Name    Starly
HP          40
Name: 441, dtype: object
Name    Staravia
HP            55
Name: 442, dtype: object
Name    Staraptor
HP             85
Name: 443, dtype: object
Name    Bidoof
HP          59
Name: 444, dtype: object
Name    Bibarel
HP           79
Name: 445, dtype: object
Name    Kricketot
HP             37
Name: 446, dtype: object
Name    Kricketune
HP              77
Name: 447, dtype: object
Name    Shinx
HP         45
Name: 448, dtype: object
Name    Luxio
HP         60
Name: 449, dtype: object
Name    Luxray
HP          80
Name: 450, dtype: object
Name    Budew
HP         40
Name: 451, dtype: object
Name    Roserade
HP            60
Name: 452, dtype: object
Name    Cranidos
HP            67
Name: 453, dtype: object
Name    Rampardos
HP             97
Name: 454, dtype: object
Name    Shieldon
HP            30
Name: 455, dtype: object
Name    Bastiodon
HP             60
Name: 456, dtype: object
Name    Burmy
HP         40
Name: 457, dtype: object
Name    WormadamPlant Cloak
HP                       60
Name: 458, dtype: object
Name    WormadamSandy Cloak
HP                       60
Name: 459, dtype: object
Name    WormadamTrash Cloak
HP                       60
Name: 460, dtype: object
Name    Mothim
HP          70
Name: 461, dtype: object
Name    Combee
HP          30
Name: 462, dtype: object
Name    Vespiquen
HP             70
Name: 463, dtype: object
Name    Pachirisu
HP             60
Name: 464, dtype: object
Name    Buizel
HP          55
Name: 465, dtype: object
Name    Floatzel
HP            85
Name: 466, dtype: object
Name    Cherubi
HP           45
Name: 467, dtype: object
Name    Cherrim
HP           70
Name: 468, dtype: object
Name    Shellos
HP           76
Name: 469, dtype: object
Name    Gastrodon
HP            111
Name: 470, dtype: object
Name    Ambipom
HP           75
Name: 471, dtype: object
Name    Drifloon
HP            90
Name: 472, dtype: object
Name    Drifblim
HP           150
Name: 473, dtype: object
Name    Buneary
HP           55
Name: 474, dtype: object
Name    Lopunny
HP           65
Name: 475, dtype: object
Name    LopunnyMega Lopunny
HP                       65
Name: 476, dtype: object
Name    Mismagius
HP             60
Name: 477, dtype: object
Name    Honchkrow
HP            100
Name: 478, dtype: object
Name    Glameow
HP           49
Name: 479, dtype: object
Name    Purugly
HP           71
Name: 480, dtype: object
Name    Chingling
HP             45
Name: 481, dtype: object
Name    Stunky
HP          63
Name: 482, dtype: object
Name    Skuntank
HP           103
Name: 483, dtype: object
Name    Bronzor
HP           57
Name: 484, dtype: object
Name    Bronzong
HP            67
Name: 485, dtype: object
Name    Bonsly
HP          50
Name: 486, dtype: object
Name    Mime Jr.
HP            20
Name: 487, dtype: object
Name    Happiny
HP          100
Name: 488, dtype: object
Name    Chatot
HP          76
Name: 489, dtype: object
Name    Spiritomb
HP             50
Name: 490, dtype: object
Name    Gible
HP         58
Name: 491, dtype: object
Name    Gabite
HP          68
Name: 492, dtype: object
Name    Garchomp
HP           108
Name: 493, dtype: object
Name    GarchompMega Garchomp
HP                        108
Name: 494, dtype: object
Name    Munchlax
HP           135
Name: 495, dtype: object
Name    Riolu
HP         40
Name: 496, dtype: object
Name    Lucario
HP           70
Name: 497, dtype: object
Name    LucarioMega Lucario
HP                       70
Name: 498, dtype: object
Name    Hippopotas
HP              68
Name: 499, dtype: object
Name    Hippowdon
HP            108
Name: 500, dtype: object
Name    Skorupi
HP           40
Name: 501, dtype: object
Name    Drapion
HP           70
Name: 502, dtype: object
Name    Croagunk
HP            48
Name: 503, dtype: object
Name    Toxicroak
HP             83
Name: 504, dtype: object
Name    Carnivine
HP             74
Name: 505, dtype: object
Name    Finneon
HP           49
Name: 506, dtype: object

Name    Lumineon
HP            69
Name: 507, dtype: object
Name    Mantyke
HP           45
Name: 508, dtype: object
Name    Snover
HP          60
Name: 509, dtype: object
Name    Abomasnow
HP             90
Name: 510, dtype: object
Name    AbomasnowMega Abomasnow
HP                           90
Name: 511, dtype: object
Name    Weavile
HP           70
Name: 512, dtype: object
Name    Magnezone
HP             70
Name: 513, dtype: object
Name    Lickilicky
HP             110
Name: 514, dtype: object
Name    Rhyperior
HP            115
Name: 515, dtype: object
Name    Tangrowth
HP            100
Name: 516, dtype: object
Name    Electivire
HP              75
Name: 517, dtype: object
Name    Magmortar
HP             75
Name: 518, dtype: object
Name    Togekiss
HP            85
Name: 519, dtype: object
Name    Yanmega
HP           86
Name: 520, dtype: object
Name    Leafeon
HP           65
Name: 521, dtype: object
Name    Glaceon
HP           65
Name: 522, dtype: object
Name    Gliscor
HP           75
Name: 523, dtype: object
Name    Mamoswine
HP            110
Name: 524, dtype: object
Name    Porygon-Z
HP             85
Name: 525, dtype: object
Name    Gallade
HP           68
Name: 526, dtype: object
Name    GalladeMega Gallade
HP                       68
Name: 527, dtype: object
Name    Probopass
HP             60
Name: 528, dtype: object
Name    Dusknoir
HP            45
Name: 529, dtype: object
Name    Froslass
HP            70
Name: 530, dtype: object
Name    Rotom
HP         50
Name: 531, dtype: object
Name    RotomHeat Rotom
HP                   50
Name: 532, dtype: object
Name    RotomWash Rotom
HP                   50
Name: 533, dtype: object
Name    RotomFrost Rotom
HP                    50
Name: 534, dtype: object
Name    RotomFan Rotom
HP                  50
Name: 535, dtype: object
Name    RotomMow Rotom
HP                  50
Name: 536, dtype: object
Name    Uxie
HP        75
Name: 537, dtype: object
Name    Mesprit
HP           80
Name: 538, dtype: object
Name    Azelf
HP         75
Name: 539, dtype: object
Name    Dialga
HP         100
Name: 540, dtype: object
Name    Palkia
HP          90
Name: 541, dtype: object
Name    Heatran
HP           91
Name: 542, dtype: object
Name    Regigigas
HP            110
Name: 543, dtype: object
Name    GiratinaAltered Forme
HP                        150
Name: 544, dtype: object
Name    GiratinaOrigin Forme
HP                       150
Name: 545, dtype: object
Name    Cresselia
HP            120
Name: 546, dtype: object
Name    Phione
HP          80
Name: 547, dtype: object
Name    Manaphy
HP          100
Name: 548, dtype: object
Name    Darkrai
HP           70
Name: 549, dtype: object
Name    ShayminLand Forme
HP                    100
Name: 550, dtype: object
Name    ShayminSky Forme
HP                   100
Name: 551, dtype: object
Name    Arceus
HP         120
Name: 552, dtype: object
Name    Victini
HP          100
Name: 553, dtype: object
Name    Snivy
HP         45
Name: 554, dtype: object
Name    Servine
HP           60
Name: 555, dtype: object
Name    Serperior
HP             75
Name: 556, dtype: object
Name    Tepig
HP         65
Name: 557, dtype: object
Name    Pignite
HP           90
Name: 558, dtype: object
Name    Emboar
HP         110
Name: 559, dtype: object
Name    Oshawott
HP            55
Name: 560, dtype: object
Name    Dewott
HP          75
Name: 561, dtype: object
Name    Samurott
HP            95
Name: 562, dtype: object
Name    Patrat
HP          45
Name: 563, dtype: object
Name    Watchog
HP           60
Name: 564, dtype: object
Name    Lillipup
HP            45
Name: 565, dtype: object
Name    Herdier
HP           65
Name: 566, dtype: object
Name    Stoutland
HP             85
Name: 567, dtype: object
Name    Purrloin
HP            41
Name: 568, dtype: object
Name    Liepard
HP           64
Name: 569, dtype: object
Name    Pansage
HP           50
Name: 570, dtype: object
Name    Simisage
HP            75
Name: 571, dtype: object
Name    Pansear
HP           50
Name: 572, dtype: object
Name    Simisear
HP            75
Name: 573, dtype: object
Name    Panpour
HP           50
Name: 574, dtype: object
Name    Simipour
HP            75
Name: 575, dtype: object
Name    Munna
HP         76
Name: 576, dtype: object
Name    Musharna
HP           116
Name: 577, dtype: object
Name    Pidove
HP          50
Name: 578, dtype: object
Name    Tranquill
HP             62
Name: 579, dtype: object
Name    Unfezant
HP            80
Name: 580, dtype: object
Name    Blitzle
HP           45
Name: 581, dtype: object
Name    Zebstrika
HP             75
Name: 582, dtype: object
Name    Roggenrola
HP              55
Name: 583, dtype: object
Name    Boldore
HP           70
Name: 584, dtype: object
Name    Gigalith
HP            85
Name: 585, dtype: object
Name    Woobat
HP          55
Name: 586, dtype: object
Name    Swoobat
HP           67
Name: 587, dtype: object
Name    Drilbur
HP           60
Name: 588, dtype: object
Name    Excadrill
HP            110
Name: 589, dtype: object
Name    Audino
HP         103
Name: 590, dtype: object
Name    AudinoMega Audino
HP                    103
Name: 591, dtype: object
Name    Timburr
HP           75
Name: 592, dtype: object
Name    Gurdurr
HP           85
Name: 593, dtype: object
Name    Conkeldurr
HP             105
Name: 594, dtype: object
Name    Tympole
HP           50
Name: 595, dtype: object
Name    Palpitoad
HP             75
Name: 596, dtype: object
Name    Seismitoad
HP             105
Name: 597, dtype: object
Name    Throh
HP        120
Name: 598, dtype: object
Name    Sawk
HP        75
Name: 599, dtype: object
Name    Sewaddle
HP            45
Name: 600, dtype: object
Name    Swadloon
HP            55
Name: 601, dtype: object
Name    Leavanny
HP            75
Name: 602, dtype: object
Name    Venipede
HP            30
Name: 603, dtype: object
Name    Whirlipede
HP              40
Name: 604, dtype: object
Name    Scolipede
HP             60
Name: 605, dtype: object
Name    Cottonee
HP            40
Name: 606, dtype: object
Name    Whimsicott
HP              60
Name: 607, dtype: object
Name    Petilil
HP           45
Name: 608, dtype: object
Name    Lilligant
HP             70
Name: 609, dtype: object
Name    Basculin
HP            70
Name: 610, dtype: object
Name    Sandile
HP           50
Name: 611, dtype: object
Name    Krokorok
HP            60
Name: 612, dtype: object
Name    Krookodile
HP              95
Name: 613, dtype: object
Name    Darumaka
HP            70
Name: 614, dtype: object
Name    DarmanitanStandard Mode
HP                          105
Name: 615, dtype: object
Name    DarmanitanZen Mode
HP                     105
Name: 616, dtype: object
Name    Maractus
HP            75
Name: 617, dtype: object
Name    Dwebble
HP           50
Name: 618, dtype: object
Name    Crustle
HP           70
Name: 619, dtype: object
Name    Scraggy
HP           50
Name: 620, dtype: object
Name    Scrafty
HP           65
Name: 621, dtype: object
Name    Sigilyph
HP            72
Name: 622, dtype: object
Name    Yamask
HP          38
Name: 623, dtype: object
Name    Cofagrigus
HP              58
Name: 624, dtype: object
Name    Tirtouga
HP            54
Name: 625, dtype: object
Name    Carracosta
HP              74
Name: 626, dtype: object
Name    Archen
HP          55
Name: 627, dtype: object
Name    Archeops
HP            75
Name: 628, dtype: object
Name    Trubbish
HP            50
Name: 629, dtype: object
Name    Garbodor
HP            80
Name: 630, dtype: object
Name    Zorua
HP         40
Name: 631, dtype: object
Name    Zoroark
HP           60
Name: 632, dtype: object
Name    Minccino
HP            55
Name: 633, dtype: object
Name    Cinccino
HP            75
Name: 634, dtype: object
Name    Gothita
HP           45
Name: 635, dtype: object
Name    Gothorita
HP             60
Name: 636, dtype: object
Name    Gothitelle
HP              70
Name: 637, dtype: object
Name    Solosis
HP           45
Name: 638, dtype: object
Name    Duosion
HP           65
Name: 639, dtype: object
Name    Reuniclus
HP            110
Name: 640, dtype: object
Name    Ducklett
HP            62
Name: 641, dtype: object
Name    Swanna
HP          75
Name: 642, dtype: object
Name    Vanillite
HP             36
Name: 643, dtype: object
Name    Vanillish
HP             51
Name: 644, dtype: object
Name    Vanilluxe
HP             71
Name: 645, dtype: object
Name    Deerling
HP            60
Name: 646, dtype: object
Name    Sawsbuck
HP            80
Name: 647, dtype: object
Name    Emolga
HP          55
Name: 648, dtype: object
Name    Karrablast
HP              50
Name: 649, dtype: object
Name    Escavalier
HP              70
Name: 650, dtype: object
Name    Foongus
HP           69
Name: 651, dtype: object
Name    Amoonguss
HP            114
Name: 652, dtype: object
Name    Frillish
HP            55
Name: 653, dtype: object
Name    Jellicent
HP            100
Name: 654, dtype: object
Name    Alomomola
HP            165
Name: 655, dtype: object
Name    Joltik
HP          50
Name: 656, dtype: object
Name    Galvantula
HP              70
Name: 657, dtype: object
Name    Ferroseed
HP             44
Name: 658, dtype: object
Name    Ferrothorn
HP              74
Name: 659, dtype: object
Name    Klink
HP         40
Name: 660, dtype: object
Name    Klang
HP         60
Name: 661, dtype: object
Name    Klinklang
HP             60
Name: 662, dtype: object
Name    Tynamo
HP          35
Name: 663, dtype: object
Name    Eelektrik
HP             65
Name: 664, dtype: object
Name    Eelektross
HP              85

Name: 665, dtype: object
Name    Elgyem
HP          55
Name: 666, dtype: object
Name    Beheeyem
HP            75
Name: 667, dtype: object
Name    Litwick
HP           50
Name: 668, dtype: object
Name    Lampent
HP           60
Name: 669, dtype: object
Name    Chandelure
HP              60
Name: 670, dtype: object
Name    Axew
HP        46
Name: 671, dtype: object
Name    Fraxure
HP           66
Name: 672, dtype: object
Name    Haxorus
HP           76
Name: 673, dtype: object
Name    Cubchoo
HP           55
Name: 674, dtype: object
Name    Beartic
HP           95
Name: 675, dtype: object
Name    Cryogonal
HP             70
Name: 676, dtype: object
Name    Shelmet
HP           50
Name: 677, dtype: object
Name    Accelgor
HP            80
Name: 678, dtype: object
Name    Stunfisk
HP           109
Name: 679, dtype: object
Name    Mienfoo
HP           45
Name: 680, dtype: object
Name    Mienshao
HP            65
Name: 681, dtype: object
Name    Druddigon
HP             77
Name: 682, dtype: object
Name    Golett
HP          59
Name: 683, dtype: object
Name    Golurk
HP          89
Name: 684, dtype: object
Name    Pawniard
HP            45
Name: 685, dtype: object
Name    Bisharp
HP           65
Name: 686, dtype: object
Name    Bouffalant
HP              95
Name: 687, dtype: object
Name    Rufflet
HP           70
Name: 688, dtype: object
Name    Braviary
HP           100
Name: 689, dtype: object
Name    Vullaby
HP           70
Name: 690, dtype: object
Name    Mandibuzz
HP            110
Name: 691, dtype: object
Name    Heatmor
HP           85
Name: 692, dtype: object
Name    Durant
HP          58
Name: 693, dtype: object
Name    Deino
HP         52
Name: 694, dtype: object
Name    Zweilous
HP            72
Name: 695, dtype: object
Name    Hydreigon
HP             92
Name: 696, dtype: object
Name    Larvesta
HP            55
Name: 697, dtype: object
Name    Volcarona
HP             85
Name: 698, dtype: object
Name    Cobalion
HP            91
Name: 699, dtype: object
Name    Terrakion
HP             91
Name: 700, dtype: object
Name    Virizion
HP            91
Name: 701, dtype: object
Name    TornadusIncarnate Forme
HP                           79
Name: 702, dtype: object
Name    TornadusTherian Forme
HP                         79
Name: 703, dtype: object
Name    ThundurusIncarnate Forme
HP                            79
Name: 704, dtype: object
Name    ThundurusTherian Forme
HP                          79
Name: 705, dtype: object
Name    Reshiram
HP           100
Name: 706, dtype: object
Name    Zekrom
HP         100
Name: 707, dtype: object
Name    LandorusIncarnate Forme
HP                           89
Name: 708, dtype: object
Name    LandorusTherian Forme
HP                         89
Name: 709, dtype: object
Name    Kyurem
HP         125
Name: 710, dtype: object
Name    KyuremBlack Kyurem
HP                     125
Name: 711, dtype: object
Name    KyuremWhite Kyurem
HP                     125
Name: 712, dtype: object
Name    KeldeoOrdinary Forme
HP                        91
Name: 713, dtype: object
Name    KeldeoResolute Forme
HP                        91
Name: 714, dtype: object
Name    MeloettaAria Forme
HP                     100
Name: 715, dtype: object
Name    MeloettaPirouette Forme
HP                          100
Name: 716, dtype: object
Name    Genesect
HP            71
Name: 717, dtype: object
Name    Chespin
HP           56
Name: 718, dtype: object
Name    Quilladin
HP             61
Name: 719, dtype: object
Name    Chesnaught
HP              88
Name: 720, dtype: object
Name    Fennekin
HP            40
Name: 721, dtype: object
Name    Braixen
HP           59
Name: 722, dtype: object
Name    Delphox
HP           75
Name: 723, dtype: object
Name    Froakie
HP           41
Name: 724, dtype: object
Name    Frogadier
HP             54
Name: 725, dtype: object
Name    Greninja
HP            72
Name: 726, dtype: object
Name    Bunnelby
HP            38
Name: 727, dtype: object
Name    Diggersby
HP             85
Name: 728, dtype: object
Name    Fletchling
HP              45
Name: 729, dtype: object
Name    Fletchinder
HP               62
Name: 730, dtype: object
Name    Talonflame
HP              78
Name: 731, dtype: object
Name    Scatterbug
HP              38
Name: 732, dtype: object
Name    Spewpa
HP          45
Name: 733, dtype: object
Name    Vivillon
HP            80
Name: 734, dtype: object
Name    Litleo
HP          62
Name: 735, dtype: object
Name    Pyroar
HP          86
Name: 736, dtype: object
Name    Flabébé
HP           44
Name: 737, dtype: object
Name    Floette
HP           54
Name: 738, dtype: object
Name    Florges
HP           78
Name: 739, dtype: object
Name    Skiddo
HP          66
Name: 740, dtype: object
Name    Gogoat
HP         123
Name: 741, dtype: object
Name    Pancham
HP           67
Name: 742, dtype: object
Name    Pangoro
HP           95
Name: 743, dtype: object
Name    Furfrou
HP           75
Name: 744, dtype: object
Name    Espurr
HP          62
Name: 745, dtype: object
Name    MeowsticMale
HP                74
Name: 746, dtype: object
Name    MeowsticFemale
HP                  74
Name: 747, dtype: object
Name    Honedge
HP           45
Name: 748, dtype: object
Name    Doublade
HP            59
Name: 749, dtype: object
Name    AegislashBlade Forme
HP                        60
Name: 750, dtype: object
Name    AegislashShield Forme
HP                         60
Name: 751, dtype: object
Name    Spritzee
HP            78
Name: 752, dtype: object
Name    Aromatisse
HP             101
Name: 753, dtype: object
Name    Swirlix
HP           62
Name: 754, dtype: object
Name    Slurpuff
HP            82
Name: 755, dtype: object
Name    Inkay
HP         53
Name: 756, dtype: object
Name    Malamar
HP           86
Name: 757, dtype: object
Name    Binacle
HP           42
Name: 758, dtype: object
Name    Barbaracle
HP              72
Name: 759, dtype: object
Name    Skrelp
HP          50
Name: 760, dtype: object
Name    Dragalge
HP            65
Name: 761, dtype: object
Name    Clauncher
HP             50
Name: 762, dtype: object
Name    Clawitzer
HP             71
Name: 763, dtype: object
Name    Helioptile
HP              44
Name: 764, dtype: object
Name    Heliolisk
HP             62
Name: 765, dtype: object
Name    Tyrunt
HP          58
Name: 766, dtype: object
Name    Tyrantrum
HP             82
Name: 767, dtype: object
Name    Amaura
HP          77
Name: 768, dtype: object
Name    Aurorus
HP          123
Name: 769, dtype: object
Name    Sylveon
HP           95
Name: 770, dtype: object
Name    Hawlucha
HP            78
Name: 771, dtype: object
Name    Dedenne
HP           67
Name: 772, dtype: object
Name    Carbink
HP           50
Name: 773, dtype: object
Name    Goomy
HP         45
Name: 774, dtype: object
Name    Sliggoo
HP           68
Name: 775, dtype: object
Name    Goodra
HP          90
Name: 776, dtype: object
Name    Klefki
HP          57
Name: 777, dtype: object
Name    Phantump
HP            43
Name: 778, dtype: object
Name    Trevenant
HP             85
Name: 779, dtype: object
Name    PumpkabooAverage Size
HP                         49
Name: 780, dtype: object
Name    PumpkabooSmall Size
HP                       44
Name: 781, dtype: object
Name    PumpkabooLarge Size
HP                       54
Name: 782, dtype: object
Name    PumpkabooSuper Size
HP                       59
Name: 783, dtype: object
Name    GourgeistAverage Size
HP                         65
Name: 784, dtype: object
Name    GourgeistSmall Size
HP                       55
Name: 785, dtype: object
Name    GourgeistLarge Size
HP                       75
Name: 786, dtype: object
Name    GourgeistSuper Size
HP                       85
Name: 787, dtype: object
Name    Bergmite
HP            55
Name: 788, dtype: object
Name    Avalugg
HP           95
Name: 789, dtype: object
Name    Noibat
HP          40
Name: 790, dtype: object
Name    Noivern
HP           85
Name: 791, dtype: object
Name    Xerneas
HP          126
Name: 792, dtype: object
Name    Yveltal
HP          126
Name: 793, dtype: object
Name    Zygarde50% Forme
HP                   108
Name: 794, dtype: object
Name    Diancie
HP           50
Name: 795, dtype: object
Name    DiancieMega Diancie
HP                       50
Name: 796, dtype: object
Name    HoopaHoopa Confined
HP                       80
Name: 797, dtype: object
Name    HoopaHoopa Unbound
HP                      80
Name: 798, dtype: object
Name    Volcanion
HP             80
Name: 799, dtype: object

## To see the unique values in a particular column.

In [30]:
df['Type 1'].unique()
#print(df['Type 1'].unique())

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

## To see the Counts of the category in a data

In [31]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [32]:
df['Type 1'].mode()

0    Water
Name: Type 1, dtype: object

## To find the specific information in a data or to apply a condition in a data

In [33]:

df[df['Type 1']=='Fire'] #it print only the data of Fire type1 pokemons

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,Charmander,Fire,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,58,64,58,80,65,80,1,False
6,Charizard,Fire,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,78,104,78,159,115,100,1,False
42,Vulpix,Fire,38,41,40,50,65,65,1,False
43,Ninetales,Fire,73,76,75,81,100,100,1,False
63,Growlithe,Fire,55,70,45,70,50,60,1,False
64,Arcanine,Fire,90,110,80,100,80,95,1,False
83,Ponyta,Fire,50,85,55,65,65,90,1,False
84,Rapidash,Fire,65,100,70,80,80,105,1,False
135,Magmar,Fire,65,95,57,100,85,93,1,False
147,Flareon,Fire,65,130,60,95,110,65,1,False
158,Moltres,Fire,90,100,90,125,85,90,1,True
169,Cyndaquil,Fire,39,52,43,60,50,65,2,False
170,Quilava,Fire,58,64,58,80,65,80,2,False
171,Typhlosion,Fire,78,84,78,109,85,100,2,False
236,Slugma,Fire,40,40,40,70,40,20,2,False
237,Magcargo,Fire,50,50,120,80,80,30,2,False
259,Magby,Fire,45,75,37,70,55,83,2,False
263,Entei,Fire,115,115,85,90,75,100,2,True
270,Ho-oh,Fire,106,130,90,110,154,90,2,True
276,Torchic,Fire,45,60,40,70,50,45,3,False
277,Combusken,Fire,60,85,60,85,60,55,3,False
278,Blaziken,Fire,80,120,70,110,70,80,3,False
279,BlazikenMega Blaziken,Fire,80,160,80,130,80,100,3,False
352,Numel,Fire,60,60,40,65,45,35,3,False
353,Camerupt,Fire,70,100,70,105,75,40,3,False
354,CameruptMega Camerupt,Fire,70,120,100,145,105,20,3,False
355,Torkoal,Fire,70,85,140,85,70,20,3,False
435,Chimchar,Fire,44,58,44,58,44,61,4,False
436,Monferno,Fire,64,78,52,78,52,81,4,False
437,Infernape,Fire,76,104,71,104,71,108,4,False
518,Magmortar,Fire,75,95,67,125,95,83,4,False
542,Heatran,Fire,91,90,106,130,106,77,4,True
557,Tepig,Fire,65,63,45,45,45,45,5,False
558,Pignite,Fire,90,93,55,70,55,55,5,False
559,Emboar,Fire,110,123,65,100,65,65,5,False
572,Pansear,Fire,50,53,48,53,48,64,5,False
573,Simisear,Fire,75,98,63,98,63,101,5,False
614,Darumaka,Fire,70,90,45,15,45,50,5,False
615,DarmanitanStandard Mode,Fire,105,140,55,30,55,95,5,False
616,DarmanitanZen Mode,Fire,105,30,105,140,105,55,5,False
692,Heatmor,Fire,85,97,66,105,66,65,5,False
721,Fennekin,Fire,40,45,40,62,60,60,6,False
722,Braixen,Fire,59,59,58,90,70,73,6,False
723,Delphox,Fire,75,69,72,114,100,104,6,False
730,Fletchinder,Fire,62,73,55,56,52,84,6,False
731,Talonflame,Fire,78,81,71,74,69,126,6,False
735,Litleo,Fire,62,50,58,73,54,72,6,False
736,Pyroar,Fire,86,68,72,109,66,106,6,False
799,Volcanion,Fire,80,110,120,130,90,70,6,True

## it sort the values in ascending order

In [34]:
df.sort_values(by=['Name']) ## on the basis of Name

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,Abomasnow,Grass,90,92,75,92,85,60,4,False
511,AbomasnowMega Abomasnow,Grass,90,132,105,132,105,30,4,False
68,Abra,Psychic,25,20,15,105,55,90,1,False
392,Absol,Dark,65,130,60,75,60,75,3,False
393,AbsolMega Absol,Dark,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...
632,Zoroark,Dark,60,105,60,120,60,105,5,False
631,Zorua,Dark,40,65,40,80,40,65,5,False
46,Zubat,Poison,40,45,35,30,40,55,1,False
695,Zweilous,Dark,72,85,70,65,70,58,5,False
794,Zygarde50% Forme,Dragon,108,100,121,81,95,95,6,True

In [35]:
df.sort_values(by=['Attack'])

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,Happiny,Normal,100,5,5,15,65,30,4,False
121,Chansey,Normal,250,5,5,35,105,50,1,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False
261,Blissey,Normal,255,10,10,75,135,55,2,False
139,Magikarp,Water,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True

In [36]:
df['Attack'].min()

5

## it sort the values in descending order

In [37]:
df.sort_values(by=['Name'],ascending=False)

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,Zygarde50% Forme,Dragon,108,100,121,81,95,95,6,True
695,Zweilous,Dark,72,85,70,65,70,58,5,False
46,Zubat,Poison,40,45,35,30,40,55,1,False
631,Zorua,Dark,40,65,40,80,40,65,5,False
632,Zoroark,Dark,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...
393,AbsolMega Absol,Dark,65,150,60,115,60,115,3,False
392,Absol,Dark,65,130,60,75,60,75,3,False
68,Abra,Psychic,25,20,15,105,55,90,1,False
511,AbomasnowMega Abomasnow,Grass,90,132,105,132,105,30,4,False
510,Abomasnow,Grass,90,92,75,92,85,60,4,False

In [38]:
df.sort_values(['Attack'],ascending=False)

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...
139,Magikarp,Water,20,10,55,15,20,80,1,False
261,Blissey,Normal,255,10,10,75,135,55,2,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False
121,Chansey,Normal,250,5,5,35,105,50,1,False
488,Happiny,Normal,100,5,5,15,65,30,4,False

## when two columns name is given the it sort the values according to the first column

In [39]:
df.sort_values(["Attack","Name"])

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,Chansey,Normal,250,5,5,35,105,50,1,False
488,Happiny,Normal,100,5,5,15,65,30,4,False
261,Blissey,Normal,255,10,10,75,135,55,2,False
139,Magikarp,Water,20,10,55,15,20,80,1,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False
...,...,...,...,...,...,...,...,...,...,...
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True

In [40]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

## here it shows both column in descending order¶

In [41]:
df.sort_values(["Type 1","Attack"],ascending=[False,False])

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
141,GyaradosMega Gyarados,Water,95,155,109,70,130,81,1,False
283,SwampertMega Swampert,Water,100,150,110,95,110,70,3,False
422,KyogrePrimal Kyogre,Water,100,150,90,180,160,90,3,True
349,SharpedoMega Sharpedo,Water,70,140,70,110,65,105,3,False
107,Kingler,Water,55,130,115,50,50,75,1,False
...,...,...,...,...,...,...,...,...,...,...
446,Kricketot,Bug,37,25,41,25,41,25,4,False
733,Spewpa,Bug,45,22,60,27,30,29,6,False
14,Metapod,Bug,50,20,55,25,25,30,1,False
179,Ledyba,Bug,40,20,30,40,80,55,2,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False

In [42]:
df["Attack"].max()

190

In [43]:
df[df["HP"]==df["HP"].max()]["Name"]

261    Blissey
Name: Name, dtype: object

## here it shows both column in ascending order¶

In [44]:
df.sort_values(["Attack","Type 1"])

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,Chansey,Normal,250,5,5,35,105,50,1,False
488,Happiny,Normal,100,5,5,15,65,30,4,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False
261,Blissey,Normal,255,10,10,75,135,55,2,False
139,Magikarp,Water,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True

# Making changes to  the Data : Feature engineering:part of preprocessing)
mostly used in ML where ml model accurcay matters it works in cycle.

### Feature engineering:

### Feature engineering refers to manipulation — addition, deletion, combination, mutation — of your data set to improve machine learning model training, leading to better performance and greater accuracy. Effective feature engineering is based on sound knowledge of the business problem and the available data sources.


It involves:

- Feature creation
- feature transformation
- feature selection

 ### A common example of feature engineering is when your doctor uses your body mass index (BMI). BMI is calculated from both body weight and height, and serves as a surrogate for a characteristic that is very hard to accurately measure: the proportion of lean body mass.


in house price  data one column is no of bedrroms, no of washrooms  and these columns are important to predict price but we need to consider only one column so we do feature engineering by constructing  new feature square feet area from both in such a way no information gets lost.

Here , we compute total`and drop those individuals with out losing information

In [119]:
#Here i am added the columns HP, Attack, Defense, Sp.Atk, Sp.Def,Speed and named it as Total
#first input is going to colon which means all rows everything[:]
#then count the column here HP is the 2 column upto 9 column speed[:,2:8]
#then define the axis along which you want to add here axis=1 means horizontally


df['Total']=df.iloc[:,2:8].sum(axis=1)
df

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,80,110,120,130,90,70,6,True,600

 ## Total sum of all stats that come after this, a general guide to how strong a Pokemon is

In [120]:
df["Total"].max()  ## strongest pokemon stats

780

## Who is strongest pokemon

In [121]:
df[df['Total']==780]["Name"]

163      MewtwoMega Mewtwo X
164      MewtwoMega Mewtwo Y
426    RayquazaMega Rayquaza
Name: Name, dtype: object

## Arrange the column order

In [48]:
col=list(df.columns)
col

['Name',
 'Type 1',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [49]:
col[0:2]+[col[-1]]+col[2:10]  ## concatenation

['Name',
 'Type 1',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [50]:
# Arranging the columns

df=df[col[0:2]+[col[-1]]+col[2:10]]
df

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,600,80,110,120,130,90,70,6,True

## Drop

In [51]:
pokemon=df.drop(columns=['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed'])

In [52]:
pokemon

                      Name   Type 1  Total  Generation  Legendary
0                Bulbasaur    Grass    318           1      False
1                  Ivysaur    Grass    405           1      False
2                 Venusaur    Grass    525           1      False
3    VenusaurMega Venusaur    Grass    625           1      False
4               Charmander     Fire    309           1      False
..                     ...      ...    ...         ...        ...
795                Diancie     Rock    600           6       True
796    DiancieMega Diancie     Rock    700           6       True
797    HoopaHoopa Confined  Psychic    600           6       True
798     HoopaHoopa Unbound  Psychic    680           6       True
799              Volcanion     Fire    600           6       True

[800 rows x 5 columns]

## Saving our transformed/cleaned Data (Exporting into desired format)

## To save the dataset

In [53]:
pokemon.to_csv('updated_pokemon.csv',index=False) #here index=False to delete the extra indexes of csv format

In [54]:
# pokemon

In [55]:
##pokemon=pd.read_csv('updated_pokemon.csv')

## Filtering of data Or Condition in data

In [56]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [57]:
df[(df['Type 1']=="Grass") | (df['Legendary']==True)]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
48,Oddish,Grass,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,600,80,110,120,130,90,70,6,True

In [58]:
df[(df['Attack']==df['Attack'].min()) | (df['HP']==df['HP'].max())]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,Chansey,Normal,450,250,5,5,35,105,50,1,False
261,Blissey,Normal,540,255,10,10,75,135,55,2,False
488,Happiny,Normal,220,100,5,5,15,65,30,4,False

In [59]:
## or

In [60]:
df.iloc[np.where((df['Attack']==min(df['Attack'])) | (df['HP']==max(df['HP'])))]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,Chansey,Normal,450,250,5,5,35,105,50,1,False
261,Blissey,Normal,540,255,10,10,75,135,55,2,False
488,Happiny,Normal,220,100,5,5,15,65,30,4,False

In [61]:
# df[(df['Type 1']=="Dragon") & (df['Type 2']=='Fire')]

In [62]:
df[(df['Type 1']=="Grass") | (df['Legendary']==True)]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
48,Oddish,Grass,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,600,80,110,120,130,90,70,6,True

In [63]:
df[(df['Type 1']=='Grass') & (df['Generation']==6) & (df['Attack']>100)]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
720,Chesnaught,Grass,530,88,107,122,74,75,64,6,False

In [64]:
df[df['Name']=='Pikachu']#To find the any name in the data

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,Pikachu,Electric,320,35,55,40,50,50,90,1,False

In [65]:
df[df['Name']=='Raichu']

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
31,Raichu,Electric,485,60,90,55,90,80,110,1,False

In [66]:
# Here loc is for locating a string based column
#df.loc[df['Type 1']=='Fire','Type 1']='Flamer' #it chnages the Fire to Flamer in Type 1 column
#df

In [67]:
#df[df['Type 1']=='Flamer']

In [68]:
#df[(df['Type 1']=='Flamer') & (df['Generation']==6) & (df['Legendary']==True)]

### Insights

In [69]:
df.dtypes

Name          object
Type 1        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

## How many types of pokemon exist in this catelog

In [70]:
len(df["Type 1"].unique())

18

####  Insight : 18 types of pokemon exist

## Following are the categories

In [71]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

## Which pokemon type has highest and lowest instances

In [72]:
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

####  water type pokemon is more and flying pokemon is less

### How many legends pokemon

In [73]:
df["Legendary"].unique()

array([False,  True])

In [74]:
df["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

## Upto which generation pokemon exits

In [75]:
df["Generation"].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

## Which generation has more pokemon

In [76]:
df["Generation"].value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

##  Which category of  pokemon  is strongest and weekest

In [77]:
df[df["Total"]==df["Total"].max()]["Type 1"]

163    Psychic
164    Psychic
426     Dragon
Name: Type 1, dtype: object

In [78]:
df[df["Total"]==df["Total"].min()]["Type 1"]

206    Grass
Name: Type 1, dtype: object

In [79]:
#df.sort_values(by="Total",ascending=False)

In [80]:
#df.sort_values(by="Total",ascending=False).tail()  ## weekest

### Strongest pokemon of types : Dragon and Psychic type
### weekest :  Grass type

## Find top 5 pokemon based on total

In [81]:
df.sort_values(by="Total",ascending=False).head(5)

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,RayquazaMega Rayquaza,Dragon,780,105,180,100,180,100,115,3,True
164,MewtwoMega Mewtwo Y,Psychic,780,106,150,70,194,120,140,1,True
163,MewtwoMega Mewtwo X,Psychic,780,106,190,100,154,100,130,1,True
422,KyogrePrimal Kyogre,Water,770,100,150,90,180,160,90,3,True
424,GroudonPrimal Groudon,Ground,770,100,180,160,150,90,90,3,True

## Find the maximum,min and average stats of each category of pokemon

In [82]:
df.groupby(['Type 1'])['Total'].agg(["max","mean","min"])

          max        mean  min
Type 1
Bug       600  378.927536  194
Dark      680  445.741935  220
Dragon    780  550.531250  300
Electric  610  443.409091  205
Fairy     680  413.176471  218
Fighting  625  416.444444  210
Fire      680  458.076923  250
Flying    580  485.000000  245
Ghost     680  439.562500  275
Grass     630  421.142857  180
Ground    770  437.500000  265
Ice       580  433.458333  250
Normal    720  401.683673  190
Poison    535  399.142857  245
Psychic   780  475.947368  198
Rock      700  453.750000  280
Steel     700  487.703704  300
Water     770  430.455357  200

In [83]:
x=df.groupby(['Type 1'])['Total'].agg(["max","mean","min"])
x.sort_values(by="mean",ascending=False)
## or df.groupby(['Type 1'])['Total'].agg(["max","mean","min"]).sort_values(by="mean")

          max        mean  min
Type 1
Dragon    780  550.531250  300
Steel     700  487.703704  300
Flying    580  485.000000  245
Psychic   780  475.947368  198
Fire      680  458.076923  250
Rock      700  453.750000  280
Dark      680  445.741935  220
Electric  610  443.409091  205
Ghost     680  439.562500  275
Ground    770  437.500000  265
Ice       580  433.458333  250
Water     770  430.455357  200
Grass     630  421.142857  180
Fighting  625  416.444444  210
Fairy     680  413.176471  218
Normal    720  401.683673  190
Poison    535  399.142857  245
Bug       600  378.927536  194

## Dragon type of pokemon is powerful  and Bug is weekest based on average stats points,

### details of Dragon type pokemon

In [84]:
df[df["Type 1"]=="Dragon"]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
159,Dratini,Dragon,300,41,64,45,50,50,50,1,False
160,Dragonair,Dragon,420,61,84,65,70,70,70,1,False
161,Dragonite,Dragon,600,91,134,95,100,100,80,1,False
365,Altaria,Dragon,490,75,70,90,70,105,80,3,False
366,AltariaMega Altaria,Dragon,590,75,110,110,110,105,80,3,False
406,Bagon,Dragon,300,45,75,60,40,30,50,3,False
407,Shelgon,Dragon,420,65,95,100,60,50,50,3,False
408,Salamence,Dragon,600,95,135,80,110,80,100,3,False
409,SalamenceMega Salamence,Dragon,700,95,145,130,120,90,120,3,False
417,Latias,Dragon,600,80,80,90,110,130,110,3,True
418,LatiasMega Latias,Dragon,700,80,100,120,140,150,110,3,True
419,Latios,Dragon,600,80,90,80,130,110,110,3,True
420,LatiosMega Latios,Dragon,700,80,130,100,160,120,110,3,True
425,Rayquaza,Dragon,680,105,150,90,150,90,95,3,True
426,RayquazaMega Rayquaza,Dragon,780,105,180,100,180,100,115,3,True
491,Gible,Dragon,300,58,70,45,40,45,42,4,False
492,Gabite,Dragon,410,68,90,65,50,55,82,4,False
493,Garchomp,Dragon,600,108,130,95,80,85,102,4,False
494,GarchompMega Garchomp,Dragon,700,108,170,115,120,95,92,4,False
671,Axew,Dragon,320,46,87,60,30,40,57,5,False
672,Fraxure,Dragon,410,66,117,70,40,50,67,5,False
673,Haxorus,Dragon,540,76,147,90,60,70,97,5,False
682,Druddigon,Dragon,485,77,120,90,60,90,48,5,False
706,Reshiram,Dragon,680,100,120,100,150,120,90,5,True
707,Zekrom,Dragon,680,100,150,120,120,100,90,5,True
710,Kyurem,Dragon,660,125,130,90,130,90,95,5,True
711,KyuremBlack Kyurem,Dragon,700,125,170,100,120,90,95,5,True
712,KyuremWhite Kyurem,Dragon,700,125,120,90,170,100,95,5,True
774,Goomy,Dragon,300,45,50,35,55,75,40,6,False
775,Sliggoo,Dragon,452,68,75,53,83,113,60,6,False
776,Goodra,Dragon,600,90,100,70,110,150,80,6,False
794,Zygarde50% Forme,Dragon,600,108,100,121,81,95,95,6,True

In [85]:
df[(df["Type 1"]=="Dragon") & (df["Total"]==780)]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,RayquazaMega Rayquaza,Dragon,780,105,180,100,180,100,115,3,True

## Which pokeman whose total points is max and min

In [86]:
df[df['Total']==df['Total'].max()]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,MewtwoMega Mewtwo X,Psychic,780,106,190,100,154,100,130,1,True
164,MewtwoMega Mewtwo Y,Psychic,780,106,150,70,194,120,140,1,True
426,RayquazaMega Rayquaza,Dragon,780,105,180,100,180,100,115,3,True

In [87]:
df[df['Total']==df['Total'].min()]

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
206,Sunkern,Grass,180,30,30,30,30,30,30,2,False

## Find the average,max and min total stats of each type 1 along with pokemon names

In [88]:
df.groupby(['Type 1','Name'])['Total'].agg(['mean','max','min'])

                               mean  max  min
Type 1 Name
Bug    Accelgor               495.0  495  495
       Ariados                390.0  390  390
       Beautifly              395.0  395  395
       Beedrill               395.0  395  395
       BeedrillMega Beedrill  495.0  495  495
...                             ...  ...  ...
Water  Wailord                500.0  500  500
       Wartortle              405.0  405  405
       Whiscash               468.0  468  468
       Wingull                270.0  270  270
       Wooper                 210.0  210  210

[800 rows x 3 columns]

### Which generation' pokemon is strongest

In [89]:
df.groupby(['Generation'])['Total'].agg(['mean','max','min']).sort_values(by="max",ascending=False)

                  mean  max  min
Generation
1           426.813253  780  195
3           436.225000  780  190
4           459.016529  720  194
2           418.283019  700  180
5           434.987879  700  255
6           436.378049  700  200

### of Which generation which type of pokemon is strongest

In [90]:
df.groupby(['Generation','Type 1'])['Total'].agg(['mean','max','min'])

                           mean  max  min
Generation Type 1
1          Bug       366.428571  600  195
           Dragon    440.000000  600  300
           Electric  444.444444  580  320
           Fairy     403.000000  483  323
           Fighting  412.142857  505  305
...                         ...  ...  ...
6          Poison    407.000000  494  320
           Psychic   513.400000  680  355
           Rock      485.777778  700  306
           Steel     456.600000  520  325
           Water     415.800000  530  314

[98 rows x 3 columns]

## Top 5 pokemon based on hp

In [91]:
df.sort_values(by="HP",ascending=False)[["Name","Type 1","Generation","Legendary","HP"]].head(5)

          Name   Type 1  Generation  Legendary   HP
261    Blissey   Normal           2      False  255
121    Chansey   Normal           1      False  250
217  Wobbuffet  Psychic           2      False  190
351    Wailord    Water           3      False  170
655  Alomomola    Water           5      False  165

## Normal type has highest HP

## Find max,min and average HP  of each type

In [92]:
df.groupby(["Type 1"])["HP"].agg(["max","min","mean"]).sort_values(by="max",ascending=False)

          max  min       mean
Type 1
Normal    255   30  77.275510
Psychic   190   20  70.631579
Water     170   20  72.062500
Ghost     150   20  64.437500
Fighting  144   30  69.851852
Dark      126   35  66.806452
Fairy     126   35  74.117647
Dragon    125   41  83.312500
Rock      123   30  65.363636
Grass     123   30  67.271429
Ground    115   10  73.781250
Fire      115   38  69.903846
Ice       110   36  72.000000
Poison    105   35  67.250000
Steel     100   40  65.222222
Electric   90   20  59.795455
Bug        86    1  56.884058
Flying     85   40  70.750000

### normal type has highest hp
### flyinh type has lowest hp

## Top 5 pokemon based on Attack

In [93]:
df.sort_values(by="Attack",ascending=False)[["Name","Type 1","Generation","Legendary","Attack"]].head(5)

                        Name   Type 1  Generation  Legendary  Attack
163      MewtwoMega Mewtwo X  Psychic           1       True     190
232  HeracrossMega Heracross      Bug           2      False     185
424    GroudonPrimal Groudon   Ground           3       True     180
426    RayquazaMega Rayquaza   Dragon           3       True     180
429       DeoxysAttack Forme  Psychic           3       True     180

## Find max,min and average attack of each Type

In [94]:
df.groupby(["Type 1"])["Attack"].agg(["max","min","mean"]).sort_values(by="max",ascending=False)

          max  min        mean
Type 1
Psychic   190   20   71.456140
Bug       185   10   70.971014
Dragon    180   50  112.125000
Ground    180   40   95.750000
Ghost     165   30   73.781250
Rock      165   40   92.863636
Normal    160    5   73.469388
Fire      160   30   84.769231
Water     155   10   74.151786
Dark      150   50   88.387097
Steel     150   24   92.703704
Fighting  145   35   96.777778
Grass     132   27   73.214286
Fairy     131   20   61.529412
Ice       130   30   72.750000
Electric  123   30   69.090909
Flying    115   30   78.750000
Poison    106   43   74.678571

## psycic has strongest attck
## Poison has weekest attack.

## Top 5 pokemon based on Speed

In [95]:
df.sort_values(by="Speed",ascending=False)[["Name","Type 1","Generation","Legendary","Speed"]].head(5)

                          Name   Type 1  Generation  Legendary  Speed
431          DeoxysSpeed Forme  Psychic           3       True    180
315                    Ninjask      Bug           3      False    160
428         DeoxysNormal Forme  Psychic           3       True    150
154  AerodactylMega Aerodactyl     Rock           1      False    150
71       AlakazamMega Alakazam  Psychic           1      False    150

## Findmax,min and average speed of each type

In [96]:
df.groupby(["Type 1"])["Speed"].agg(["max","min","mean"]).sort_values(by="max",ascending=False)

          max  min        mean
Type 1
Psychic   180   20   81.491228
Bug       160    5   61.681159
Rock      150   10   55.909091
Grass     145   10   61.928571
Electric  140   35   84.500000
Normal    135    5   71.551020
Ghost     130   20   64.343750
Poison    130   25   63.571429
Fire      126   20   74.442308
Dark      125   20   76.161290
Flying    123   55  102.500000
Water     122   15   65.964286
Ground    120   10   63.906250
Dragon    120   40   83.031250
Fighting  118   25   66.074074
Ice       110   25   63.458333
Steel     110   23   55.259259
Fairy      99   15   48.588235

## psycic has high spped
## fairy has low speed

## Top 5 pokemon based on Defence

In [97]:
df.sort_values(by="Defense",ascending=False)[["Name","Type 1","Generation","Legendary","Defense"]].head(5)

                    Name Type 1  Generation  Legendary  Defense
230              Shuckle    Bug           2      False      230
224  SteelixMega Steelix  Steel           2      False      230
333    AggronMega Aggron  Steel           3      False      230
223              Steelix  Steel           2      False      200
414             Regirock   Rock           3       True      200

## Find max,min and average defense of each type

In [98]:
df.groupby(["Type 1"])["Defense"].agg(["max","min","mean"]).sort_values(by="max",ascending=False)

          max  min        mean
Type 1
Bug       230   30   70.724638
Steel     230   50  126.370370
Rock      200   40  100.795455
Ice       184   15   71.416667
Water     180   20   72.946429
Ground    160   25   84.843750
Psychic   160   15   67.684211
Ghost     145   30   81.187500
Fire      140   37   67.769231
Grass     131   30   70.800000
Dragon    130   35   86.375000
Normal    126    5   59.846939
Dark      125   30   70.225806
Poison    120   35   68.821429
Electric  115   15   66.295455
Fighting   95   30   65.925926
Fairy      95   28   65.705882
Flying     80   35   66.250000

## bug has high defense power
## flying has low defense power

## Top 5 pokemon based on spl. attack.

In [99]:
df.sort_values(by="Sp. Atk",ascending=False)[["Name","Type 1","Generation","Legendary","Sp. Atk"]].head(5)

                      Name   Type 1  Generation  Legendary  Sp. Atk
164    MewtwoMega Mewtwo Y  Psychic           1       True      194
422    KyogrePrimal Kyogre    Water           3       True      180
429     DeoxysAttack Forme  Psychic           3       True      180
426  RayquazaMega Rayquaza   Dragon           3       True      180
71   AlakazamMega Alakazam  Psychic           1      False      175

## Find max,min and average spl.attack of each type

In [100]:
df.groupby(["Type 1"])["Sp. Atk"].agg(["max","min","mean"]).sort_values(by="mean",ascending=False)

          max  min       mean
Type 1
Psychic   194   23  98.403509
Dragon    180   30  96.843750
Flying    125   45  94.250000
Electric  165   35  90.022727
Fire      159   15  88.980769
Ghost     170   30  79.343750
Fairy     131   40  78.529412
Ice       130   30  77.541667
Grass     145   24  77.500000
Water     180   10  74.812500
Dark      140   30  74.645161
Steel     150   24  67.518519
Rock      160   10  63.340909
Poison    100   30  60.428571
Ground    150   20  56.468750
Normal    135   15  55.816327
Bug       135   10  53.869565
Fighting  140   20  53.111111

## Top 5 pokemon based on spl. defence.

In [101]:
df.sort_values(by="Sp. Def",ascending=False)[["Name","Type 1","Generation","Legendary","Sp. Def"]].head(5)

                    Name   Type 1  Generation  Legendary  Sp. Def
230              Shuckle      Bug           2      False      230
415               Regice      Ice           3       True      200
430  DeoxysDefense Forme  Psychic           3       True      160
422  KyogrePrimal Kyogre    Water           3       True      160
270                Ho-oh     Fire           2       True      154

## Find max,min and average spl.defense of each type

In [102]:
df.groupby(["Type 1"])["Sp. Def"].agg(["max","min","mean"]).sort_values(by="mean",ascending=False)

          max  min       mean
Type 1
Dragon    150   30  88.843750
Psychic   160   20  86.280702
Fairy     154   40  84.705882
Steel     150   37  80.629630
Ghost     135   33  76.468750
Ice       200   30  76.291667
Rock      150   25  75.477273
Electric  110   32  73.704545
Flying     90   40  72.500000
Fire      154   40  72.211538
Water     160   20  70.517857
Grass     129   30  70.428571
Dark      130   30  69.516129
Bug       230   20  64.797101
Fighting  110   30  64.703704
Poison    123   40  64.392857
Normal    135   20  63.724490
Ground    120   30  62.750000